[2016-10-12 10:47] hackshields opened #1 "no database"
Where's the database? I found error while running like this Api.Socioboard.Controllers.UserController: Error: Unknown column 'user0_.FirstName' in 'field list'

[2016-10-14 11:39] socioboard commented on #1
DB schema has been updated, please get it from the repo.

[2016-10-23 17:15] #1 closed

[2016-12-01 15:10] apcloic opened #2 "linux installation script ?"
Hi,
Socioboard team has announced that Socioboard 3.0 will come with a linux install script in the following thread :
 https://github.com/socioboard/socioboard-core/issues/10

AFAIK, version 3.0 is out for some time, do you still plan to release this script or not ?

Regards,

[2017-01-28 11:24] maksudcs opened #3 "Unable to start process E:Socioboard-core-3.0-master\Socioboard-Core-3.0-master\src\Socioboard\bit\debug\net451\win7-x86\Socioboard.exe"

[2017-01-30 06:07] socioboard commented on #3
Hi maksudcs,
just clean the project (right click on project and select the option clean solution),
rebuild it again and run it .

Thanks
socioboard team

[2017-01-30 10:28] maksudcs commented on #3
thanks for reply.

Clean or rebuild does not work.
simply clean the temp folder = > restart the PC  => again rebuild the solution then worked perfectly.

[2017-02-03 05:41] maksudcs opened #4 "A timeout occured after 30000ms selecting a server using CompositeServerSelecto"
A timeout occured after 30000ms selecting a server using CompositeServerSelector{ Selectors = ReadPreferenceServerSelector{ ReadPreference = { Mode = Primary, TagSets = [] } }, LatencyLimitingServerSelector{ AllowedLatencyRange = 00:00:00.0150000 } }. Client view of cluster state is { ClusterId : "1", ConnectionMode : "Automatic", Type : "Unknown", State : "Disconnected", Servers : [{ ServerId: "{

[2017-02-03 08:17] socioboard commented on #4
Hi maksudcs,
                     Please install mongobd. If you already installed than authorized it.

[2017-02-04 18:36] maksudcs opened #5 "Publishing error in web api"
Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not find a part of the path 'E:\Socioboard-Core-3.0-master\Socioboard-Core-3.0-master\src\Api.Socioboard\bin\Release\net451\win\Api.Socioboard.exe'.	Api.Socioboard		0
![error](https://cloud.githubusercontent.com/assets/17357327/22620676/234c0504-eb3b-11e6-8485-458ee4895bae.png)

[2017-02-04 18:37] maksudcs commented on #5
please take a look..

[2017-02-05 16:11] maksudcs commented on #5
any one please help me .. its very urgent..

[2017-02-06 09:58] socioboard commented on #5
Hi Maksudcs,
Please delete data from bin folder
path- api.socioboard->bin

then clean and rebuild solution

[2017-02-06 12:53] #3 closed

[2017-02-06 12:53] #4 closed

[2017-02-06 14:49] maksudcs commented on #5
no solved.

[2017-02-07 02:52] maksudcs commented on #5
project.json file

{
  "dependencies": {
    "Domain.Socioboard": "1.0.0-*",
    "Microsoft.AspNetCore.Mvc": "1.0.0",
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.0",
    "Microsoft.Extensions.Configuration.EnvironmentVariables": "1.0.0",
    "Microsoft.Extensions.Configuration.FileExtensions": "1.0.0",
    "Microsoft.Extensions.Configu

[2017-02-07 03:28] maksudcs commented on #5
Web Publishing activity:

rmdir /S /Q "C:\Users\bITS\AppData\Local\Temp\PublishTemp\Api.Socioboard47\"
Environment variables:
Path=.\node_modules\.bin;G:\Program Files (x86)\Web\External;%PATH%;G:\Program Files (x86)\Web\External\git
C:\Program Files (x86)\dotnet\dotnet.exe publish "E:\Work\src\Api.Socioboard" --framework net451 --runtime win --output "C:\Users\bITS\AppData\Local\Temp\PublishTemp\

[2017-02-07 07:55] swetk5 commented on #5
Hi maksudcs ,
1 . Please install this in your project using NuGet Package Manager :
 DotNetCore.1.0.1-SDK.1.0.0.Preview2-003133-x86

2. Do modification in global json  i.e "version": "1.0.0-preview2-003131"

Thanks

[2017-02-07 08:09] socioboard commented on #5
Hi maksudcs ,
1 . Please install this in your project :
 DotNetCore.1.0.1-SDK.1.0.0.Preview2-003133-x86

2. Do modification in global json  i.e "version": "1.0.0-preview2-003131"

Thanks

[2017-02-07 10:17] maksudcs commented on #5
i have changed , but result is same

[2017-02-07 12:02] socioboard commented on #5
Hi maksudcs,
Can you provide proper screen shot and details for your issue. when and in which you getting this error.
or else you can provide your skype id for remote access.

Thanks
Socioboard Team

[2017-02-10 23:38] alexanderahlsen commented on #2
I have the same question!

[2017-02-11 19:54] maksudcs commented on #5
just comment previous and add below settings:

  "runtimeOptions": {
    "configProperties": {
      "System.GC.Server": true
    }
  },

that solved my publish problem.

[2017-02-11 19:54] #5 closed

[2017-02-13 11:40] alexanderahlsen commented on #2
Hello? @socioboard

[2017-02-15 12:05] socioboard commented on #2
Yes the linux install is in test stages, there are lot of .net dependencies which are .net core is not supporting in linux natively as of now. We are working on porting them. It would take some time. A lot of our work is directly related to Microsoft's ETA on porting .NET Core to linux completely.

[2017-02-15 12:14] alexanderahlsen commented on #2
Ok, from what I understood you were done with it. So no ETA on that? I'm in need of the Linux version :)

[2017-02-19 04:35] maksudcs opened #6 "Any one deploy socioboard in amazon web server (AWS) ?"
I have deployed project in amazon AWS with .Net AWS Tools. below my link:

http://socioboard-dev.us-east-1.elasticbeanstalk.com/

But problem is that, i did not connect with MySql dbinstance thats why can not make login, registration.
if any one do this, please suggest.

Thanks

[2017-02-25 19:49] kasidesh commented on #5
Hi maksucks
    Can you specify more detail on your last comment?

I checked in the project.json it's already has these line of code.

"runtimeOptions": {
"configProperties": {
"System.GC.Server": true
}
},

[2017-02-25 19:53] kasidesh opened #7 "Support upload multiple images"
I have read some of API. It's provide to upload multiple images

This is also related with feed page to display images gallery.

It would be good to have this feature.

[2017-03-03 14:47] maksudcs commented on #5
hi kasidesh ,

i have changed below this

  //"runtimes": { "win": [ "win7-x64", "win8-x64", "win10-x64" ] },
  //"runtimeOptions": {
  //  "configProperties": {
  //    "System.GC.Server": true
  //  }
  //},
  "runtimeOptions": {
    "configProperties": {
      "System.GC.Server": true
    }
  },

i just comment runtimes properties..

[2017-03-09 12:29] socioboard commented on #7
We will add this feature in next release in coming months

[2017-03-09 16:40] maksudcs commented on #6
yes. use RDS for mysql database.

[2017-03-14 06:14] khususgw opened #8 "Cant create user"
i have done build using visual studio 2015 in my windows server 2008 and mariadb

but when i try to create new user
a red pop up (cant create user) is showing

but when i try to connect my database using phpmyadmin and heidisql my database is connected,

any one can help me to solve my problem? thanks

[2017-03-20 07:50] socioboard commented on #8
Unable to save the data in database check your db connection string setting properly.

Thanks
Socioboard Team

[2017-03-20 08:00] khususgw commented on #8
i have check the connection, its localhost connected to mariaDB using username + password i create in mariadb, i can access it using phpmyadmin from iis
, i have change the database name to socioboardlive, and create new query but same result its cant connected from localhost:9821

[2017-03-21 06:13] socioboard commented on #8
Hi Khususgw,
Take new upadates of socioboard 3.0 and check it.
if you face any issue let us know.

Thanks
Socioboard Team

[2017-03-21 08:36] khususgw commented on #8
okaay, i will try new update, and i will ask again if any error, thanks

[2017-03-21 09:28] khususgw commented on #8
after download new updates, i still get same error, cant create user, im using vs 2015, mariadb, iis,
db name same as hibernate.cfg,

[2017-03-27 05:45] socioboard commented on #8
Hi
khususgw ,
can you give provide your teamviewer or skype id
for remote access.

[2017-03-29 07:01] maksudcs opened #9 "how we can align update source for Socioboard-Core-3.0?"
Hello Socioboard Team,

I am regularly working in Socioboard-Core-3.0, fixing error. Alongside socioboard team release their source.

**1. So, how we can align new release source of Socioboard-Core-3.0?
2. Can we commit our source to GitHub**

[2017-03-30 06:10] maksudcs opened #10 "MongoDB error"
A timeout occured after 30000ms selecting a server using CompositeServerSelector{ Selectors = ReadPreferenceServerSelector{ ReadPreference = { Mode = Primary, TagSets = [] } }, LatencyLimitingServerSelector{ AllowedLatencyRange = 00:00:00.0150000 } }. Client view of cluster state is { ClusterId : "1", ConnectionMode : "Automatic", Type : "Unknown", State : "Disconnected", Servers : [{ ServerId: "{

[2017-03-30 14:49] socioboard commented on #9
Hey Maksudcs,

I will give you access to the repo, you can commit your codes to the master repo.

[2017-04-01 04:04] maksudcs commented on #10
Solved..

[2017-04-01 04:04] #10 closed

[2017-04-01 04:39] maksudcs opened #11 "StackExchange Radis Configuration"
Hey,
I am getting error on Radis connection.

**"It was not possible to connect to the redis server(s); to create a disconnected multiplexer, disable AbortOnConnectFail. SocketFailure on PING"**

Any one help me to set Redis Configuration..

[2017-04-01 12:07] #9 closed

[2017-04-01 12:07] #8 closed

[2017-04-01 19:39] maksudcs opened #12 "Does not get "My Feeds""
Has any configuration to gett My Feeds (Facebook, twitter, Instagram,Google).  i am tired, already 2 days lost to get "My Feeds".

Please help me. what to do ??

[2017-04-02 06:26] maksudcs commented on #12
Mr Sumit Ghosh,  please suggest what i am missing??

[2017-04-03 04:44] socioboard commented on #12
Hi Maksudcs,
Have you done any mongo setup in local?

[2017-04-03 08:51] maksudcs commented on #12
yes i have install mongoDB community version and run mongod.exe for MongoDB server in according to this tutorial. https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/#overview

When we feed from facebook/twitter, **_Model/MongoRepository.cs_** always return 0 record.
**another question is that when Social  Network (facebook, twitter) data store in MongoDB ?**

[2017-04-03 09:59] socioboard commented on #12
Q 1)When we feed from facebook/twitter, Model/MongoRepository.cs always return 0 record.
 ans : yes because no records found in your mongo db table.

Q 2)another question is that when Social Network (facebook, twitter) data store in MongoDB ?
ans: a)when we add socialprofile  b) run data services to add the data in mongo db.

[2017-04-03 10:25] maksudcs commented on #12
@socioboard thanks for reply..
 please clarify for **b) run data services to add the data in mongo db.**
  How to run data service ??

[2017-04-03 11:35] socioboard commented on #12
@maksudcs
here our support team skype id i.e  socioboard.support

Thanks
Socioboard Team

[2017-04-20 12:52] glunardi commented on #2
Version  1.1.1 of .NET Core (and the rest) was release in March closing quite a few gaps.

Would be happy to help test the GNU/Linux installation and report back.  Could you please share the instructions (in whatever state they are in) even if they result in build/install failures still?

[2017-04-20 17:45] ly2ly opened #13 "Some information"
Hello,

I want to know if server can work on linux?

[2017-05-03 04:31] hungdm9999 opened #14 "post to Twitter failure with error Unauthorized"
Hi everyone,
I'm testing twitter channel with Socioboard latest release (3.0.11), almost works fine (register account, login, add twitter credentials, Schedule new post..).
Running SocioboardDataScheuler with option 2 (Twitter), i always received error 401, Unauthorized as shown in attached picture.

Is any work around on this issue please?

Thank you,
Hung
<img width="598" alt="screen shot 2017-0

[2017-05-03 04:34] hungdm9999 opened #15 "Schedule new Twitter message failure"
Hi dev team,
Adding a new post to twitter, i got a pop show success result but nothing in socio queue.
Having a look deeper, exception thrown with null of <code>localscheduletime</code>, please have it fixed in SocioMessagesController.cs so others can avoid it.

Thank you very much,
Hung,

[2017-05-03 05:16] socioboard commented on #15
You need to add localscheduletime column in scheduledmessage table.datatype for this is DATETIME.

[2017-05-03 06:20] socioboard commented on #14
Hi hungdm9999,
I think you have some access token issue,can you just remove your account and add once again.then it'll may work.

[2017-05-03 06:47] hungdm9999 commented on #14
Thanks,
i looked at table twitteraccounts, access-token and access-token-secret look good.  I also make a clean & cleared database even several times (mysql, mongo and redis are all flushed). It is still not working.
Do you think it is some thing wrong with timestamp?

[2017-05-03 06:54] hungdm9999 commented on #15
Hello,
exception thrown when you try to parse <code>localscheduletime</code> which is <code>null</code> from String to DateTime.
It is before insertion.
PS: latest schema already have field <code> localscheduletime</code> , your previous suggestion is not required to execute.
Thanks,

[2017-05-03 08:02] socioboard commented on #14
Have you deleted your twitter account from database?
1. delete from twitteraccount table..
2.delete from groupprofiles
then add again.

[2017-05-03 08:03] socioboard commented on #15
Have you deleted your twitter account from database?
1. delete from twitteraccount table..
2.delete from groupprofiles
then add again.

[2017-05-03 08:10] socioboard commented on #15
Can you tell me where you exactly get this exception.please send me screenshot for this exception.

[2017-05-03 08:20] hungdm9999 commented on #15
Hi,
SocialMessagesController invoke **ScheduleMessageHelper.ScheduleMessage** to process post.

The line: userlocalscheduletime=DateTime.Parse(localschduletime) raises Exception.
I temporarily by pass this error by some tricks in attached file.

Thanks

<img width="1175" alt="screen shot 2017-05-03 at 3 16 00 pm" src="https://cloud.githubusercontent.com/assets/3163895/25652677/9b883dea-3013-11e7-8

[2017-05-03 08:24] socioboard commented on #14
We uploaded a new code.please take latest updated code.

[2017-05-03 08:24] socioboard commented on #15
We uploaded a new code.please take latest updated code.

[2017-05-03 08:26] hungdm9999 commented on #14
Hi,
I did,
1. Truncate 3 tables: groupprofiles, twitteraccount, shedulemessage
2. Flush all on Redis (i.e: delete all key-value pairs)
3. Remove All Documents from Mongo
4. Add new twitter profile and Schedule new post.
5. All  done as expected, mysql have desired information.
6. Start scheduler to post then i still received 401 (Unauthorized). I think twitter  change their procedure, detail here:

[2017-05-03 08:27] hungdm9999 commented on #15
(y), thanks for your work,

[2017-05-03 09:00] socioboard commented on #15
Thanks closing this issue now :)

[2017-05-03 09:00] #15 closed

[2017-05-03 10:36] socioboard commented on #14
Please run updated code for data scheduler and also make sure to change appsetting.
SS- http://prntscr.com/f3kjwd
use your own app consumerkey and secretkey...

[2017-05-03 10:52] hungdm9999 commented on #14
Hi,
i configured with my own credentials at beginning of this thread. All params were put on AppSetting (ss1), not hard-code directly into the multiple location (as ss2).

I still have 401 with latest source (clone from master branch).

[2017-05-03 10:58] socioboard commented on #14
can i have your team viewer access?so i can check what is the issue.

[2017-05-03 11:08] hungdm9999 commented on #14
i think it is great, where can i send you teamview login id/pass? I'm using latest teamviewer version.

[2017-05-03 11:24] socioboard commented on #14
You can send me here...

[2017-05-03 15:02] hungdm9999 commented on #14
id/pass: 287 773 821/8y53wa

[2017-05-04 04:39] socioboard commented on #14
when should i connect?tell me some exact time when you available online?

[2017-05-04 04:42] hungdm9999 commented on #14
you can access now with 287 773 821/c175ji, please

[2017-05-04 04:49] socioboard commented on #14
Will access at 10:45...after 25 minutes from now.

[2017-05-04 04:50] hungdm9999 commented on #14
ok, see you at 10.45, New Delhi time, thanks

[2017-05-04 05:10] hungdm9999 commented on #14
here is the id: 287 773 821/pe391k

[2017-05-04 05:15] socioboard commented on #14
check your password again previous one is not working

[2017-05-04 05:15] hungdm9999 commented on #14
547utx

[2017-05-04 05:58] hungdm9999 commented on #14
Hi,
Thanks for your support, the problem was my mistake and twitter as well. A potential issue from twitter is that Tw will still grant oauth credentials without any app created. This leads to my certain that the app is still there actually but it is not.
The problem is solved and once again thank for your agressive support.

[2017-05-04 05:58] #14 closed

[2017-05-04 06:42] hungdm9999 opened #16 "Socio Queue listing error"
Hi,
the master-branch have issues with SocioQueue as below:
The SocioQueue listing functions is working incorrectly.
1. It not display all scheduled message. I.e: if you have 2 posts in mysql and 1 cached in redis, it will only looks at Redis and display one.
2. Message was sent is not removed on Redis.
3. The above issue leads to second, post was sent (tweeted to Tw), status=1(sent), but still di

[2017-05-04 14:56] hungdm9999 opened #17 "Compose with image to multipes account failure"
Composing to multiple accounts show success popup but actually failure behind. The reason was exception when accessing one image file multiples time, as detail below:
Message=The process cannot access the file 'C:\work\Socioboard-Core-3.0-master\src\Api.Socioboard\wwwroot\upload\MZKEFRWLQ8.jpg' because it is being used by another process.
  Source=mscorlib
  StackTrace:
       at System.IO.__Error

[2017-05-08 21:41] bisselik opened #18 "Live feed update won´t work"
Whatever deployment I use. From github, or trial on socioboard.com, I wont see any live feed updates from facebook or twitter. The mongodb collection just only get pulled once after signin. I do see a socioboardsdataservices, with command 2 I run into:

Error :    bei System.Net.HttpWebRequest.GetResponse()
   bei Socioboard.Twitter.Authentication.oAuthTwitter.oAuthWebRequest(Method method, String

[2017-05-10 05:57] pablojastorga opened #19 "How to delete a Facebook Fanpage Analityc?"
Hi, I can't find the way to delete a Facebook fanpage analytic. Now I'm trying to add the facebook page and  i get a popup who say "Page added by other user".  Any ideas?  thanks.

Maybe this is not the right place for this issue, but I have sent a mail and I have no answer.  Thanks.

[2017-05-10 13:40] socioboard commented on #19
Hi pablojastorga,
We will released new update for this feature.it will be replicate in next update.

[2017-05-13 07:19] maksudcs opened #20 "Sentimental Analysis"
Hey guys,
I do no see sentimental analysis report.

Best Regards,
Maksud

[2017-05-15 05:02] woakes070048 commented on #2
How is this coming for the Linux install?

[2017-05-18 14:26] socioboard commented on #20
Earlier we were using a python based service, we have deprecated it. Now we are migrating to Azure ML and AWS ML services for sentiment analysis. It will be out in next release.

[2017-05-18 14:26] #20 closed

[2017-05-18 14:26] #19 closed

[2017-05-19 04:44] #7 closed

[2017-05-19 04:45] #12 closed

[2017-05-19 04:58] socioboard commented on #13
Yes it will work on linux server.

[2017-05-19 04:58] #13 closed

[2017-05-19 05:03] socioboard commented on #6
have you allowed inbound and outbound connections in security group of that instance?
means is it in available state?
1. check whether the instance is in available state
2. check the security group of that instance for inbound and outbound

[2017-06-06 15:20] Zzzaps opened #21 "can this compile in VS2017 ?"
Getting errors:
Severity	Code	Description	Project	Path	File	Line	Suppression State
Error	CS0246	The type or namespace name 'Newtonsoft' could not be found (are you missing a using directive or an assembly reference?)	GlobusLinkedinLib	C:\Zap\SocioBoard\SocioboardAPI\Library\GlobusLinkedinLib\App.Core	C:\Zap\SocioBoard\SocioboardAPI\Library\GlobusLinkedinLib\App.Core\LinkedinCompanyPage.cs	10	Activ

[2017-06-07 04:37] socioboard commented on #21
Hi Zzzaps,
we are working on the same issue once done we will push new build on github.

Thanks
Socioboard Team

[2017-06-14 08:47] al-tayeb opened #22 "feeds and reports"
hello everybody
i downloaded socioboard-core-3.0-master and install mongodb and redis-server but feeds and reports still does not work how i can solve this problem and create reports.

thank you

[2017-06-14 17:09] Zzzaps commented on #21
No change with new build. Any suggestions?

[2017-06-14 17:10] Zzzaps commented on #21
No change with new build. Any suggestions?

[2017-06-19 11:15] tejamareddy opened #23 "Socioboard issues"

[2017-06-19 11:16] #23 closed

[2017-06-19 11:16] tejamareddy commented on #23
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Driver' does not exist in the namespace 'MongoDB' (are you missing an assembly reference?)	SocioboardDataServices	D:\Socioboard-Core-3.0-master\src\SocioboardDataServices\Instagram\InstagramFeeds.cs	3	Active
Error	CS0246	The type or namespace name 'IMongoDatabase' could not be found (are you miss

[2017-06-19 11:17] tejamareddy opened #24 "Socioboard Errors"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'Driver' does not exist in the namespace 'MongoDB' (are you missing an assembly reference?)	SocioboardDataServices	D:\Socioboard-Core-3.0-master\src\SocioboardDataServices\Instagram\InstagramFeeds.cs	3	Active
Error	CS0246	The type or namespace name 'IMongoDatabase' could not be found (are you miss

[2017-06-19 11:19] socioboard commented on #22
Hi al-tayeb,
For feeds and report data you have to run "SocioboardDataServices" .

[2017-06-19 11:33] al-tayeb commented on #22
thank you very much for your reply
i published the data service project and ran it on server but still Facebook feeds does not work and group report also
thanks

[2017-06-19 18:37] #24 closed

[2017-06-20 10:13] tejamareddy commented on #22
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0012	The type 'IAsyncCursorSource<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'MongoDB.Driver.Core, Version=2.2.4.26, Culture=neutral, PublicKeyToken=null'.	SociobordRssDataServices	D:\Socioboard-Core-3.0-master\src\SociobordRssDataServices\Model\MongoRepository.cs	77	Active
Error	CS

[2017-06-20 10:14] tejamareddy commented on #22
Im getting the errors above shown while building socioboard in visual studio.net. Can anyone help me

[2017-06-21 05:08] tejamareddy opened #25 "Database error message"
![databaseerror](https://user-images.githubusercontent.com/25472813/27367975-82393d14-566d-11e7-8673-9d3b53c7e7f6.jpg)
Hi when i am running that query i am getting this type of error .I send the image once check and try to help me.

[2017-06-21 06:35] tejamareddy opened #26 "socioboard error message"
![socioboard j](https://user-images.githubusercontent.com/25472813/27370281-811f321a-5679-11e7-9788-abc9035d51d4.jpg)
Hi, I build the socioboard project successfully.But while running the project code i am unable to start the process in localhost.Please help me.

[2017-06-21 07:17] socioboard commented on #26
Hi tejamareddy,
clean the solution and rebuild the project

[2017-06-21 09:01] tejamareddy commented on #26
![socioboardruntimeerror](https://user-images.githubusercontent.com/25472813/27375938-4194f46c-568e-11e7-913c-cb4990a1bc89.jpg)
Hi, After cleaning the solution and rebuilded the project im getting these type of errors.Please help me.

[2017-06-21 10:10] socioboard commented on #26
Hi tejamareddy,
which visual studio version are you using ?

[2017-06-21 10:14] tejamareddy commented on #26
2017

[2017-06-21 10:20] socioboard commented on #26
Do you have visual studio 2015 ?
if you have then try once if not then wait for sometime & let you
know whether it supporting vs 2017 or not.

[2017-06-21 10:27] tejamareddy commented on #26
No, i didn't have.

[2017-06-27 05:26] tejamareddy opened #27 "socioboard project loading issue in Visual Studio 2015"
Hi,
 When i am loading the socioboard sln file into my visual studio 2015 the project files that are in socioboard project is not loading.Can you give me the solution.

[2017-06-27 05:28] tejamareddy commented on #27
![socioboard](https://user-images.githubusercontent.com/25472813/27572084-76e78330-5b27-11e7-8daa-03293c325ecc.jpg)
this is the issue im getting. Can you help me

[2017-06-27 06:00] socioboard commented on #27
Hi tejamareddy,
Just updates notification given upper side .
and install asp.net core preview  .
![image](https://user-images.githubusercontent.com/6312383/27572835-f1fc7036-5b2b-11e7-90bd-e6b2fd87a90d.png)

[2017-06-27 06:04] tejamareddy commented on #27
how can i install it

[2017-06-27 07:53] socioboard commented on #27
For installation details please talk to our support team he will assist you .

Thanks
Socioboard Technical Team

[2017-06-27 09:00] tejamareddy opened #28 "errors occuring while building the socioboard project"
Severity Code Description Project File Line Suppression State
Error NU1001 The dependency System.Reflection.Primitives >= 4.0.1 could not be resolved. Api.Socioboard D:\Socioboard-Core-3.0-master\src\Api.Socioboard\project.json 3

[2017-06-27 09:34] tejamareddy commented on #28
![socioboarderror](https://user-images.githubusercontent.com/25472813/27580916-c2feefe8-5b49-11e7-9761-dff16fca80f1.jpg)
please help me while building im facing these errors.

[2017-06-28 04:48] tejamareddy commented on #28
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0433	The type 'HttpUtility' exists in both 'Hammock.ClientProfile, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c148cfba29ed1a4d' and 'Hammock, Version=1.0.0.0, Culture=neutral, PublicKeyToken=c148cfba29ed1a4d'	Socioboard.Instagram	D:\Socioboard-Core-3.0-master\src\Socioboard.Instagram\Authentication\oAuthBase.cs	335
Error	C

[2017-06-28 06:32] socioboard commented on #28
Hi Tejamareddy,
we are checking now when we finish it will let you know about the solution.

Thanks
SB Technical Team

[2017-06-28 06:32] tejamareddy commented on #28
ok thanks

[2017-06-28 07:35] tejamareddy commented on #28
![socioboarddebug](https://user-images.githubusercontent.com/25472813/27625435-40ae98e0-5c02-11e7-86f2-4b1c5f1b512a.jpg)
I have unloaded the project and reloaded  and followed the procedure step by step  i didnt  get any errors but when im starting debugging im getting this issue.

[2017-06-28 08:11] #27 closed

[2017-06-28 08:12] #26 closed

[2017-06-28 08:15] socioboard commented on #25
Hi,
have you solve this rightor not because alreday we have given solution in support

[2017-06-28 08:16] #25 closed

[2017-06-28 08:24] socioboard commented on #22
Hi,
Our support team have already co-ordinate with you regarding this problem right. so you have solve this ,am closing this issue .
Thanks
Technical Team

[2017-06-28 08:24] #22 closed

[2017-06-28 08:28] socioboard commented on #21
Hi Zzzaps ,
Take new update of socioboard 3.0 and check .if you face same issue please let us know

Thanks
SB Technical Team

[2017-06-28 08:36] socioboard commented on #16
Hi hungdm9999,
sorry for late reply
Take the new updates of socioboard 3.0 and check if you face same
issue please let us know

Thanks
SB Technical Team

[2017-06-28 08:38] socioboard commented on #17
Hi hungdm9999 ,
We are working on the same. when it finish will let you know.

Thanks
SB Technical Team

[2017-06-29 06:16] tejamareddy opened #29 "registration page error"
![registration error](https://user-images.githubusercontent.com/25472813/27673701-f56deaac-5c56-11e7-8fc9-0110c8990e3f.jpg)
while registering the account details in localhost  my details has to be stored in database right. And i need to get login page.But here while registering account the data is not storing and it is stucked in this page only. Can you give me the solution.

[2017-06-29 06:20] #28 closed

[2017-06-29 07:56] hucoco123 opened #30 "when add facebook profie and page,have a mistake is invalid access token"
We are a company from China, is trying to your company's products, its more in-depth development. We will integrate more social platforms in the future.
we like it very much
When I add a facebook account, there will be a mistake，pls see the picture
Will facebook the process of setting up the process need to pay attention to what the problem?
Facebook developer page seems to set exactly the correct

[2017-06-29 08:26] #18 closed

[2017-06-29 08:33] #21 closed

[2017-06-29 08:36] socioboard commented on #29
Hi tejamareddy,
Just debug the code and check what is the error because we don't know your setting
so go through our document and check thoroughly.
Thanks
SB Technical Team

[2017-06-29 08:36] #29 closed

[2017-06-29 08:39] #17 closed

[2017-06-29 08:44] socioboard commented on #30
Hi hucoco123,
This token verified from facebook side so check your account first or give the socioboard account so that
our team will track the actual issue .

Thanks
SB Technical Team

[2017-06-29 08:44] #6 closed

[2017-06-29 09:42] hucoco123 commented on #30
hi:
   thank you very much.
   I have develop it on my sever.
   my facebook develpoper account is 8615129006200  secret is ay86306010.
   the facebook app is :7billion
thanks
coco

[2017-06-29 14:30] socioboard commented on #30
Hi Hucoco123 ,
Good to hear that you have solve the problem.
I am closing the issue .In future if you face any problem regarding socioboard product
just let us know.

Thanks
Socioboard Technical Team

[2017-06-29 14:31] #30 closed

[2017-06-29 14:31] #16 closed

[2017-06-29 14:49] hucoco123 commented on #30
hi：
   It didn't solve.
   I mean I have develop it on my sever,but it has a mistake that add facebook invalid access token

[2017-07-04 06:02] socioboard commented on #11
Hi maksudcs,
The error you are getting is usually a sign that you have not set abortConnect=false in your connection string. The default value for abortConnect is true, which makes it so that StackExchange.Redis won't reconnect to the server automatically under some conditions. We strongly recommend that you set abortConnect=false in your connection string so that SE.Redis will auto-reconnect in t

[2017-07-05 07:00] tejamareddy opened #31 "Missing required parameter: client_id"
![parameter](https://user-images.githubusercontent.com/25472813/27852586-9c0356ec-6114-11e7-8fb1-9f1d205f1480.jpg)
while adding our social profiles in socioboard we have to get  Grant access to our profile to share updates and view our feed information.but while adding our social profiles it is not giving access and it is showing missing required parameter:client_id . can you give me the solution.

[2017-07-05 09:19] socioboard commented on #31
Hi ,
 Do you have  key and credential for google account.

[2017-07-05 11:39] tejamareddy commented on #31
i added but im facing issue. Can you help me

[2017-07-05 12:25] socioboard commented on #31
What issue you are facing give us detail.

[2017-07-05 12:38] tejamareddy commented on #31
In the app setting i have created api keys for google
![appsettings](https://user-images.githubusercontent.com/25472813/27864423-5bf4e532-6143-11e7-9b60-50d8cded9ad2.jpg
while running my project in local server we have toadd our social profiles in socioboard we have to get Grant access to our profile to share updates and view our feed information.but while adding our social profiles it is not givi

[2017-07-05 12:47] socioboard commented on #31
for that you need take permission from facebook .just check the facebook developer site they have explain already there how to use facebook api for web application.go through the document and apply the concept.give proper key and credential

[2017-07-05 12:48] tejamareddy commented on #31
ok

[2017-07-07 13:43] #31 closed

[2017-07-11 09:53] hucoco123 opened #32 "can you tell me how you set facebook development?"
can you tell me how you set facebook development?

[2017-07-11 13:10] socioboard commented on #32
Can you be little more precise with your query?

[2017-07-19 08:33] divyanisharma opened #33 "SendGridMail package not found"
i tried working with socioboard code but i am constantly getting the error 'SendGridMail' could not be found as it is a missing directive. i tried installing it from nugat package but it is not available there.

[2017-07-19 20:47] mabualwafa opened #34 "FatalExecutionEngineError occurred"
when trying to login by email and password, the below exception appears,

Managed Debugging Assistant 'FatalExecutionEngineError' has detected a problem in 'D:\Security\Socioboard\Socioboard-Core-3.0-master\src\Socioboard\bin\Debug\net451\win7-x64\Socioboard.exe'.

Additional information: The runtime has encountered a fatal error. The address of the error was at 0x4e73f23f, on thread 0x4c18. The e

[2017-07-20 06:41] divyanisharma commented on #33
![untitled](https://user-images.githubusercontent.com/17379271/28403892-80cb1cca-6d44-11e7-82e4-280f75f6065d.jpg)

[2017-07-27 19:49] xSeekTruthx commented on #2
@woakes070048 Sounds like it's not :/

[2017-07-28 05:20] socioboard commented on #34
Hi mabualwafa,
upload new updated version of socioboard 3.0

[2017-07-28 05:21] socioboard commented on #33
Hi divyanisharma,
upload new updated version of socioboard 3.0

[2017-07-28 05:27] socioboard commented on #32
Hi hucoco123,
I hope you got the answer so socioboard support team going to close this issue
if any query in future let us know
Thanks
socioboard support team

[2017-07-28 05:28] #32 closed

[2017-07-28 06:00] divyanisharma commented on #33
![untitled](https://user-images.githubusercontent.com/17379271/28704417-1756b458-7388-11e7-8d1b-0ddb32f9ee62.jpg)
 i am getting 'load failed' errror in solution explorer on loading the socioboard 3.0

[2017-07-28 06:57] socioboard commented on #33
Hi divyanisharma,
We are checking this issue, sorry for inconvenience.
when it done will let you know

Thanks

[2017-07-28 07:37] socioboard commented on #33
just updates notification given upper tab .
and install asp.net core preview  .

[2017-07-28 13:30] Xaviera7 opened #35 "install socioboard 3.0 on UBUNTU 16.04 Framework Mono"
I need assistance on how to get this installed in the server - UBUNTU 16.04 Framework Mono.

[2017-08-03 19:01] aghili371 opened #36 "how can use sqlserver database"
i wana using sqlserver database.
how can i config project and create sqlserver datbase?

[2017-08-09 11:30] socioboard commented on #35
Hi Xaviera
Use nhibernate  ,change connection string .

[2017-08-09 11:40] socioboard commented on #36
Hi aghili371
use nhibernate , change the connection string

[2017-08-09 11:44] #34 closed

[2017-08-09 18:18] aghili371 commented on #36
thank you .but i need sqlserver  database script. this script just for mysql database.

[2017-08-09 18:43] aghili371 opened #37 "error : Message = "No persister for: Domain.Socioboard.Models.User""
hi
when i  want to register new user i get this error
Message = "No persister for: Domain.Socioboard.Models.User"
![1](https://user-images.githubusercontent.com/24512878/29138196-238516fa-7d58-11e7-9780-74f77d37eb95.jpg)
![2](https://user-images.githubusercontent.com/24512878/29138195-23800c14-7d58-11e7-90fd-658e5f5d1be4.jpg)

i using vs.net 2017and i set mysql  database and i changed conection st

[2017-08-14 06:37] socioboard commented on #37
go inisde see what exactly cuase of this
error detail given give the screen shot of it
![image](https://user-images.githubusercontent.com/6312383/29260718-2780b130-80e9-11e7-9bd4-64e01ca15d96.png)

[2017-08-16 06:02] #35 closed

[2017-08-17 00:25] Toast707 opened #38 "Error when building"
Hi, I'm currently getting errors when I try to build:

`Severity	Code	Description	Project	File	Line	Suppression State
Error		Cannot infer TargetFrameworkIdentifier and/or TargetFrameworkVersion from TargetFramework='dnx451'. They must be specified explicitly.	SocioboardDataScheduler	C:\Program Files\dotnet\sdk\1.1.0\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.TargetFrameworkInference.targets	84
`

[2017-08-17 01:50] #38 closed

[2017-08-18 21:06] aghili371 commented on #37
thank you
![1](https://user-images.githubusercontent.com/24512878/29477446-ba35a1ce-847d-11e7-93af-717f6d233199.jpg)
![2](https://user-images.githubusercontent.com/24512878/29477447-ba38389e-847d-11e7-8bf6-7a6ba4754a00.jpg)
![3](https://user-images.githubusercontent.com/24512878/29477448-ba3b0e48-847d-11e7-8898-029e30eed5cf.jpg)

[2017-08-21 04:59] socioboard commented on #37
Hi aghili371,
its difficult to find the real bug so our technical team wants to take remote access of ur system
for checking the issue if you don't mind .please provide ur skype id to our socioboard support team .
Thanks
Socioboard Team

[2017-08-24 14:28] RajibBiswas opened #39 ".xproj Error"
Hi, I am having issues while running the .sln with Visual Studio 2015. Error says -
.... error  : The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\DotNet\Microsoft.DotNet.Props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.  Socioboard-Core-3.0-master\src\Api.Socioboard\Api.Socioboard.xproj

[2017-08-28 08:00] socioboard commented on #39
Hi RajibBiswas
just clean the project and build the program , run again .

Thanks

[2017-08-28 14:11] RajibBiswas commented on #39
Sorry but may be i am missing something. i am still having the same. No cleaning option is available as no projects are loaded -
![untitled](https://user-images.githubusercontent.com/10402594/29777237-15638dca-8c2d-11e7-8396-1b3217f68eeb.png)

[2017-08-28 14:16] socioboard commented on #39
Hi RajibBiswas,
![image](https://user-images.githubusercontent.com/6312383/29777422-95d82c62-8c29-11e7-99ae-0dc676ec5916.png)
update this also.

[2017-08-28 15:56] RajibBiswas commented on #39
Thanks for your help, its workig now, my bad, this issue was disscussed https://github.com/dotnet/core/issues/271. Fixing the installation of dotnet core made it word. Thank you again for your help, response and guide.

[2017-08-28 15:56] #39 closed

[2017-08-31 04:43] socioboard commented on #11
Hi maksudcs,
I hope you have find your solution.so closing this issue.In future if you have any query
please let us know.
Thanks
Socioboard Team

[2017-08-31 04:43] #11 closed

[2017-08-31 04:45] socioboard commented on #37
Hi aghili371,
Have you got solution for the query you asked?
if not please let us know .

Thanks
Socioboard Team

[2017-08-31 04:54] socioboard commented on #36
Hi aghili371,
 for sqlserver script you have to google it, because we are using mysql script .

Thanks
Socioboard Team

[2017-09-01 07:11] RajibBiswas commented on #2
I guess I am too old to fight with windows environment. Eagerly waiting to test it in Linux.

[2017-09-01 14:41] chrisp1001 commented on #2
The .NET Core seems to be already ported to Linux: https://www.microsoft.com/net/download/linux

+1 for a solution

[2017-09-07 06:37] deepakkumarvaishnav91 opened #40 "Can't Create User"
i am done with the installation process. But when i try to register with "basic(free plan)" . it shows me an error "Can't create user".
i m new in business. I am running a startup and i want to grow my business using social media network.. please reply as soon as possible as i am stuck with this problem for 2 days.

[2017-09-07 07:23] socioboard commented on #40
Hi deepakkumarvaishnav91,
you using socioboard mobile app or web app . just do one thing send the mail to support team
i.e  sumit@socioboard.com or you can clerify your doubt using skype ,Our skype id:  (socioboard.support)

[2017-09-07 07:41] deepakkumarvaishnav91 commented on #40
I am using it on local host.
I have installed the socioboard on my local server using the instructions
given on github..

On 7 Sep 2017 12:53 p.m., "Sumit Ghosh" <notifications@github.com> wrote:

[2017-09-07 08:30] socioboard commented on #40
can you provide your id for remote access so that we can find exact issue you facing.

[2017-09-07 09:03] deepakkumarvaishnav91 commented on #40
right now i m using it on local host.. i can provide you the screen shot

On Thu, Sep 7, 2017 at 2:00 PM, Sumit Ghosh <notifications@github.com>
wrote:

[2017-09-07 09:53] socioboard commented on #40
OK sure

[2017-09-07 10:03] deepakkumarvaishnav91 commented on #40
i have attached the screen shot

On Thu, Sep 7, 2017 at 3:23 PM, Sumit Ghosh <notifications@github.com>
wrote:

[2017-09-07 10:10] socioboard commented on #40
if you really wanna solve the problem just ask support team, we have given the id earlier  add them and chat

[2017-09-11 04:36] #40 closed

[2017-09-11 04:37] #37 closed

[2017-09-11 04:37] #36 closed

[2017-09-11 18:45] doveraudio opened #41 "Admin User"
May I have specific instructions on creating Admin User please?
Regards,
Jeremy Leach

[2017-09-18 07:45] GKG4 opened #42 "Facebook Not returning email"
Whenever I am trying to login with the Facebook App, I am getting error Facebook Not returning email.
What needs to be done in order to fix it?

Also, how to login as Admin into the website, or add users manually?
There is documentation available for details I guess.

[2017-09-18 07:45] GKG4 commented on #41
I am also looking for the same.
Moreover, my Facebook Login is not working as well, getting error Facebook Not returning email.
Can you help?

[2017-09-18 13:15] socioboard commented on #2
The core team is busy adding new features based on user feedback on the core product and hence we are little out of bandwidth. In the coming months, we plan to migrate the core architecture to micro-services based architecture which each micro-service running in a docker based container. But this will take some months of work. If any of you want to participate in the project you can mail your inte

[2017-09-18 13:30] socioboard commented on #41
Hi Guys,
for admin just make a entry in user table and type should be 'SuperAdmin'.

Thanks
SB Team

[2017-09-18 13:57] socioboard commented on #42
Hi GKG4,
login with facebook again , but before login check 'facebook account' should not block.
if still problem persist check with our support team for help.
for document :  we are updating it ,when it done will upload soon in live

Thanks
SB Team

[2017-09-25 12:52] meysam-d opened #43 "No persister for: Domain.Socioboard.Models.User"
hi
when I want register user in  Socioboard I see this Exception.
please help me.

"	ex	{"No persister for: Domain.Socioboard.Models.User"}	System.Exception {NHibernate.MappingException}"

[2017-09-29 20:58] manashgarg opened #44 "No Manual"
Hi,
I downloaded the socioboard latest release then downloaded
Visual stuiod 2013,2015,2017 (community edition)
in all of them it says project is not compatible.
There is no good tutorial on how to begin with installation.
Is they any way that you can help on pre requirements what all we need to install
and if we get incompatible error what we are supposed to do?

CAn you please help with a text f

[2017-09-30 14:37] manashgarg opened #45 "Self Hosting Issue"
When I finally able to run the project I tried to register after filling in all the details it says "undefined"

and one more thing I want to know even in self hosted version we have different packages?
then what is the use of self hosted version??

[2017-10-03 06:39] socioboard commented on #44
Hi manashgarg ,
just update the software required for visual studio ,shown in notification
![image](https://user-images.githubusercontent.com/6312383/31112760-42276602-a833-11e7-8bf3-d3b02aefce29.png)

[2017-10-03 06:41] socioboard commented on #43
Hi meysam ,
can you please show us screen shot of the error.

Thanks
SB team

[2017-10-03 06:43] socioboard commented on #45
Hi manashgarg,
can you show us the screen shot of the error.
becoz we are unable to find exact issue what you facing.

Thanks
SB Team

[2017-10-03 06:44] socioboard commented on #41
Hi guys,
i hope you have found the solution so am closing this issue

Thanks
SB team

[2017-10-03 06:44] #41 closed

[2017-10-03 06:45] socioboard commented on #42
Hi GKG4,
i hope you have found the solution for it if not please let us know
for now am closing the issue

Thanks
SB team

[2017-10-03 06:46] #42 closed

[2017-10-03 08:21] meysam-d commented on #43
hi

"_### at NHibernate.Impl.SessionFactoryImpl.GetEntityPersister(String entityName) at NHibernate.Impl.SessionImpl.GetEntityPersister(String entityName, Object obj) at NHibernate.Event.Default.AbstractSaveEventListener.SaveWithGeneratedId(Object entity, String entityName, Object anything, IEventSource source, Boolean requiresImmediateIdAccess) at NHibernate.Event.Default.DefaultSaveOrUpdateEvent

[2017-10-09 06:55] socioboard commented on #45
Hi manashgarg,
i hope you have found the solution so for now am closing the issue, later if you have any issue
please let us know  .
Thanks
SB Team

[2017-10-09 06:55] #45 closed

[2017-10-09 06:57] socioboard commented on #44
Hi manashgarg ,
I hope you have found the solution for it for now am closing the bug ,
in future if you find any issue please let us know .

Thanks
SB team

[2017-10-09 06:57] #44 closed

[2017-10-11 03:06] nynymike opened #46 "License for Socioboard?"
What is the license for this project?

When I search for "license" in this project, I see that one of the plugins is actually not open source:

[code]

Ideally, every single page would have the license reference on it.  And any contributor to the project should align with the license requirement.

And the link off the main web page is broken: [https://socioboard.org/license/](https://socioboard.or

[2017-10-12 06:31] swetasb commented on #46
Hi nynymike,
sorry for inconvenience ,now licence is available
please visit the site https://socioboard.org/license/

Thanks
SB Team

[2017-10-12 06:34] socioboard commented on #46
Hi nynymike,
sorry for inconvenience,
now you can see licence for the same
https://socioboard.org/license/

Thanks
SB Team

[2017-10-18 14:09] JoseEslava opened #47 "Can't do login Socioboard 3.0.29"
I installed Socioboard and all technology needed, according the guide. I tried to test the socioboard community on VS Pro 2017, the first problem is login:  1. by Facebook (error message: token invalid returned from the Faceboos page) 2. by Google (debuger error message: invalid null value) 3. by Register (error message: can’t create user)

I reviewed all tokens and keys from facebook ans google d

[2017-10-21 09:17] socioboard commented on #47
Hi JoseEslava,
can you try with vs 2015 as we are facing some update issue in vs 2017
when it get solve will update soon.
Thanks
SB team

[2017-10-23 21:17] bvarba opened #48 "Setting up Socioboard on Windows"
Hi Sumit,

I like the project and I'd like to set it up and eventually contribute.
When I try to build release Socioboard-Core-3.0-3.0.29 I get "Package Restore failed".
When I investigate I see the following packages from www.myget.org json are not available:
error: Response status code does not indicate success: 400 (Bad Request).
error: Failed to retrieve information from remote source 'https:/

[2017-10-24 07:24] socioboard commented on #48
Hi bvarba,
First of all thanks for appreciation :)
for socioboard 3.0 setup you facing issue so for that i will suggest you just contact with our support team ( emailId : support@socioboard.com , skypeId : socioboard.support  ) here you can find all solution of socioboard 3.0
one more thing we have release socioboard 3.0.30 just try once and check .if you still facing issue feel free to contact.

[2017-10-24 07:28] socioboard commented on #46
Hi nynymike,
I hope you have found the solution for now  am closing this .in future if you face any issue  let us know .
Thanks
SB Team

[2017-10-24 07:28] #46 closed

[2017-10-24 07:29] socioboard commented on #43
Hi meysam ,
 contact with our support team.
email : support@socioboard.com
skype : socioboard.support

Thanks
SB team

[2017-10-24 07:31] socioboard commented on #47
Hi JoseEslava,
I hope you have found the solution for now am closing issue
in future if you have any issue please let us know.

Thanks
SB team

[2017-10-24 07:31] #47 closed

[2017-10-24 13:51] bvarba commented on #48
Hi SB Team,

Thank you.
I'll get the new version and ask if anything on skype.

Cheers,
Boris

[2017-10-24 23:11] karelit0 commented on #37
hi every one, I have the same problem, if you know the solution please help me.

[2017-10-25 17:32] karelit0 commented on #37
Solution is: include from the project "Domain.Socioboard" all the NHibernate maps on the folder "compiler/resources/Mappings" as embebed resources

[2017-10-26 18:16] bohece opened #49 "Missing AppSetting properties: Build failure in latest release"
The latest release(Socioboard 3.0.30) does not compile.
It has missing properties in AppSettings.
Properties like googleClientId, googleClientSecret and many other settings are used in DataService and other projects but are not available in AppSettings class.
Moreover, there is "LiveMongoDbConnectionString" which not available anywhere in the project.
It seems few changes are remaining to be commi

[2017-10-27 05:48] socioboard commented on #49
Hi bohece,
actually you are not taking latest code from github so i will suggest you to take
it from mentioned path : https://github.com/socioboard/Socioboard-Core-3.0/archive/v3.0.30.zip
for appsetting : you have to set your own appsetting and credentials in code .
further ,if you facing issue again please feel free to contact us at given
emailId : support@socioboard.com
skype : socioboard.suppor

[2017-10-27 06:14] bohece commented on #49
I am have cloned the latest code from github
This is the link I used https://github.com/socioboard/Socioboard-Core-3.0/archive/v3.0.30.zip
If you search for LiveMongoDbConnectionString, googleClientId, googleClientSecret  etc in code even here on Github you'll see what I am saying.
There are no variables with these names in AppSettings nor in appSettings.json and are used at many places.
![devenv_

[2017-10-27 06:45] socioboard commented on #49
Hi bohece,
for that you just add your own variables and credentials if you dont need it then commnet the code and check.

[2017-10-27 07:20] bohece commented on #49
Sorry, but I am not sure if you understood it correctly.
I have changed the keys, secrets and connectionString as per my environment.
But, it is a compile time error in the solution. There are no variables with these names LiveMongoDbConnectionString, googleClientId, googleClientSecret in AppSettings as shown in my previous screenshot.
And, these are used at many places as shown below.
![image](ht

[2017-10-27 08:01] socioboard commented on #49
can you see namespace given in image just go to the path or press f12 over Appsettings. it can open the actual location of that file.
![image](https://user-images.githubusercontent.com/6312383/32093666-debfda90-bb1a-11e7-87d7-0c2a58f617bb.png)

[2017-10-27 08:38] bohece commented on #49
Hi,
That's Correct. I am talking about this file. As you can see in your screenshot it does not contain properties like LiveMongoDbConnectionString, googleClientId, googleClientSecret etc which are used in classes GooglePlusDataService, YtDataService etc

[2017-10-27 11:08] socioboard commented on #49
just add that variable  which has not shown in appsetting
![image](https://user-images.githubusercontent.com/6312383/32101280-3349951e-bb35-11e7-8601-eac81211db9c.png)

[2017-10-27 12:36] bohece commented on #49
Thanks

[2017-10-27 12:36] #49 closed

[2017-10-29 16:56] bvarba commented on #48
Any update on this?

[2017-10-30 06:44] socioboard commented on #48
Hi bvarba,
can we know the exact query what you asking ?

Thanks
SB Team

[2017-10-30 14:15] bvarba commented on #48
Hi SB team,
when I try to compile the project (release 3.0-3.0.30) I get the following:
log  : Retrying 'FindPackagesByIdAsyncCore' for source 'https://www.myget.org/F/aspnet-contrib/api/v3/index.json&quot;/FindPackagesById()?id='PayPalCoreSDK''.
log  : Response status code does not indicate success: 400 (Bad Request).
log  : Retrying 'FindPackagesByIdAsyncCore' for source 'https://www.myget.org/F

[2017-11-01 06:20] socioboard commented on #48
please update the require package given in notification

[2017-11-03 05:36] socioboard commented on #48
Hi bvarba ,
I hope u have found the solution  ,
in future if u face any issue  open this ticket again .

Thanks
SB Team

[2017-11-03 05:37] #48 closed

[2017-11-03 15:14] bvarba commented on #48
Hi SB Team,

No it is not resolved. How can I restore/update the packages from the errors?
When I do Nuget restore from Visual Studio or dotnet restore from command line I get the above errors. If I look at index.json from the link it is trying to find them from: https://www.myget.org/F/aspnet-contrib/api/v3/index.json I see they are not listed in this file.

I will reopen the ticket as I really w

[2017-11-03 17:44] bvarba opened #50 "Project setup"
Hi SB Team,

No it is not resolved yet. How can I restore/update the packages from the errors?
When I do Nuget restore from Visual Studio or dotnet restore from command line I get the above errors. If I look at index.json from the link it is trying to find them from: https://www.myget.org/F/aspnet-contrib/api/v3/index.json I see they are not listed in this file.
Do I have to be signed up on myget.

[2017-11-04 08:02] socioboard commented on #50
Hello bvarba,

Thanks for reporting this and for your patience, We're sorry that you faced issue with this, We'll help you for this so kindly follow these following steps.

- You have to install the packages from **nuget** in which you got issues
- Simply goto **Visual Studio** > **Tools** > **NuGet Package Manager**> **Manage NuGet packages for solution**
- After this you have to type the name of

[2017-11-13 08:00] #43 closed

[2017-11-24 04:30] layerlre commented on #2
+1

[2017-12-11 11:16] shaiksultan opened #52 "Socioboard Setup Issue!"
After setup the project in VS Studio 2013 , Hit  Run i am getting message values.json open, then application crashes. Howe ever i can see the application running for sometime
Please support is there any run time available for community version just click to continue?
Any other steps missing?

[2017-12-11 14:27] cyberprosconsulting opened #53 "validation emal"
i can't seem to figure out why the validation email isn't being sent via the zoho i've followed the instructions and when signup it says email sent but then nothing comes in please advise

[2017-12-12 06:19] socioboard commented on #52
Hi shaiksultan,
Project will run on vs 2015 ,it will not work with earlier version.
download vs 2015 and run the project. if you face any issue please let us know.

Thanks
SB Team

[2017-12-12 06:20] socioboard commented on #53
Hi cyberprosconsulting ,
can you provide email id with which you have created the account.

[2017-12-12 07:06] shaiksultan commented on #52
Sorry its VS 2015 , I am getting this Message values.json

[2017-12-13 06:32] shaiksultan commented on #52
Please update

[2017-12-13 06:47] socioboard commented on #52
can you show screen shot of issue in your code

[2017-12-14 07:08] socioboard commented on #53
Hi cyberprosconsulting ,
are you using project or software .if you using project code then
add your zoho creds in appsetting. if still error persist let us know

Thanks
SB Team

[2017-12-14 07:14] cyberprosconsulting commented on #53
i'm using the v3 code from github right here and i've added my zoho creds and still not working

[2017-12-14 07:18] socioboard commented on #53
can you show the screen shot of the error

[2017-12-14 07:19] cyberprosconsulting commented on #53
thats the thing i'm not showing an error it says its successfully sent the email but the email never comes

[2017-12-14 07:22] socioboard commented on #53
its problem with check zoho account create new and check .

[2017-12-14 07:26] cyberprosconsulting commented on #53
checking now

[2017-12-14 07:33] cyberprosconsulting commented on #53
just checking something does it have to be a zoho business account or a personal account or either?

[2017-12-14 07:34] socioboard commented on #53
yes

[2017-12-14 07:35] cyberprosconsulting commented on #53
yes to which

[2017-12-14 07:39] socioboard commented on #53
zoho business mail account try with that

[2017-12-14 07:40] cyberprosconsulting commented on #53
k that might have been the problem cause i just used the @zoho.com personal account

[2017-12-14 08:10] cyberprosconsulting commented on #53
k did that still says email sent but no email comes in

[2017-12-14 08:28] socioboard commented on #53
we have proper setup for mail sending once google it  you can find the solution .maybe problem with zoho try with other mail site.

[2017-12-14 08:31] cyberprosconsulting commented on #53
can i use gmail? if so please advise what i need to change in coding

[2017-12-14 08:32] cyberprosconsulting commented on #53
or can i use my own mail servers?

[2017-12-14 09:05] cyberprosconsulting commented on #53
well i've tried it with my servers as well and there is no mail going to my email server

[2017-12-14 11:34] dmytro-ielkin opened #55 "Load application config into JavaScript"
I noticed that API URLs in the JavaScript files are hard-coded. I would like to have them loaded from application configuration.
I already have an idea how to do it and will take on this issue myself so feel free to assign it to me.

[2017-12-14 19:17] cyberprosconsulting commented on #53
ok so this is where i'm at socioboard 2.0.32 send email with either gmail or zoho if i change the gmail smtp to the zoho smtp and i recieve the email with no problem.

version 3.0.37 claims it's sending the email but no email comes

this being said so what is the problem with v3 cause it's not a zoho thing it's not a gmail thing it's not a firewall issue it's a v3.0.37 issue

for v3.0.37 i've adde

[2017-12-15 10:05] shaiksultan commented on #52
1 ) Please find the attached screen shot when we run the app from VS 2015  IE the message displays

2) If we run Chrome The app run once you hit login , Trail Expired and also app  closes itself
Sometimes your trail has expired you can not use [paid](url
![capture](https://user-images.githubusercontent.com/13413656/34037076-de4a0e1c-e1a0-11e7-9aa3-9468fc29ac87.PNG)
) services

[2017-12-15 11:31] socioboard commented on #53
can you download file from this url :   "https://github.com/socioboard/socioboard-core"

[2017-12-15 22:00] cyberprosconsulting commented on #53
this is version 2 of socioboard. i have version 2.0.32 working sending email already. it's version 3 that isn't working

[2017-12-16 04:56] socioboard commented on #53
ok let us check the version issue will update u soon regarding latest version

[2017-12-16 04:59] cyberprosconsulting commented on #53
ok while your checking on v3 in version 2 i can't seem to figure out how to get it to use a domain. i changed everything the docs say but it still comes up localhost instead of the domain name

[2017-12-16 05:03] socioboard commented on #52
can not see what the exact issue you facing please provide the desktop remote access to see the problem in your code

[2017-12-16 05:31] socioboard commented on #52
Its not error i.e value.json it come when you run in IE and the second one in db have to change from free plan to any paid plan

[2017-12-16 06:40] socioboard commented on #53
Hi ,
There is no problem in version can you check agiain your setup or give us skype mail id for remote access.
ping them for support: socioboard.support

[2017-12-16 07:21] shaiksultan commented on #52
Dear  Mr Sumit,

682 958 502
9686

On Sat, Dec 16, 2017 at 9:03 AM, Sumit Ghosh <notifications@github.com>
wrote:

[2017-12-16 08:22] shaiksultan commented on #52
where do you specify access token face book config?
i am getting invalid access token authentication using facebook

[2017-12-18 04:34] socioboard commented on #52
you have to give your register facebook app access token .

[2017-12-18 05:08] socioboard commented on #50
Hello bvarba,
I hope you have found your solution, closing this issue for now if you find any prob just reopen it.

Thanks
SB Team

[2017-12-18 05:08] #50 closed

[2017-12-22 06:14] socioboard commented on #53
Hi cyberprosconsulting,
I hope you have found the solution n doing well.
for now am closing this issue. in  future you can reopen it for further query with same.

Thanks
SB Team

[2017-12-22 06:14] #53 closed

[2017-12-22 06:16] socioboard commented on #52
Hi shaiksultan,
I hope you have found the solution n doing well,
for now am closing this issue, in future if you face same reopen it .

Thanks
SB Team

[2017-12-22 06:16] #52 closed

[2018-01-02 13:45] quickhelp100 opened #56 "error in building solution"
Severity	Code	Description	Project	File	Line	Suppression State
Error		The TargetFramework value 'dnx451' was not recognized. It may be misspelled. If not, then the TargetFrameworkIdentifier and/or TargetFrameworkVersion properties must be specified explicitly.	SociobordRssDataServices	C:\Program Files\dotnet\sdk\2.1.2\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.TargetFrameworkInference.targets	96

[2018-01-02 18:29] quickhelp100 commented on #56
i found the issue resolve by making my own
need to change target framework by click on project properties select framework  4.6

thanks

[2018-01-02 18:29] #56 closed

[2018-01-24 07:30] pehelle opened #58 "online at my server it gives 500 interval server error ."
hi download you product it installed in my local  it is good here . when i moved it to my server goiworld.org
it gives 500 interval server error please assist me .

Regards
Mahesh Malik
9891383126

[2018-01-24 09:35] socioboard commented on #58
Hi pehelle,
have done proper configuration in your server .if you miss little thing, it will show 500 error that is from server side issue.please check once .

[2018-01-24 10:16] pehelle commented on #58
can i know what should we need to  installed on server . or other config setting required for

[2018-01-24 10:24] socioboard commented on #58
can't say have to see your server where u getting issue.

[2018-01-24 15:16] thsaing1 opened #59 "link to Facebook"
Hi

Once project is run, SIGNIN --> Sign-in with Facebook --> enter facebook id/pwd --> route to below link and stop. Pls help. Thanks in advance..

http://localhost:9821/#_=_

Regards,
Tin

[2018-01-24 15:30] thsaing1 commented on #59
Adding for above. Already configure facebook id/secret in Socioboard. Thks

[2018-01-25 15:29] garshom opened #60 "Mobile Apps IOS and Android"
Hello Team,

I see like official mobile apps for iOS and Android are available but I don't see any direction to their sources,   any advise on how to get the source for mobile apps for socioboard core-3.0

Thanks
Garshom

[2018-01-29 11:08] socioboard commented on #59
Hi thsaing1,
please add connection string in your code.

[2018-01-29 11:30] socioboard commented on #60
Hi garshom,
just go through this link  :
https://itunes.apple.com/sg/app/socioboard/id923398550?mt=8

[2018-02-05 06:03] socioboard commented on #60
Hi garshom,
I hope you have solved your problem for now am closing this issue ,if any query
please let us know.

Thanks
SB Team

[2018-02-05 06:03] #60 closed

[2018-02-05 06:04] socioboard commented on #59
Hi thsaing1,
I hope you have found your solution if any problem please let us know.

Thanks
SB Team

[2018-02-05 06:05] #59 closed

[2018-02-05 06:06] socioboard commented on #58
Hi pehelle,
I hope you have found your solution for now am closing this issue ,in future if any  problem
please let us know.

Thanks
SB Team

[2018-02-05 06:06] #58 closed

[2018-02-05 11:39] gnh1201 opened #61 "Invaild Access Token (FB), Access token not found (GG)"
I was received "Invaild Access Token (FB)/Access token not found (GG)" messages
from redirect URI (ex: http://localhost:9821/*Manager/*) of socioboard.

Status of Application ID, Secret and App Key is everything ok in appsetting.json (SB API and SB)

How to find logs or debug info (related to Access Token Errors) for fix this issue?

[2018-02-06 13:31] gnh1201 opened #62 "What is SavedFeedsComment?"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0246	The type or namespace name 'SavedFeedsComments' could not be found (are you missing a using directive or an assembly reference?)	Api.Socioboard	C:\Socioboard-Core-3.0\src\Api.Socioboard\Controllers\SavedFeedsManagementController.cs	47	Active
Error	CS0246	The type or namespace name 'SavedFeedsComments' could not be found (ar

[2018-02-07 03:06] gnh1201 commented on #61
See also: http://exts.kr/wiki/doku.php?id=socioboard-3

[2018-02-07 03:06] gnh1201 commented on #62
See also: http://exts.kr/wiki/doku.php?id=socioboard-3

[2018-02-07 07:33] gnh1201 opened #63 "Exception thrown: 'System.NotSupportedException' in NHibernate.dll"
Exception thrown: 'System.NotSupportedException' in NHibernate.dll

[code]

[2018-02-08 06:39] socioboard commented on #62
Hi gnh1201,
download the file again from given path n check ,if any issue let us know .
https://github.com/socioboard/Socioboard-Core-3.0.git

Thnaks
SB Team

[2018-02-08 06:41] socioboard commented on #61
jsut go to api > wwwroot folder in that log file will be available .

[2018-02-08 06:42] socioboard commented on #63
Hi gnh1201,
give proper connection string .

Thanks
SB Team

[2018-02-08 14:25] Nerlekar opened #64 "Script (missing assembly reference) and dnx451 error"
Hi  Team,

We have downloaded the project called Socioboard-Core-3.0 and run the solution file and got attached error.

Can you please tell us , how to resolve the issue.

Your urgent assistance is appreciated.

Thanks and Regards,
Gaurish Nerlekar

[Socioboardsolution error.docx](https://github.com/socioboard/Socioboard-Core-3.0/files/1707385/Socioboardsolution.error.docx)

[2018-02-13 06:57] socioboard commented on #64
Hi Nerlekar,
we are sorry for inconvenience .
let us check the issue will update you soon

Thanks
SB Team

[2018-02-13 06:59] socioboard commented on #63
Hi gnh1201,
I hope you have found the solution for it .
For now am closing this issue if any prob in future let us know

Thanks
SB Team

[2018-02-13 06:59] #63 closed

[2018-02-13 07:04] socioboard commented on #62
Hi gnh1201,
I hope you have found the solution for it .
For now am closing this issue if any prob in future let us know

Thanks
SB Team

[2018-02-13 07:04] #62 closed

[2018-02-13 07:04] socioboard commented on #61
Hi gnh1201,
I hope you have found the solution for it .
For now am closing this issue if any prob in future let us know

Thanks
SB Team

[2018-02-13 07:04] #61 closed

[2018-02-13 10:52] Nerlekar opened #65 "NHibernate redis issue while Inserting records in to mysql"
Hi Team,

I am getting an error while inserting records in to MYSQL DB. I am getting all data but its not inserting in to the DB.

**Error is :** No persister for: Domain.Socioboard.Models.User

**Source Code:**

File : database repository in Api.SocioBoard

 public int Add<T>(T item) where T : class, new()
        {
            int result = 0;
            try
            {
                using (

[2018-02-13 13:25] socioboard commented on #64
can you run the project in vs 2015 and check.

[2018-02-13 13:26] socioboard commented on #65
have you given proper connection string ?

[2018-02-13 17:50] Nerlekar commented on #65
Yes. We have given in heildsql config file of Api.socioboard. But still issue is same.

[2018-02-13 17:52] Nerlekar commented on #64
I fixed this one. I replace the dnx with net.

So it should be net451 in targeted framework tag

[2018-02-14 10:25] socioboard commented on #64
its great  :)  ,so i will close this issue for now .

[2018-02-14 10:25] #64 closed

[2018-02-14 10:26] socioboard commented on #65
have to check your code where you missing
need to take remote access for that.

[2018-02-14 12:09] Nerlekar commented on #65
Hi,

Here is the connection string we are using. Do we need to define any setting for redis connection.
**Connection String.**. are we missing any settings in below string?

**Data Source=localhost;User ID=root;Password=sa1234;persist security info=False;initial catalog=socioboard3;pooling=true;charset=utf8; port=3306;**

Regards,
Gaurish Nerlekar

[2018-02-15 04:47] socioboard commented on #65
can't say what is the exact problem without seeing your code .

[2018-02-19 07:01] socioboard commented on #65
Hi Nerlekar,
I hope you have found the solution for now am closing the issue .
if any problem further let us know.

Thanks
SB Team

[2018-02-19 07:01] #65 closed

[2018-03-01 20:29] alshaikh1 commented on #53
I have the same problem. I'm using version 3. when a user signs up by email, no email is being received. any suggestion?

[2018-03-01 20:38] cyberprosconsulting commented on #53
Yes find another program after getting this one working the limitations it had were not what they claimed it could do. About the only think usable was facebook and twitter.

Best Regards,

Bradley Charles

CEO

Cyber Pros Consulting

1 (647) 931-1793 ext 206

 <http://www.cyberprosconsulting.com> www.cyberprosconsulting.com

 <mailto:bradley@cyberprosconsulting.com> bradley@cyberprosconsulting.com

[2018-03-01 21:36] alshaikh1 opened #66 "Exception on dashboard loading"
I'm getting an exception just after the login and loading the dashboard. the images below show the exception and the dashboard. and I don't want to use any social media platform except Facebook.

Windows 2008 Server
Visual Studio 2015 Community

<img width="803" alt="dashboard" src="https://user-images.githubusercontent.com/8459043/36870948-457b81c6-1da9-11e8-86f5-bdcd56b1f574.PNG">

<img width="6

[2018-03-12 13:51] socioboard commented on #66
Hi alshaikh1,
which you don't want comment that and build the code

Thanks

[2018-03-12 13:52] alshaikh1 commented on #66
OK I will try that and let you know the results.

[2018-03-13 06:50] darshandelogico opened #67 "Socialboard build errors"
I downloaded project folder from [https://github.com/socioboard/Socioboard-Core-3.0](url)

I try to clean and rebuild the project but it through an error of .net / .net core target framework misconfiguration as shown in given screenshot.
![socioboard-error](https://user-images.githubusercontent.com/37323885/37326448-3982455e-26b8-11e8-9a80-9c1f37b69c2d.png)

I m using VS 2017 and .Net Core 2.1.4.

[2018-03-13 11:57] socioboard commented on #67
Hi  darshandelogico,
once change the framework version from  4.5.1 to  4.5.2 and check

Thanks

[2018-03-14 12:13] MostafaAbuZeid opened #68 "Facebook Invalid access taken"
In need  to know by what i fill down the below settings:
"FacebookAuthUrl":""

[2018-03-15 12:38] josfranco commented on #43
Hi!

In Domin.Socioboard/compiler/resources/Mappings need alter a build Action to Embedded Resource

I opened project in Visual Studio 2017, this setting is lost on migration

[2018-03-15 21:19] alshaikh1 commented on #67
try: visual studio 2013/2015 .

[2018-03-16 00:43] Vegeta27 commented on #67
@darshandelogico I have the same problem when compiling, I would appreciate it if you shared the solution.

[2018-03-16 22:19] alshaikh1 commented on #68
use:
http://www.facebook.com/v2.0/dialog/oauth/?scope=user_friends,user_status,publish_actions,user_posts,email,publish_actions,manage_pages

[2018-03-20 17:06] EmmaSWDB opened #69 "Error loading project files"
I downloaded the project here: [https://github.com/socioboard/Socioboard-Core-3.0)](url)
 When I open the project this window appears:
![errorsb2](https://user-images.githubusercontent.com/37591119/37669821-64bef2c4-2c2d-11e8-9649-17d7a72a2d51.png)
The in the solution explorer the files cannot be loaded:
![errorsb](https://user-images.githubusercontent.com/37591119/37669834-69ad09ba-2c2d-11e8-8dfd

[2018-03-21 05:06] socioboard commented on #69
Hi Emma,
please download file from given path:
https://github.com/socioboard/Socioboard-Core-3.0.git
if you still facing problem please let us know.

Thanks
SB Team

[2018-03-21 05:08] socioboard commented on #66
Hi alshaikh1,
I hope you have found your solution for now am closing this issue
in future if you facing prob for same pls let us know .

Thanks
SB Team

[2018-03-21 05:08] #66 closed

[2018-03-21 05:17] socioboard commented on #67
Hi darshandelogico,
I hope you have found your solution. for vs  2015 it works fine and for vs 2017 use latest framework version i.e after 4.5.1 its better .
for now am closing this issue if you have any problem regarding socioboard code let us know

Thanks
SB Team

[2018-03-21 05:17] #67 closed

[2018-03-21 05:18] socioboard commented on #68
Hi MostafaAbuZeid,
hope you got your solution am closing this issue if any prob pls reopen this
Thanks
SB Team

[2018-03-21 05:18] #68 closed

[2018-03-21 05:18] #55 closed

[2018-03-29 04:36] socioboard commented on #69
Hi Emma,
I hope you have found solution for now am closing this issue .in future if you have any issue regarding this you can reopen it .

Thanks
SB Team

[2018-03-29 04:36] #69 closed

[2018-03-30 09:08] obusher commented on #2
+1

We love socioboard and linux!

[2018-04-01 07:29] preetammishra72 opened #70 "Socioboard project insert issue"
Hi Sir,
I have downloaded project and configure it.
But While registering I am getting exception "No persister for: Domain.Socioboard.Models.User"
Please help how to resolve this issue.
Please find the screen sort for exception.
email-preetammishra72@gmail.com
![socioboardscreensort](https://user-images.githubusercontent.com/5119840/38170882-8736c902-35ac-11e8-9310-13e02cbd81d2.png)

Regards,
Pree

[2018-04-03 05:53] socioboard commented on #70
Hi preetammishra72,
have you given proper connection string value .if given please check inner error once .

Thanks
SB Team

[2018-04-03 06:37] preetammishra72 commented on #70
Ok.Thanks.I am looking.

On Tue, 3 Apr 2018, 11:24 Sumit Ghosh, <notifications@github.com> wrote:

[2018-04-06 12:01] socioboard commented on #70
Hi preetammishra72,
Hope you have found solution for it ,for now am closing this issue .In future if same  problem occur reopen this bug .

Thanks
SB Team

[2018-04-06 12:01] #70 closed

[2018-04-12 10:48] shambhuadvanz101 opened #71 "Getting error after while sign up"
Hi,
I have successfully install soundboard on my local with .net. All things are working well but when I am trying to  sign up than getting error "Cant create user".

Could you please have a look this ?

[2018-04-12 10:54] socioboard commented on #71
Hi shambhuadvanz101,
check once connection string values.

[2018-04-12 10:57] shambhuadvanz101 commented on #71
Hello,

I have put correct mongodb login, what string are you talking me ?

Regard

[2018-04-12 11:06] socioboard commented on #71
database connectionstring

[2018-04-12 11:09] shambhuadvanz101 commented on #71
I have correct database string . I can share my screen you would like to check.

[2018-04-12 11:10] shambhuadvanz101 commented on #71
Please check strings here
Mysql
 <property name="connection.connection_string">
      Data Source=localhost;User ID=root;Password=aspl101;persist security
info=False;initial catalog=socioboardlive;pooling=true;charset=utf8;
port=3306;
    </property>

Mongo here

"MongoDbConnectionString": "mongodb://sb:sb123@localhost",
    "MongoDbName": "socialboard",

Could you please access my computer via re

[2018-04-12 11:12] socioboard commented on #71
ok sure before this check once inner error and give me screen shot
 what does it show?

[2018-04-12 11:14] shambhuadvanz101 commented on #71
Sure,

Please have a look in attachment.

On Thu, Apr 12, 2018 at 4:42 PM, Sumit Ghosh <notifications@github.com>
wrote:

[2018-04-12 11:16] socioboard commented on #71
have found nothing here just post the pic here

[2018-04-12 11:19] shambhuadvanz101 commented on #71
Not getting you, Should I share my screen ?

On Thu, Apr 12, 2018 at 4:46 PM, Sumit Ghosh <notifications@github.com>
wrote:

[2018-04-12 11:31] socioboard commented on #71
Hi  shambhuadvanz101 ,
okay , just co-ordinate with our support team they will assist you.

Thanks
SB Team

[2018-04-12 12:07] shambhuadvanz101 commented on #71
I appreciate your help. How much time it will take, Actually I need show
demo to client.

On Thu, Apr 12, 2018 at 5:01 PM, Sumit Ghosh <notifications@github.com>
wrote:

[2018-04-13 10:45] shambhuadvanz101 commented on #40
I am having the same issue ? Could you please let me know what solution have you done ?

Regard

[2018-04-13 13:08] proffalken commented on #2
Hi, I'm also interested in this, even if the installation script doesn't exist yet, is there a document on how to install/get it up and running?

[2018-04-13 14:15] proffalken opened #72 "Installing on Linux"
Hello, I'm working on getting this working on Arch Linux and have currently undertaken the following steps:

1. Install dotnet core and dotnet sdk
2. Update `global.json` to use the installed SDK version (2.1.103 in my case)
3. Migrate to a csproj-version instead of xproj using `dotnet migrate`
4. Exported the appropriate variable so that I'm using the correct version of the framework in Mono ( `e

[2018-04-19 04:17] socioboard commented on #71
Hi shambhuadvanz101 ,
Hope you have found the solution for now am closing this issue .
In future if any prob regarding project raise new ticket .

Thanks
SB Team

[2018-04-19 04:17] #71 closed

[2018-04-30 05:55] eugenegonzales opened #73 "Accessing Admin Panel"
after installation and creation of first user how does one access the admin panel

[2018-05-07 10:16] obusher commented on #72
`dnx451` seems to be deprecated and is replaced by `net451`.
(Source: https://stackoverflow.com/questions/31539341/project-json-definition-dnx451-vs-dotnet-4-51)

The error vanishes if you replace all `dnx451` strings with `net451`, but there are still many assembly-reference-errors.

Use `grep --exclude-dir=backup/ -rnw '.' -e 'dnx451'` in the socioboard directory to show all files which hold a s

[2018-05-08 08:44] obusher commented on #72
1. Install .NET SDK (https://www.microsoft.com/net/learn/get-started/linux/ubuntu16-04)
2. Update `global.json` to use actual .NET SDK-Version (2.1.105)
3. Run `dotnet migrate`
4. Run `dotnet restore`
5. Run `msbuild Socioboard.sln`
6. Replace `dnx451` strings with `net451` (See post above)
7. Run `dotnet restore` and `msbuild Socioboard.sln`
8. Add  `<Reference Include="System.Web" />` in `src/Ap

[2018-05-08 14:28] RCheesley commented on #2
Ditto, there's an issue with some instructions for Arch see #72 for anyone coming into this issue directly!

[2018-05-09 06:00] proffalken commented on #72
Wow, thanks, I'll give this a go shortly.

[2018-05-09 15:27] RCheesley commented on #72
Following the steps above (as a newbie to dotnet & with basic CLI experience, be kind!) I got a bit stuck.

Firstly, I was getting an error of 'command msbuild not found' - presume it needs to be invoked as a sub-command of dotnet?

If that's the case I'm getting some errors :

/usr/share/dotnet/sdk/2.1.300-preview2-008533/Microsoft.Common.CurrentVersion.targets(1179,5): error MSB3644: The referen

[2018-05-09 16:02] obusher commented on #72
I did not use the subcommand dotnet-msbuild. But i get the same Error after
building with dotnet-publish.

On May 9, 2018 17:27, "Ruth Cheesley" <notifications@github.com> wrote:

Following the steps above (as a newbie to dotnet & with basic CLI
experience, be kind!) I got a bit stuck.

Firstly, I was getting an error of 'command msbuild not found' - presume it
needs to be invoked as a sub-command

[2018-05-11 05:11] socioboard commented on #73
Hi eugenegonzales,
For this you have to contact with support team.

Thanks
SB team

[2018-05-13 08:49] obusher opened #74 "Signup-Form passwords"
The Signup-Form (Register a user) at https://socioboard.com/ does not accept correct passwords, which are not violating the rule. (f.e Test01+# or ASDFasdf1234!”§$)

Rule: One Capital letter, One Small letter, One number,
one special character and min length must be 8.

[2018-05-13 09:03] obusher opened #75 "Facebook enforces HTTPS Authentication"
Facebook only allows to redirect to https:// sites after using the OAuth Client Token Flow(2.12).
The default FacebookRedirectUrl in appsettings.json of Socioboard redirects to http://localhost:9821/FacebookManager/Facebook. Sign-up and Sign-in with Facebook is broken.

![https](https://user-images.githubusercontent.com/1913681/39965624-d1af1cda-569c-11e8-8889-7be227732ba7.png)

![https2](https://

[2018-05-13 09:41] obusher commented on #2
It would be nice if you could push the scripts, even if they are not working and/or are not tested.
(@socioboard )

[2018-05-15 11:47] obusher commented on #72
I tried to build the whole project with the MonoDevelop IDE and it works (https://www.monodevelop.com/). Furthermore there is no `MSB3644: The reference assemblies for framework ".NETFramework,Version=v4.5.1" were not found. ` - error if you run the solution, but it seems the Arguments of the Run-Configuration of the solution (project) are not set properly.

Exception:
[code]

[2018-05-16 07:43] socioboard commented on #74
Hi obusher,
sorry for late reply,
we checking it and let you know when new update come.
can i know are you using socioboard code or application.

Thanks
SB Team

[2018-05-16 07:47] obusher commented on #74
Both.

I tested it on my own application (localhost) and on https://socioboard.com/ .

[2018-05-16 07:58] proffalken commented on #72
FWIW, I've given up with this and I'm currently working on a very simple Social Media Management tool that will integrate with Mautic, Saelos, and SHLink.

If it gets to a point where I think it's worth publishing, I'll release it as open source.

This looks like an amazing project, but I don't have the time to invest in getting it running on Linux right now. :(

[2018-05-25 10:17] socioboard commented on #75
Hi obusher,
I hope you have found the solution,sorry for late reply .
Check with facebook developer document to know more about it .

Thanks
SB Team

[2018-05-25 10:17] #75 closed

[2018-05-25 10:18] socioboard commented on #74
Hi obusher,
now you can check with the updated code and n let us know if u still face the same issue .

Thanks
SB team

[2018-05-25 10:27] #73 closed

[2018-06-04 08:06] obusher opened #76 "Sign-in with Email and Password does not work"
Sign-in with Email and Password results in output of an error:
"It seems like your connectivity to the internet is impaired"
(Ubuntu 18.04, Firefox 60.0.1 (64-bit))

![signin](https://user-images.githubusercontent.com/1913681/40906646-b64add3e-67e1-11e8-8efd-5e2343ebfaa6.png)

[2018-06-04 08:11] obusher opened #77 "Sign-in with Facebook does not work"
Sign-in with Facebook returns a blank white site in the browser with following link:
(Ubuntu 18.04, Firefox 60.0.1 (64-bit))

https://www.socioboard.com/FacebookManager/Facebook?code=AQBvGAQqR1czSlkKZNCgMceobVa8-rpZS-mNgFTmI8xUyEC0ka8c2IxoVAzaWt7c-iAr8W73-iHFXrZrLDdFt03LEvY0M8RUPRI-qdnuvGW0h1a38Dm5SciQZ0M4em2J3Qxml-mg34l0DYjWNGpUNDqwYh33nNnoBNfNLte8njUf0QO16hH_EWuZtxTtpyD7Bxh5_VnbANR4CybwPpNJURHJz

[2018-06-06 06:48] socioboard commented on #77
Hi obusher,
can you check it with facebook developer document ,what it require please go through it once

Thanks

[2018-06-06 06:54] socioboard commented on #76
Hi obusher,
We have not test with ubantu, let our team to test with this and let you know when updated.
thanks for informing about this issue.

[2018-06-11 07:44] #77 closed

[2018-06-11 07:45] socioboard commented on #76
Hi obusher,
I hope you have found the solution for now am closing this issue .

Thanks
SB Team

[2018-06-11 07:46] #76 closed

[2018-06-11 10:08] obusher commented on #76
Problem still exist.
I do not have any network issues, otherwise i would not open a issue...
This issue does not exist if you use firefox in a private instance. (Private Window)

[2018-06-22 10:22] ElMandrillo opened #78 "Building Error"
Hello,
I have the building error. when I compile the project (Socioboard 3.0) I have an error and about 2000 warnings about variables declared and not used.
S.O .: Windows 10 64bit
IDE: VS2015 community edition (full install) with DotNetCore.1.0.1-VS2015Tools.Preview2. installed

Severity Code Description Project File Line Suppression State
Error CS1061 'FacebookPasswordChangeUserDetail' does not

[2018-07-10 09:51] kro82 opened #79 "Can't create user"
Hello,
I have a problem with creating a user account
I downloaded the socioboard-core-3.0, and I followed all the steps of installation guide, but when I reach the user account creation steps I got a error message "undifined" as on the attached screenshot

![socioboard_error](https://user-images.githubusercontent.com/41017915/42502891-1d79434c-842f-11e8-8d4a-32020cd72dca.jpg)

[2018-07-16 07:31] robertcanare opened #80 "Support"
Socioboard support is paid?

[2018-07-18 12:18] socioboard commented on #80
Hi robertcanare,
yes it is

[2018-07-18 12:20] socioboard commented on #79
Hi kro82,
please check your connection string is it correct.

[2018-07-18 12:57] kro82 commented on #79
I followed the procedure as indicated on the installation documentation
here is the screen shot
![connection_string](https://user-images.githubusercontent.com/41017915/42883000-3fc3aadc-8a92-11e8-8bbd-e38904465a02.png)

[2018-07-19 03:51] robertcanare opened #81 "socioboard web based platform not working"
Hi Socioboard team

We're unable to add our social profiles on socioboard web based, we keep on getting "invalid access token" when we add our facebook, twitter, instagram and linkedin profiles.

We even tried it using a different socioboard + social media accounts using different web browsers to no avail.

Also on premise hosting of socioboard doesn't allow us to create login any socioboard accou

[2018-07-20 04:50] socioboard commented on #79
debug the code n check what the exact problem n let us know

[2018-07-20 04:54] socioboard commented on #81
Hi robertcanare,
sorry for inconvenience ,we are checking the issue and will try to resolve soon .
once update will let you know .

Thanks
SB  Team

[2018-07-20 10:14] arvs47 opened #82 "Pinterest and tumblr accounts missing in Web version as well git edition ."
Hi socioboard team / Sumit
I need some clarifications and some tutorials needed .

 Things i  noticed is pinterest account section is missing from the dashboards in both web version in git but their codes and files are present in the source code , so did you guys dropped them or hid them for   any reason

As of now i can  see only seven accounts here

 facebook ,twitter , instagram , youtube ,,. g

[2018-07-23 10:05] kro82 commented on #79
Here is a debug log
[log-20180722.txt](https://github.com/socioboard/Socioboard-Core-3.0/files/2218853/log-20180722.txt)

[2018-07-24 06:20] demetch opened #83 "can't create user error"
please after installation i getting this error: can't create user
help me.
is there default admin user ?

regards

[2018-07-24 08:49] arvs47 commented on #83
check your mysql connection - in visual studio  check the database is open  in visual studio server explorer-  and provide  mongodb database name .

[2018-07-24 21:55] demetch commented on #83
Thanks for reply, it worked now.

please what is default admin user/password ?
how to create or import admin user ?

many thanks dear

[2018-07-25 05:45] arvs47 commented on #83
i am also looking for it , some old issue thread suggests changing member into superAdmin will change , but i have done and nothing worked , ; looking for some solutions , like facebook logins not working , showing error as token is invalid and pinterest  is missng from the dashboard but the code is present in project ,

[2018-07-25 07:11] demetch commented on #83
Ok,thanks.i'm still checking

[2018-07-25 09:36] arvs47 commented on #83
For admin Access change user type in user table to SuperAdmin
Signin with gmail or facebook doesn't work - use email

[2018-07-26 04:38] arvs47 opened #84 "Update facebook token scopes with latest facebook app features"
Not able to login in facebook because of facebook the token generated failed or due to some missing scopes or deprecated scopes makes the tokens invalid , or it failed to login , so it is happening both in git hub version and web version , please update it with new scopes for the tokens like publish to groups - and deprecation of publish action makes the token generation failed '

[2018-07-28 07:04] obusher commented on #78
Build it on commandline (cmd) and it will work. https://github.com/socioboard/Socioboard-Core-3.0/issues/72#issuecomment-387330214

[2018-07-28 07:10] obusher commented on #82
https://github.com/socioboard/Socioboard-Core-3.0/issues/75
https://github.com/socioboard/Socioboard-Core-3.0/issues/77

[2018-07-28 07:12] obusher commented on #83
https://github.com/socioboard/Socioboard-Core-3.0/issues/77

[2018-07-28 07:13] obusher commented on #84
https://github.com/socioboard/Socioboard-Core-3.0/issues/75

[2018-07-30 03:54] arvs47 commented on #84
Do you have a solution , facebook login with https is not enabled in my app settings so i my other applications works fine ,

[2018-07-30 03:57] arvs47 commented on #82
there is no solutions at all .

[2018-07-31 05:49] arvs47 commented on #61
# #

[2018-07-31 05:50] arvs47 commented on #61
#84

[2018-07-31 05:50] arvs47 commented on #81
# #61

[2018-07-31 05:54] arvs47 commented on #84
solved login problem by removing  bio field from the fBuser.cs

still some problems with the latest scopes , after facebook recent platform changes too many permissions removed , like publish_action , which help to publish post via api behalf of user , so socioboard needs some update based on this new scopes and features

[2018-08-07 23:44] robertcanare commented on #81
Hi

Even the web based platform, https://www.socioboard.com/ is not working -
invalid access token

Thanks

On Tue, Jul 31, 2018 at 3:51 PM, Arjun Ram V S <notifications@github.com>
wrote:

[2018-08-20 08:50] apinter opened #85 ""Undefined" error when registering user"
Trying to deploy Socioboard 3.0.52 on a Win7 following the instructions in the project. VS returns quite a lot of errors, but we got it running, but once try to register a user we get the "Undefined" error message.

Output of Chrome error console:
[code]
Any thoughts on this? This looks like a problem even if we try and sign up on socioboard.com and give the same 400 error.

[2018-08-20 10:18] hrdkgtm commented on #85
Update on this as i'm having the same issue,
I changed the startup.cs at Api.Socioboard to allow sources from https://localhost:44317

previously the error notification was "undefined", now the errot notification becomes "Can't create user"
I tried running the database separately from localhost AND in localhost, yet still getting the same error.

Output from Chrome error console:
``jquery-2.1.1.mi

[2018-08-20 11:18] socioboard commented on #85
Hi apinter and hrdkgtm
I think you have issue with local database,
Can you please setup local database and check
For creating local database you need to do following steps:
1. Check the mapping files presented in Domain.Socioboard > compiler > resources > mappings
2. For create a local database, requesting you to check column names and table names presented in mappings
3. Then update the hibernate

[2018-08-20 15:15] apinter commented on #85
@socioboard Thanks, tomorrow will going to look into it again and update this issue.

[2018-08-21 03:13] hrdkgtm commented on #85
@socioboard
I tried to setup the database using MariaDB 10.0.25 (like mentioned in the .sql file) and i dont think there is a problem in the database because i tried giving the root credentials and tried using socioboard user (i made it myself) for the database. and it still doesnt work, giving the "Cant create user" error.

the console in Chrome gives a different error tho :

Full disclosure we d

[2018-08-21 08:10] socioboard commented on #85
Hi hrdkgtm
Can you please test with database schema attached here

[SocioSchema.zip](https://github.com/socioboard/Socioboard-Core-3.0/files/2305362/SocioSchema.zip)

and use following hibernate configuration
Data Source=localhost;User ID=root;Password=;persist security info=False;initial catalog=databasename;pooling=true;charset=utf8; port=3306

[2018-08-22 22:38] demetch opened #86 "login issue"
hello,
i get this error when trying to loging:  It seems like your connectivity to the internet is impaired

please help me

[2018-08-23 21:35] demetch opened #87 "Live domain"
Please what would be, the value of domain in Api.Socioboard>appsetting.json

Please for live app,  www.mydomain.com , how to replace ?
Need  help

[2018-08-24 13:12] demetch opened #88 "Publishing socioboard on windows VPS"
Please need help.
how to publish socioboard on windows VPS and make it available with domain name .?

regards

[2018-08-27 23:43] demetch opened #89 "apps domain"
hello ,
pleas what is the value for app Domain and ApiDomain in Appsettings.json

my domain(hostname) is afrimonitoring.com
"AppSettings": {
    "Domain": "http://localhost:9821",
    "ApiDomain": "http://localhost:6361",

PLEASE HELP ME ASAP

Regards

[2018-08-28 06:40] demetch commented on #89
Nobody to help me ?

[2018-08-28 07:08] socioboard commented on #89
Sorry for the delay,
Please replace the following the details in Appsettings.json according to your domain

{
  "ApplicationInsights": {
    "InstrumentationKey": ""
  },
  "ConnectionStrings": {
  },
  "Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug",
      "System": "Information",
      "Microsoft": "Information"
    }
  },
  "AppSettings": {
    "Domain": "htt

[2018-08-28 07:30] socioboard commented on #88
You have do following steps to make publish
1. Configure IIS in your Window VPS
2. Make a build
dotnet publish --framework net451 --output "E:\build\Api"  --configuration Release
dotnet publish --framework net451 --output "E:\build\Socioboard"  --configuration Release
3. Paste E:\build\Api & E:\build\Socioboard files in configured location

[2018-08-28 07:33] socioboard commented on #87
Make a sub domain for api like https://api.mydomain.com/

[2018-08-28 07:37] socioboard commented on #86
Please check the following comment link, you will get the solution

https://github.com/socioboard/Socioboard-Core-3.0/issues/85#issuecomment-414282106

[2018-08-28 07:40] socioboard commented on #84
Yes our team updating the socioboard api for with respective new scopes, will push the updated code soon.
Thanks :)

[2018-08-28 09:12] demetch commented on #88
Please sir, i'need your reply ..
Thanks

[2018-08-28 21:46] demetch commented on #86
Hello sir , still getting the same error, please check here:
my url: https://coralmonitoring.com
user: demetch@gmail.com
pass: 123456987

please check and help me

Regards

[2018-08-29 11:01] socioboard commented on #88
Hi demetch
From your log file we identified that you have issue in api domain
So You need to create a subdomain in which you have to deploy the api project(http://localhost:6361) for your api project
and then add that api domain link to your web api request
That's all you have to do.

Thanks

[2018-08-29 11:05] demetch commented on #88
Thanks for reply sir,
please where can i found the  API PROJECT folder in socioboard ?

regards

[2018-08-29 11:08] demetch commented on #88
please is mean that i put the content of C:\Users\Administrator\Documents\Visual Studio 2015\Projects\Socioboard-Core-3.0-3.0.49\src\Api.Socioboard , in my subdomain directory ? call API ?

[2018-08-29 14:52] demetch commented on #88
@socioboard @swetasb
i've create subdomain API, build socioboard and API  but getting another error on log file:
 Error unprotecting the session cookie.
System.Security.Cryptography.CryptographicException: The key {600d9ff2-f6fe-44b1-9461-f8122fea36aa} was not found in the key ring..

here is log file

`2018-08-29 14:58:10.977 -07:00 [Warning] Neither user profile nor HKLM registry available. Usin

[2018-08-29 20:38] demetch commented on #88
Now getting , blank error when login.
log file error ; Error unprotecting the session cookie.
System.Security.Cryptography.CryptographicException: The key {fc9ad980-7da4-4b32-ac87-3b2c5af66b08} was not found in the key ring.
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& st

[2018-08-30 05:16] socioboard commented on #88
Hi demetch
Did you change the following localhost domains to live domain names in appsettings.json file?
"Domain": "http://localhost:9821",
"ApiDomain": "http://localhost:6361",

If Yes, and your project running successfully in local, then you need to check with your server iis configuration settings

Thanks

[2018-08-30 07:48] demetch commented on #88
yes sir i've change with live domain like this
"Domain": "https://coralmonitoring.com",
"ApiDomain": "https://api.coralmonitoring.com",

in local serveur with this domain settings i'm getting same error.
Can i share my VPS details with you for help purpose ?

Thanks

[2018-08-30 08:41] demetch commented on #88
geting this error in log file

rror unprotecting the session cookie.
System.Security.Cryptography.CryptographicException: The key {4f54403d-a7b0-4751-9cf6-718f57ef7a9d} was not found in the key ring.
   at Microsoft.AspNetCore.DataProtection.KeyManagement.KeyRingBasedDataProtector.UnprotectCore(Byte[] protectedData, Boolean allowOperationsOnRevokedKeys, UnprotectStatus& status)
   at Microsoft.Asp

[2018-08-30 10:43] socioboard commented on #88
HI demetch
I checked with your api domain but it should be SSL enabled
So please enable ssl in your iis for api domain also
http://prntscr.com/kolxyh

Thanks

[2018-08-30 10:48] demetch commented on #88
Hi @socioboard
Ok sir let me enabled and get back to you
thanks

[2018-08-31 05:31] socioboard commented on #88
HI demetch
Please ensure that in server IIS > Application pool - Your api domain is on No Managed Code in .net CLR Version
Thanks

[2018-08-31 09:36] demetch commented on #88
@socioboard
it's done
check here https://prnt.sc/koyf4n
getting the same error, check please
https://api.coralmonitoring.com/api/values

Regards

[2018-08-31 12:07] socioboard commented on #88
HI demetch
Okay, Now publish the api code again with below syntax in command prompt
dotnet publish --framework net451 --output "E:\build\Api" --configuration Release

Then deploy this published file to your main domain i.e https://coralmonitoring.com
and then check with the url : https://coralmonitoring.com/api/values
Thanks

[2018-09-01 04:51] socioboard commented on #88
HI demetch
This is the issue for main domain name
Now change the following values in main project appsettings.json file

"Domain": "http://localhost:9821",
"ApiDomain": "http://localhost:6361",
to
"Domain": "https://coralmonitoring.com",
"ApiDomain": "https://api.coralmonitoring.com",

and You are done.

THANKS

[2018-09-01 07:30] demetch commented on #88
Error lines of:  An unhandled exception has occurred: Value cannot be null.

in \src\Socioboard\Helpers\WebApiReq.cs: line 17

client.BaseAddress = new Uri(BaseUrl);

and

in \src\Socioboard\Controllers\IndexController.cs:line 304

   HttpResponseMessage response = await WebApiReq.PostReq("/api/User/Login", Parameters, "", "", _appSettings.ApiDomain);

[2018-09-01 21:54] demetch commented on #85
@apinter
try install using VS 2015

Regards

[2018-09-02 22:43] demetch commented on #88
Dear Sir @socioboard
please where can i change this listen port: localhost: 5000.
where i launche api.socioboard i'm getting the api listen on localhost:5000
check here https://prnt.sc/kpu4wp

it's that the problem.?

Regards

[2018-09-03 00:03] demetch commented on #88
Error lines of: An unhandled exception has occurred: Value cannot be null.

in \src\Socioboard\Helpers\WebApiReq.cs: line 17

client.BaseAddress = new Uri(BaseUrl);

and

in \src\Socioboard\Controllers\IndexController.cs:line 304

HttpResponseMessage response = await WebApiReq.PostReq("/api/User/Login", Parameters, "", "", _appSettings.ApiDomain);

[2018-09-03 04:48] socioboard commented on #88
HI demetch
This looks like the issue with domain name and apidomain name only.
Change the values for appsettings.json file in Socioboard Project>appsettings.json
    "Domain": "http://localhost:9821",
    "ApiDomain": "http://localhost:6361",
to your domain names.

Thanks

[2018-09-03 05:44] demetch commented on #88
it's done sir, but getting the same issue

regards

[2018-09-03 20:27] demetch commented on #88
Hello sir,
everythings are Ok for Api domain URL, but not able to register.

1. i've set facebook and Google API keys and secret , but when register with facebook or google i'm getting blank page, please you can try.

how to register with social network, and add account ?

2. about register , this is new error log

[Debug] View lookup cache miss for view '"_Layout"' in controller '"Home"'.
2018-09

[2018-09-04 10:34] demetch opened #90 "Run services"
Hello Sir @socioboard

how to run Domain.socioboard ? Socioboard.facebook ? Socioboard.google, Socioboarddataservices and others ?

regards

[2018-09-04 10:53] demetch commented on #90
getting this error

An unhandled exception has occurred: Object reference not set to an instance of an object.
System.NullReferenceException: Object reference not set to an instance of an object.
   at Socioboard.Controllers.LinkedinManagerController.<AuthenticateLinkedin>d__3.MoveNext() in C:\Users\Administrator\Documents\Visual Studio 2015\Projects\Socioboard-Core-3.0-3.0.52\src\Socioboard\Contr

[2018-09-04 22:45] osmanraifgunes commented on #43
Embedding all files under Domin.Socioboard/compiler/resources/Mappings as embbeded resource solved my problem :
[how to embed ](https://stackoverflow.com/questions/42679642/how-to-embed-resource-files-at-build-in-visual-studio-2017)

[2018-09-05 09:47] socioboard commented on #90
HI demetch
You need to create developer apps for these social networks
and use those keys and secrets to your web app after that they work
These are the class libraries for different networks
These libraries used for social media authentication and apis for your app

Thanks

[2018-09-05 09:59] demetch commented on #90
Hi sir,
I've done all this, but getting redirect error with 500 error,  It's seem that socioboard did not Read those keys and secret.
Try register tour self with Facebook or google,  and see error. Use: coralmonitoring. com

Waiting

[2018-09-05 20:45] demetch commented on #90
Hello sir @socioboard
i thinks that the script have many issue, .
we need to pay for installation , it's urgent. tell me your paypal .

waiting your reply

[2018-09-05 20:52] demetch commented on #90
error, how to solved

 [Error] Connection id ""0HLGJMBNLFREF"": An unhandled exception was thrown by the application.
System.NullReferenceException: Object reference not set to an instance of an object.
   at Socioboard.Controllers.FacebookManagerController.<AddFacebookAcc>d__6.MoveNext() in C:\Users\Administrator\Documents\Visual Studio 2015\Projects\Socioboard-Core-3.0-3.0.52\src\Socioboard\Cont

[2018-09-06 16:55] arslancb commented on #85
Hi I just checked

DB You provided has NO Rows in GroupProfiles

but in your installation screenshot, there are 4 profiles.

I tracked back and the error was Can't Create User and it's checking for Group Profiles

so most probably sample DB file is corrupt or have insufficient required data, please update and let me know

[2018-09-07 06:10] demetch opened #91 "URL Redirect"
Dear sir,
i've set social keys and secret, but when trying to add a profile i get blank redirect URL:

https://coralmonitoring.com/Index/&client_id=&redirect_uri=&response_type=code

please help

[2018-09-07 07:07] demetch commented on #91
i think that, the values of appsettings.json are not available in others files where variables are call ,
that is while i'm getting blank redirection ?
1. please how to solved this
2. what is the stable version of SOCIOBOARD ?

[2018-09-08 16:37] demetch commented on #91
@socioboard  need your reply please !!!

[2018-09-11 00:00] demetch commented on #91
@socioboard  @RajGlobussoft @swetasb
please getting this error
System.NullReferenceException: Object reference not set to an instance of an object.
   at Socioboard.Controllers.FacebookManagerController.<AddFacebookAcc>d__6.MoveNext() in C:\Users\Administrator\Documents\Visual Studio 2015\Projects\Socioboard-Core-3.0-3.0.52\src\Socioboard\Controllers\FacebookManagerController.cs:line 234

help me

[2018-09-11 04:51] socioboard commented on #91
HI demetch
Your issue is regarding facebook app credentials
Please create an app in facebook developers by your domain reference, and then add that app credentials to your project
This issue will be solved.

Thanks

[2018-09-13 00:05] demetch commented on #91
@socioboard
Hello sir, now getting this error:

Invalid Scopes: user_events, user_friends, user_likes, user_managed_groups, user_photos, user_posts, user_tagged_places, user_videos. This message is only shown to developers. Users of your app will ignore these permissions if present. Please read the documentation for valid permissions at:

how to solved this ? please witch scope to use ?

[2018-09-13 08:07] demetch commented on #84
@arvs47 @socioboard  help me solved this issue:
Invalid Scopes: user_friends, user_status, publish_actions, user_posts, manage_pages. This message is only shown to developers. Users of your app will ignore these permissions if present. Please read the documentation for valid permissions at: https://developers.facebook.com/docs/facebook-login/permissions

[2018-09-13 08:38] demetch commented on #91
@socioboard  geting google acess token not found error ...
how to solved this also

regards

[2018-09-13 08:58] demetch commented on #91
[Information] Error reading JObject from JsonReader. Path '', line 0, position 0.
2018-09-13 01:42:27.653 -07:00 [Error]    at Newtonsoft.Json.Linq.JObject.Load(JsonReader reader, JsonLoadSettings settings)
   at Newtonsoft.Json.Linq.JObject.Parse(String json, JsonLoadSettings settings)
   at Api.Socioboard.Controllers.GoogleController.GoogleLogin(String code

[2018-09-14 08:59] arvs47 commented on #91
remove this user_managed_groups and try to refer facebook documentations for scopes

[2018-09-14 09:02] arvs47 commented on #84
remove this publish_actions

[2018-09-25 23:15] frey1esm opened #92 "Database SQL error [ 1067 - Invalid default value for 'forgotPasswordExpireDate' ]"
I got this error when executing the SQL file.

`1067 - Invalid default value for 'forgotPasswordExpireDate', Time: 0.179000s`

from this field definition:

`forgotPasswordExpireDate` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`

and thus the 'user' table did not get created.

[2018-09-27 09:14] wmike1503 opened #93 "Install on localhost using phpmyadmin"
Hi all,

I'm trying to take a look at Socioboard.   I use phpmyadmin.  I can't seem to work out how to setup the database - the instructions for heidisql don't seem to work.

Any suggestions anyne, please.

Cheers,

Mike

[2018-09-27 13:35] wmike1503 commented on #93
Tried loading the files into Visual Studio 2015 Community edition - just results in errors - nothing gets loaded.

[2018-10-02 04:31] demetch opened #94 "missing values"
Hello sir,
the appsettings values is not loading in all over the project ...please how to solved this ?
_appSettings.ApiDomain

"AppSettings": {
    "Domain": "https://coralmonitoring.com",
    "ApiDomain": "https://api.coralmonitoring.com",

[2018-10-04 16:15] candresct opened #95 "Account verification email not working"
Hi

I installed socioboard in my local computer, when I create a new user, my database is loaded with the new user, but, I do not ever receive in the  email account the message for confirmation, therefore I can not verify  the user.

I appreciate the help.

[2018-10-08 16:08] andresct46 commented on #95
Hi team socioboard

Some help to this ?

[2018-10-10 14:40] demetch opened #96 "facebook error: no page link to this account"
Hello,
please how to solved this facebook error ? no page link to this account

regards

[2018-12-05 09:03] sstellini commented on #66
Hi,
I also came across the same problem and solved it by commenting out 2 procedures in Api.Socioboard.Controller file:
•	GetYtGroupChannel and
•	GetYtYourGroups

thanks for the help! :-)
Sonja

[2018-12-06 00:59] signum6 commented on #85
I'm having a similar problem. Trying to setup Socioboard-Core-3.0-master. Getting error "Undefined".

In chrome console error: POST http://localhost:6361/api/user/Register net::ERR_CONNECTION_REFUSED

In my hibernate file database settings are: Data Source=localhost;User ID=socioboard;Password=MyPassword;persist security info=False;initial catalog=socioboardlive;pooling=true;charset=utf8; port=330

[2019-01-23 21:35] AaronNGray opened #97 "Getting lots of errors on building on VS2017"
I just tried building the project on VS2017 and had to do import. I am now getting a massive number of versioning errors :-

[code]

[2019-01-28 15:33] motermouth15 commented on #2
Just out of curiosity, is there an update with this project porting over to Linux at all?

I've been surfing the web all morning trying to find literally any materials on how to get socioboard up and running on a linux environment. Thanks!

[2019-01-30 15:38] ozgecolak opened #98 "Error adding to Groups table"
In Register function in UserController, user record is added to user table successfully but after that when adding record to groups table i get this error on 2282nd line  - dbRepository.Add(group) - in UserController.cs:

{"could not insert: [Domain.Socioboard.Models.Groups#0][SQL: INSERT INTO Groups (groupName, createdDate, adminId, id) VALUES (?, ?, ?, ?)]"}

"You have an error in your SQL synta

[2019-02-06 19:50] YosuCadilla opened #99 "Mautic integration"
The link to "Forums" on the socioboard.org page brought me here, however I don't see many non technical issues around here. Is this the right place to ask non bug related questions?

[2019-02-23 11:36] ozgecolak commented on #98
Which mysql version are you using? I googled it and it may be about the version.

[2019-03-01 06:50] DibyankP opened #100 "I have deployed socioboard on a domain name. Everything is working on local host. But when i try registering a user or perform some crud on online socioboard domain it returns 400 bad request cant add user!! The crud operations are working on localhost however. I dEPLOYED IT ON AWS"

[2019-04-15 16:42] innovatetom opened #101 "Issue when running project"
Hi

I am having an issue when running the project (Visual Studio 2015)

Please see the screenshot

<img width="358" alt="socioboard-error" src="https://user-images.githubusercontent.com/36082033/56150019-c58b6400-5fa5-11e9-9254-e50d6ad4443b.png">

Thanks in advance for any help

[2019-05-18 21:07] pietrondo commented on #2
same..
+linux

[2019-05-18 23:06] BloodyIron commented on #2
yeah I really want to use this on Linux too

[2019-05-25 07:23] ghost opened #102 "docker support"
Did you have a docker-compose for deploy ?

[2019-05-27 04:18] Sathish-Globussoft commented on #102
No, Currently we dont have.

[2019-05-27 04:20] Sathish-Globussoft commented on #101
Hello @innovatetom, Please pull the updated commit and try once.

[2019-06-19 03:38] mihazs commented on #102
+1 for docker version

[2019-06-30 20:14] gnocera commented on #2
Hello.
I would like to know if we have some update about this important step for socioboard evolution? Means, if there is already a smooth and fully functional installation for Linux?

We where testing in the past with multiple troubles.

Thank you and Best Regards,

Giuseppe N.

[2019-07-01 13:33] BloodyIron commented on #2
Yeah can we get this please?

[2019-07-16 13:43] nickwild-999 commented on #102
+1 for docker version

[2019-07-18 06:36] Jayanthbm opened #103 "Issue with socioboard-web-php"
I installed socioboard-web-php on centos following the instructions given in readme file but the application is not working I'm only getting socioboard index page

<img width="1397" alt="Screenshot 2019-07-18 at 12 03 15 PM" src="https://user-images.githubusercontent.com/14847969/61434703-4a469f00-a954-11e9-9a56-a3b5892962c8.png">

if I click sign in 404 error occurred
<img width="1284" alt="Scree

[2019-07-18 08:03] kuggaa commented on #103
This is not supported

Non secure message

[2019-07-22 14:18] kf202020 opened #104 "Install Docs for Socioboard-4.0 ???"
Trying to install Socioboard-4.0 on my lamp stack server.
Impossible to even understand where to start. There are several guide on youtube about 3.0 ..... nothing about 4.0

The install doc is really really poor ( to be honest it's zero! ). Do you think can I get some help / further doc ?

Thanks

[2019-07-22 14:19] kf202020 commented on #2
so basically we cannot install this on linux ?

[2019-07-22 14:47] gnocera commented on #2
We were testing on Linux about 1 year ago. We had good results to set up the dashboard. The registration process had some basic issues and the functionality itself (spread messages) was not fully operational. On the other side we also tried on Windows and it was smooth and easier. At that point we decided to stop until the whole installation on Linux will be 100% working, since my strategy is open

[2019-07-23 01:14] hvsh commented on #104
+1

[2019-07-23 11:58] Sathish-Globussoft commented on #104
You can find the configuration doc in following URLs

API Configuration:
https://github.com/socioboard/Socioboard-4.0/tree/master/socioboard-api

PHP Configuration:
https://github.com/socioboard/Socioboard-4.0/tree/master/socioboard-web-php

We will make a video reference. will be sharing soon

[2019-07-23 13:06] Sathish-Globussoft commented on #104
Here you can find the PHP Configuration video. please have a look

https://screencast-o-matic.com/watch/cqi0lNOxo3

[2019-07-23 13:07] Sathish-Globussoft commented on #103
Here you can find the PHP Configuration video. please have a look.

https://screencast-o-matic.com/watch/cqi0lNOxo3

[2019-07-23 13:32] AishwaryaMurali commented on #103
The following url might help you to fix centos issues. please try once
https://stackoverflow.com/questions/54510527/my-laravel-routes-is-not-working-on-centos?answertab=active#tab-top

[2019-07-24 19:46] BloodyIron commented on #2
Yeah, Windows is not to be used in our environment. Right now this looks to be the best tool to manage social presence, and I really am chomping at the bit to get this usable on Linux! Alternative tools are cloud/hosted, and that doesn't work for us at all. We need our own control here.

So, what's it gonna take to get this installable on Linux with documented steps?

[2019-07-30 05:36] AishwaryaMurali commented on #95
Hello,
This issue is solved in Socioboard 4.0 version.
Please pull the latest code from Socioboard 4.0, node.js and php version.

[2019-08-03 21:32] hvsh commented on #103
I am having the same issue. My app url is set correctly. Laravel app is inside a sub directory with the structure http://localhost/socioboard/ homepage works fine, but clicking on any link leads to 404 as the url takes it to http://localhost/login instead of http://localhost/socioboard/login

[2019-08-05 10:57] AishwaryaMurali commented on #103
Hello @hvsh ,
May I know what is the host url you have provided in .env file?

[2019-08-08 00:40] TechnologyClassroom opened #106 "Pleroma support"
Is there any interest in adding support for [Pleroma](https://pleroma.social/)?

[2019-08-08 00:41] TechnologyClassroom opened #107 "Mastodon support"
Is there any interest in adding [Mastodon](https://joinmastodon.org/)?

[2019-08-08 00:43] TechnologyClassroom opened #108 "diaspora* support"
Is there any interest in adding support for [diaspora*](https://diasporafoundation.org/)?

[2019-08-08 14:49] TechnologyClassroom opened #109 "Pixelfed support"
Is there any interest in adding support for [Pixelfed](https://pixelfed.org/)?

[2019-08-09 00:17] hvsh commented on #103
APP_URL=http://127.0.0.1/socioboard

I don't see any host url option?

[2019-08-09 20:29] TechnologyClassroom commented on #104
youtube-dl works for screencast-o-matic if you do not want to use that site's JS.

`youtube-dl https://screencast-o-matic.com/watch/cqi0lNOxo3`

This socioboard mediawiki could really use some love: https://wiki.socioboard.com/index.php/Socioboard_Installation_Wiki  That should point directly to the three links listed here.  There is no public editing allowed on that mediawiki.

[2019-08-17 14:59] indianbill007 commented on #109
Sure will try to add this in next major release.

[2019-08-19 10:27] rajithagarapati opened #110 "Registration and login issue in localhost"
I am using socioboard 3.0.
 I am getting the failure error when i try to register user. I am getting the following error
{"System.Web.Services.Protocols.SoapException: Server was unable to process request. ---> System.NullReferenceException: Object reference not set to an instance of an object.\n   at Api.Socioboard.Helper.SessionFactory.GetNewSession() in D:\\Projects\\socioboard-core-master\\Soc

[2019-08-21 07:07] rajithagarapati commented on #43
Replace with the following code in Domain.Socioboard.csproj

<ItemGroup>
    <Compile Remove="compiler\resources\Mappings\*" />
    <EmbeddedResource Include="compiler\resources\Mappings\*" />
  </ItemGroup>

[2019-08-21 07:07] rajithagarapati commented on #43
`<ItemGroup>
    <Compile Remove="compiler\resources\Mappings\*" />
    <EmbeddedResource Include="compiler\resources\Mappings\*" />
  </ItemGroup>`

[2019-08-22 09:00] rajithagarapati commented on #110
hi, today i am getting this issue.  It seems like your connectivity to the internet is impaired and no connection could be made because the target machine actively refused it 127.0.0.1:6361

[2019-08-22 11:18] somnathglobussoft commented on #110
Hello rajithagarapati,
most probably the issue is 6361 port is not free in your system. you can change the port but you have to do the same changes in dashboard project.

[2019-08-23 04:29] rajithagarapati commented on #110
No, port 6361 is free. i am getting error while inserting record in groups table

[2019-08-23 05:57] #110 closed

[2019-08-23 05:58] rajithagarapati commented on #110
its working.. in nhibernate we have to provide backticks(``) for table

[2019-08-27 05:46] rajithagarapati opened #111 "Unable to get instagram access token"
I am unable to get access token for instagram likes and public content scope.. will you provide any sample accesstoken? Without this accesstoken i cannot see any public content or hashtag results on my website.. Will you please look into this issue as soon as possible?

[2019-08-27 06:49] somnathglobussoft commented on #111
Hello rajithagarapati,
we are using Instagram non-business account for socioboard 3.0. please follow this doc (https://www.instagram.com/developer/endpoints/) for more information regarding the endpoints .

[2019-08-30 10:10] #111 closed

[2019-09-03 00:47] emilyanncr opened #112 "Installation guide?"
Is there a set up guide somewhere or....

[2019-09-05 10:54] ChristianGaetcke commented on #112
Well, I managed to get the site up and somehow running, but get continouus CORS errors and upgrading to other plans impossible (kind of a skeleton installation w/o any proper functions, even sendmail doesn't work properly and there are some errors in the code.). If needed, I can share what I have so far (on Ubuntu)

[2019-09-18 13:56] kaayso opened #113 "Migrate tables doesn't work !"
Hello,

I'm trying to  initialize the Mysql. When I run this command `socioboard-api/library/sequelize-cli> ../node_modules/.bin/sequelize db:migrate` it doesn't work and seems that path doesn't exists...

Please, how can I fix this? thanks

[code]

[2019-09-19 13:54] sureshbabu1995 commented on #113
please go inside the folder  (sequelize-cli), open the command prompt by searching "cmd" in search bar , you'll see you're in sequelize-cli folder then execute > sequelize db:migrate  (or)  > npx sequelize db:migrate Ref : http://prntscr.com/p89dl5

if sequelize-cli is installed globally sequelize db:migrate will work, else go with another command

[2019-10-02 21:26] Asim187 opened #114 "Issues when trying to install Socioboard-api"
poor documentation on API installation getting the error all over

`D:\wamp\www\social\user>npm install
npm WARN user@1.0.0 No description
npm WARN user@1.0.0 No repository field.
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.7 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.7: wanted {"os":"darwin","arch":"any"} (current:

[2019-10-03 12:52] vikashglb commented on #114
By the above error log, it shows, you are using relative path. Try the same command inside with

[2019-10-04 04:50] AishwaryaMurali commented on #113
Hi @kaayso ,
Since there is no further queries we are closing this issue.
Feel free to open it, if you face this issue in the future

[2019-10-04 05:07] #113 closed

[2019-10-04 05:15] #103 closed

[2019-10-04 06:03] AishwaryaMurali commented on #112
For php setup : https://screencast-o-matic.com/watch/cqjVlHOGQo

For node setup :

1. http://somup.com/cqjIXAeroO

2. http://somup.com/cqjIlTerDW

[2019-10-04 06:05] AishwaryaMurali commented on #112
Yes please share

[2019-10-04 06:07] AishwaryaMurali commented on #108
Sure, we will look into this and will add in future.

[2019-10-04 06:08] AishwaryaMurali commented on #107
Sure, we will look into this and will add in future.

[2019-10-04 06:08] AishwaryaMurali commented on #106
Sure, we will look into this and will add in future.

[2019-10-04 13:22] Basanagoudaglb commented on #100
most probably, there is some issues in your database connection. please check whether it is working on your sever.

[2019-10-04 13:33] Basanagoudaglb commented on #86
basically you are getting the issue because it is going to error in ajax call(in Login function). please check the domain name in appsettings.json

[2019-10-04 15:42] Asim187 opened #117 "(node:1220) [SEQUELIZE0004] DeprecationWarning:"
when I am trying to run nodemon app.js socioboard-api/user I am getting the following error

`(node:1220) [SEQUELIZE0004] DeprecationWarning: A boolean value was passed to options.operatorsAliases. This is a no-op with v5 and should be removed.`

I just solved this by removing `"operatorsAliases": false,` from https://github.com/socioboard/Socioboard-4.0/blob/master/socioboard-api/library/sequeliz

[2019-10-05 07:02] AishwaryaMurali commented on #117
Hello @Asim187 ,
Yes you can remove because in the updated sequelize package it has been removed.
Thank you.

[2019-10-06 20:28] Asim187 opened #118 "Page redirects 404 after clicking on dashboard url socioboard-web-php/dashboard"
Hello
when I am clicking on SocioBoard logo I think it should have to point dashboard URL i.e socioboard-web-PHP/dashboard but it redirects to page 404 error
I installed it using  https://github.com/socioboard/Socioboard-4.0/tree/master/socioboard-web-php.
do am I missing something?

and there is nothing about database installation in the [readme.md file](https://github.com/socioboard/Socioboard-4

[2019-10-07 08:17] vikashglb commented on #118
We will update our readme.md soon for more detailed explanation.

Thanks for pointing "Socioboard Logo" redirection issue. Can you elaborate where have you found this?

And as far as database is concerned , we are not using any database in Laravel part. Every database operation id from NodeJS Part of the project.

[2019-10-07 09:09] Asim187 commented on #118
after installing the Laraval part. In the header logo, it redirects to 404 page

[2019-10-07 13:26] vikashglb commented on #118
I will check with the developers and get it rectified.

[2019-10-07 14:48] lucmski opened #119 "dockerize api/front"
Hi guys,

Hope you are all well !

Would be awesome to dockerize api and front with alpine based containers?

Cheers,
L.

[2019-10-09 05:57] AishwaryaMurali commented on #118
Hello,
Is it before login or after login?

[2019-10-09 05:57] Asim187 opened #120 "Validation error: Phone code should have valid characters. in signup"
when I signup for a new user, I am getting an error message

where there is no such field in the form

Request: If there is a demo data then it should be more usefull. such as defaul user, password and all

[2019-10-09 05:58] AishwaryaMurali commented on #118
Can you provide me screenshot?

[2019-10-09 06:10] Asim187 commented on #118
it is before login
when I am trying to register as a new user I am getting an error for more please refer this #120

here is a screenshot of 404error when I try to access the dashboard
https://paste.pics/02d947ca1054f8ce6ffd16ed23d4a75d

if it works on login it should be point to the dashboard after login only otherwise it should point to the homepage of page

[2019-10-09 07:36] AishwaryaMurali commented on #118
Its working i have attached a video please refer..
Check if everything is configured in your .env file

https://screencast-o-matic.com/watch/cq6Qi4u0Qk

[2019-10-09 11:19] AishwaryaMurali commented on #120
Its working i have attached a video please refer..
Check if everything is configured in your .env file

https://screencast-o-matic.com/watch/cq6Qi4u0Qk

[2019-10-09 11:23] #117 closed

[2019-10-24 16:09] Asim187 opened #122 "update demo data"
can you guys please update demonstrative user details MySQL database
please refer this issue on StackOverflow
https://stackoverflow.com/questions/58360838/email-verification-not-working-in-socioboard-4-0

[2019-10-24 22:43] #120 closed

[2019-10-25 05:38] praveenchauhan2169 commented on #122
pull the current code and you can seed the demo users from this file
20190507065043-initialize_dummy_users.js, which is present here :
https://github.com/socioboard/Socioboard-4.0/tree/master/socioboard-api/library/sequelize-cli/seeders

[2019-10-28 08:58] Asim187 commented on #122
getting an error when I initialize seed
Error : SequelizeDatabaseError: Incorrect datetime value: '2019-11-02T08:53:43Z' for column 'email_token_expire' at row 1

[2019-10-30 10:11] javiereaw opened #124 "VPS Requeriments"
I want to install Socioboard in a VPS. What is the best environment for this software: Debian, Ubuntu, ram memory...

Thank you

[2019-11-12 09:57] sureshbabu1995 commented on #124
**OS**:

**RAM** :

**Storage** :

[2019-11-12 16:17] BloodyIron commented on #104
Yeah it would be nice to have a single install doc to reference that is clearly spelled out front to back. It's rather unclear on every aspect to take into consideration.

[2019-11-13 05:17] #118 closed

[2019-11-13 05:22] #114 closed

[2019-11-13 05:24] socioboard commented on #2
pull new version

[2019-11-13 05:24] #2 closed

[2019-11-13 05:25] #72 closed

[2019-11-13 05:25] socioboard commented on #78
Pull the new version.

[2019-11-13 05:25] #78 closed

[2019-11-13 05:26] socioboard commented on #79
Pull the new version..

[2019-11-13 05:26] BloodyIron commented on #2
Actually saw this earlier today! Looking forward to trying it out! Instructions aren't quite end to end though :S

[2019-11-13 05:26] #79 closed

[2019-11-13 05:26] #80 closed

[2019-11-13 05:27] #81 closed

[2019-11-13 05:28] #82 closed

[2019-11-13 05:29] #83 closed

[2019-11-13 05:31] socioboard commented on #84
Pull the new version.

[2019-11-13 05:31] #84 closed

[2019-11-13 05:33] #85 closed

[2019-11-13 05:34] socioboard commented on #86
Pull the new version

[2019-11-13 05:34] #86 closed

[2019-11-13 05:37] #87 closed

[2019-11-13 05:40] socioboard commented on #88
We have updated the socioboard api to 4.0 which is implementing using nodejs and php.  Please upgrade to new version.

[2019-11-13 05:45] socioboard commented on #89
Het demetch,
If you still same issue, please updagrade to the new version.

[2019-11-13 05:46] socioboard commented on #90
We have upgraded the new version to 4.0 which includes nodeja and php. Please upgrade it.

[2019-11-13 06:00] sureshbabu1995 commented on #122
**For your purpose** I just cloned the fresh code of this and I Installed all packages in library `(npm i)` then I setup DB config in `config.json` file in

Then executed migration command and then I did **seeding of particular dummy_users** and **undo all** and **seed all** , **all commands of seed is working properly to me **

Please check once and update the Issue

[2019-11-18 20:36] deso127 opened #131 "sequelize db:migrate Issue"
After putting in the mysql info and running the 'sequelize db:migrate' command in the sequelize-cli folder, there's an error that comes up. What needs to be done to fix this?

`Sequelize CLI [Node: 10.15.2, CLI: 5.5.1, ORM: 5.10.0]

ERROR: Error reading "config/config.json". Error: SyntaxError: /home/s/Socioboard-4.0-master/socioboard-api/library/sequelize-cli/config/config.json: Unexpected token

[2019-11-20 06:55] vikashglb commented on #131
Its look like, you have not configured the config.json file properly.

Check your config.json file [ref](https://github.com/socioboard/Socioboard-4.0/blob/master/socioboard-api/library/sequelize-cli/config/config.json)

[2019-11-20 23:56] #131 closed

[2019-11-21 05:04] #104 closed

[2019-11-21 05:05] #124 closed

[2019-11-21 05:05] #122 closed

[2019-11-21 14:46] TechnologyClassroom commented on #104
Nothing seemed to change.  Why was this ticket closed?

[2019-11-21 15:13] BloodyIron commented on #104
Yeah, why was this closed?

[2019-11-22 11:36] AishwaryaMurali commented on #104
We have provided document/video for api and web.
Please refer :

1. API Configuration :

- Document => https://github.com/socioboard/Socioboard-4.0/tree/master/socioboard-api

- Video => 1st -- http://somup.com/cqjIXAeroO
                  2nd -- http://somup.com/cqjIlTerDW

 PHP Configuration
- Document => https://github.com/socioboard/Socioboard-4.0/tree/master/socioboard-web-php

-Video => http

[2019-11-22 16:02] BloodyIron commented on #104
There are steps that are missing in those docs, I've been going through them. I recommend you try following them front to back with a fresh Ubuntu 18.04 LTS install, and you'll see steps missing.

[2019-11-22 16:29] TechnologyClassroom commented on #104
We cannot reopen an issue.

Are these screencasts linked from anywhere else?  I will watch them later.  The first one from this thread is incomplete.  I agree with @BloodyIron that the best way to build instructions is from starting with a bare-bones fresh install and building up.  Starting with a development machine usually results in missing dependencies.

The README.md should include complete i

[2019-11-22 16:31] BloodyIron commented on #104
I've actually been trying to do it from front to back myself, hoping to build an article, but I'm sure it would be generally appreciated if the original/official source had every step outlined. And in my testing thus-far, there are steps missing.

That being said, for me, I do appreciate the info that is already there, without it I would be a fish out of water.

From my perspective, I'm more tryin

[2019-11-22 17:32] TechnologyClassroom commented on #104
@BloodyIron Did you succeed?  Pasting a list of commands in this thread or submitting a PR to the README.md would be impactful.

[2019-11-22 17:33] BloodyIron commented on #104
I have not completed my work, and unfortunately was set back due to a hard-lock before I saved a bunch of my notes. So, "not yet" :P

[2019-11-22 21:04] deso127 opened #132 "Api Callback and addsocialprofile"
How are you supposed to setup the api callback urls and the addsocialprofile urls in the default and development.json files? I'm setting all of this up on an external server with a domain name.

[2019-11-23 08:35] sureshbabu1995 commented on #132
Thanks For the Interest of knowing the Usage, We are using

 from **

**

Refer: [https://www.npmjs.com/package/config](about config package) - **Study fully** in-order to understand, how it is working.

[2019-11-29 12:12] pehelle opened #133 "I downloaded php version Socioboard-4.0 . the vendor folder is missing here"
I downloaded php version   Socioboard-4.0  . the vendor folder is missing here .
and i want to know how to get white listed official facebook API ID . facebook blocked my account when i posted bucks message via API

[2019-11-29 12:13] pehelle commented on #132
I want to know how to get white listed official facebook API ID . facebook blocked my account when i posted bucks message via API

[2019-11-29 12:19] AishwaryaMurali commented on #133
For the vendor folder please update the composer.
`$ composer update`

[2019-11-29 12:35] sureshbabu1995 commented on #133
Sorry for the violation issues (of Facebook terms&conditions), we can't help in that, But we can just guide you to create a developer account [https://developers.facebook.com/docs/app-ads/app-setup/#create](url) and setting up  new APP for usage [https://developers.facebook.com/docs/apps/](url)

or else contact the Facebook support [https://www.facebook.com/help/community](url) to get it UN-blocke

[2019-11-30 08:36] sureshbabu1995 commented on #132
Sorry for the violation issues (of Facebook terms&conditions), we can't help in that, But we can just guide you to create a developer account [https://developers.facebook.com/docs/app-ads/app-setup/#create](url) and setting up  new APP for usage [https://developers.facebook.com/docs/apps/](url)

or else contact the Facebook support [https://www.facebook.com/help/community](url) to get it UN-blocke

[2019-11-30 08:37] sureshbabu1995 commented on #132
Sorry for the violation issues (of Facebook terms&conditions), we can't help in that, But we can just guide you to create a developer account [https://developers.facebook.com/docs/app-ads/app-setup/#create](url) and setting up  new APP for usage [https://developers.facebook.com/docs/apps/](url)

or else contact the Facebook support [https://www.facebook.com/help/community](url) to get it UN-blocke

[2019-12-03 06:12] pehelle commented on #133
I downloaded php version Socioboard-4.0 . the vendor folder is missing here .

[2019-12-04 04:56] sureshbabu1995 commented on #133
For the **vendor** folder please update the composer.
`$ composer update`

[2019-12-30 11:36] TornMarketing commented on #112
I feel there are still alot of steps missing from the above documentation videos, seems incomplete and we have spent the day trying to get a stable copy working.
Unable to get past a issue with user registration

I am assuming there is a setup of the database? but couldnt see any reference to this in your documentation and there isnt a setup process when launching your platform

Do you have a dock

[2019-12-30 14:43] TechnologyClassroom commented on #112
@ChristianGaetcke Can you post your Ubuntu notes?

Older related thread: https://github.com/socioboard/Socioboard-4.0/issues/104

[2020-01-02 01:29] TornMarketing commented on #104
$50 bucks for someone to get a working demo up on my server. :)

[2020-01-15 23:31] Quin452 commented on #112
I've done this type of thing before. I couldn't see anything that created the database, so I manually created one myself, making sure the name matched the db_name in the config.json (there were a couple of places).

Then the migrate worked well.

[2020-01-15 23:39] TornMarketing commented on #112
Hey mate

Is there a standard Database structure that needs to be setup, got the SQL statement handy?

[2020-01-16 00:05] Quin452 commented on #112
I literally just create the database, using utf8 unicode ci.
Then I ran the migrate and seeding.

But there are numerous bugs and issues I've found.
Sometimes I couldn't even serve the project, sometimes it's user registration, but I've yet to get it to a stage where it's ready.

I've tried both API and Web versions, and neither seem to be fit for use.

This is also on Laragon (think WAMP/XAMPP),

[2020-01-16 00:18] Quin452 commented on #93
In phpMyAdmin you need to manually create the database that you want to use, and make sure it matches up with db_name in the config/connection files.

You can run the migrate to create the tables.

[2020-01-16 10:29] Quin452 commented on #132
So I guess there is still no answer in "how to add <host_name>/[whatever]-callback".

There are no instructions in this, whatsoever.  Just "add them".

[2020-01-18 04:49] sureshbabu1995 commented on #132
**host_name**  Means Your application Domain

[2020-01-18 10:09] Quin452 commented on #132
Yes, but where are they added?  What file?

The instructions are not clear and out dated, as they do not match up with what is in the repo, let alone the repo themselves not aligning up (there is the Master branch, which seems to be an updated version of the 4.0 branch).

[2020-01-20 07:02] sureshbabu1995 commented on #132
You can keep those in `Socioboard-4.0/socioboard-api/{micro-controller}/config/development.json`

**Thing is We already kept the URL's as domain of localhost:300[1,2,3,4]**

If you want, You can update them and **You should provide the Keys and Id's**

[http://prntscr.com/qq1wn8](url)

[2020-01-29 13:20] TornMarketing commented on #112
@Quin452
hey mate, another day trying to attack this platform, are you running this on a windows server or linux? I am trying to get this thing operation on Ubuntu. Super keen to get a working demo to explore

Really struggling to get how we run all the services (user/api/feeds/board) automatically using nodemon.

Secondly trying to get an understanding how social api relates to social web, might

[2020-01-30 12:30] leonardoborlot commented on #102
have you any one stack or docker compose?

[2020-01-31 10:58] Quin452 commented on #112
@TornMarketing I installed it locally on a Windows machine.  I used Laragon, which (for all intents and purposes) acts like an Ubuntu server

You can try a virtual machine, too, but as long as there is LAMP it _should_ work.

But alas, I have found the lack of clear instruction to make this whole thing not worth it.

[2020-01-31 11:00] Quin452 commented on #132
Okay, say I want to install this on Ubuntu 18.04, as a subdomain (socio.domain.com)
The host file is already in place, pointing to /var/www/html/socio

What is needed to be done?

[2020-01-31 14:28] TechnologyClassroom commented on #132
@Quin452 Without sharing your commands, not much can be done to help troubleshoot.  We have yet to see a complete set of instructions.

[2020-02-01 04:43] sureshbabu1995 commented on #132
**Irrespective of OS**, This application asks for 3 Sections,

[2020-02-01 04:55] sureshbabu1995 commented on #132
**Irrespective of OS,** This application asks for 3 Sections,
1. PHP and Node installations, Base setup videos ( "http://somup.com/cqjIXAeroO" & "http://somup.com/cqjIlTerDW" ), These are base things you can google and do it in any OS.
2. Database setups ( Sql & Mongoose ).
3. Social Networks Config

Mostly you should know how to execute commands for running node properly, and that instructions ar

[2020-02-04 20:48] #132 closed

[2020-02-07 13:02] aankitkumar31 opened #139 "application_informations table data"
Hello All,
I just downloaed socioboard4.0 but i am not able to perform any action it shows me **Upgrade your plan in order to use this feature** for every action. could you guys please help me with this.

[2020-02-08 04:42] sureshbabu1995 commented on #139
Hi @aankitkumar31

[2020-02-13 11:14] aankitkumar31 commented on #139
Hi @sureshbabu1995 ,
thanks for the update. i had modified the user_plan column in activation table to 7 but now it shows me invalid token error.

[2020-02-14 04:55] sureshbabu1995 commented on #139
Hi @aankitkumar31
Just logout and Log-in, every time of login you'll have new tokens, with plan details , if you change plan it's compulsory to get updated ( log-out  & login ) if manually made , else automatically it will get updates, Please check this process, and if you need any information , give me some clarifications via screenshot or video so that I can rectify instantly ( straight forward

[2020-02-28 08:08] alex9434 opened #140 "Error on sequelize db:migrate: Unexpected token v in JSON at position 70"
Dear all,
I get the following error message:

[code]

I do not see any error in the config.json. The only change I made to config.json are the database credentials under development.

[code]

Any ideas what I can do?

[2020-02-29 06:59] sureshbabu1995 commented on #140
Hi, @alex9434

It's  a very simple Solution I can say,

[2020-03-01 03:56] alex9434 commented on #140
Hi @sureshbabu1995 ,

Thank you for your reply. Unfortunately I really do not understand what you want me to do.

1. As I have written, I edited the original config.json to include the database credentials under "development" as per the installation instruction. NO OTHER CHANGES WHERE MADE.

2. I have checked with a json online validator. The resulting json is "Valid (RFC 8259)"

3. That is excact

[2020-03-02 05:23] sureshbabu1995 commented on #140
Hi @alex9434 ,

As it is a case of JSON object, I already mentioned, your JSON (given in the above) is working fine except password field in development object.

If still need some information means

Please delete all other objects except development and remove `"operatorsAliases": false,` this line from the development,

Please keep the password as a string if there else as null and check it

**I

[2020-03-05 11:30] JonathanDeBelg opened #141 "Installing socioboard-api"
Hi, im trying to install the socioboard-api part of the installation process. Now i arraived at step 3. I need to run this; sequelize db:migrate but i gives the following error; "error: connect etimedout". Do you guys have any idea of how to fix this. Thanks in advance!

[2020-03-05 12:17] sureshbabu1995 commented on #141
Hi, @JonathanDeBelg
**Please check the DB configuration, in the config file,**
 `apis\library\sequelize-cli\config\config.json` and
check that the values are proper in the development object.

and if possible check the status of connecting db with those values in any other way so that you'll comes to know that the database connection is working properly and Database is running properly

[2020-03-05 12:28] JonathanDeBelg commented on #141
Hi, thanks for your reply @sureshbabu1995

Yes a have checked it multiple times, and the values are correct. When giving the wrong database credentials it gives a other error, someting like "ERROR: connenct ECONNREFUSED"

[2020-03-05 21:08] JonathanDeBelg opened #142 "nodemon not listening to service"
Hi,

I am installing the socioboard-api part. Now i have setup the mongo creds, and socials media creds in the development.json file. While running; 'nodemon app.js' in the /user service, i get the following result;
![image](https://user-images.githubusercontent.com/36629491/76025502-5efc9500-5f2d-11ea-98e0-a0921b5b2dba.png)
As you can see the service has started, but nodemon is not yet listening

[2020-03-06 05:16] sureshbabu1995 commented on #142
Hi, @JonathanDeBelg

Sorry for the inconvenience,
That document of config need to get update for sequlelize 5.0 +
Till that can you please remove ` "operatorsAliases": false,` this line from the config file `socioboard-api/library/sequelize-cli/config/config.json`  in all objects or only in your respective environment object.

This line user to work till sequelize 5 but as you installing fresh the

[2020-03-06 07:34] JonathanDeBelg commented on #142
Hi, thanks for the help!
I deleted the line from the environment object. It now looks as following;
`"username": "root",
    "password": "",
    "database": "socioboard-api",
    "host": "127.0.0.1",
    "port": 3306,
    "dialect": "mysql",
    "pool": {
      "max": 100,
      "min": 0,
      "acquire": 1000000,
      "idle": 200000
    },`
Still when running nodemon app.js i dont get further bu

[2020-03-06 07:36] #141 closed

[2020-03-06 08:14] JonathanDeBelg commented on #142
Hi, thanks for the help @sureshbabu1995!

So my sequelize-cli version is 5.5.1.
I deleted the line from the environment object. It now looks as following;
`"username": "root",
    "password": "",
    "database": "socioboard-api",
    "host": "127.0.0.1",
    "port": 3306,
    "dialect": "mysql",
    "pool": {
      "max": 100,
      "min": 0,
      "acquire": 1000000,
      "idle": 200000
    },`

[2020-03-06 08:47] JonathanDeBelg commented on #142
@sureshbabu1995 do you maybe have a answer for me?

[2020-03-06 13:08] sureshbabu1995 commented on #142
You can check the errors in the log files `user\public\logs\user20200306.log` file format is like serviceName+Date.log check the file

if you're running any other services then you can check in that service path  `{service}\public\logs\user20200306.log`

[2020-03-06 13:23] JonathanDeBelg commented on #142
Thanks for your help @sureshbabu1995 !

While looking into the logs, i came accross the next error;
`{ message: 'Cron setup intialized for monthly user stats...',
  level: 'info',
  timestamp: '2020-03-06T13:21:46.709Z' }
{ message: 'Mongo Database has been connected.',
  level: 'info',
  timestamp: '2020-03-06T13:21:48.846Z' }
{ message: 'Sequelize Database has been connected.',
  level: 'info',

[2020-03-07 04:45] sureshbabu1995 commented on #142
Hi, @JonathanDeBelg ,

That is for making folders to download media and some other contents if you requested ( like receipts of payment )
`
![image](https://user-images.githubusercontent.com/55544386/76136873-68d0e600-605c-11ea-9151-ff2982ee89b1.png)
`

In user services config development.json

[2020-03-07 11:23] alex9434 commented on #140
hi @sureshbabu1995,
unfortunately it still does not work! With the JSON that you provided, I got the following error:
[code]
But I also noticed that you made the entries under "apidevelopment" and not "development".
If I use a shortened version of my configuration, I get the same error.

However, after some further research, I found the error. For anyone reading this, I will describe my approach.

[2020-03-08 10:40] JonathanDeBelg commented on #142
Hi @sureshbabu1995 ,

After adding the code it works! Thanks a lot for the time taken. Just a question; why aren't the `base_path, payment_path and template` not added in the development.json? Won't this be a problem for other installation?

Thankyou!

[2020-03-08 10:40] #142 closed

[2020-03-09 04:49] sureshbabu1995 commented on #140
Hi, @alex9434 ,

**The warnings are not a Problem,**

If you're seeing the down list of lines that mean the process of creating schema's is completed.
Now you can use it happily,

Thing is like the versions of sequelize many be making some issues , **Soon we'll fix and update the files. both config and installation doc.**

Hope you won't get another issues ...

[2020-03-09 05:00] sureshbabu1995 commented on #142
Hi, @JonathanDeBelg

That's a great question,
but if people wanted to keep other names they can as it is a constant path

Like, we kept media some people can keep storage or some other name , we don't want to restrict them by keeping the same constant name..

If this is scenario in the next updates we'll keep in detail details of each variable and an example for that.

Hope you enjoy the features

[2020-03-09 12:10] JonathanDeBelg opened #143 "uncaughtException: Cannot parse config file: \'C:\\Users\\jdion\\Documents\\SOCIOBOARD\\socioboard-api\\notification\\config\\default.json\': SyntaxError: Unexpected token }"
Hi,

I get the following error while running:
`socioboard-api\notification>nodemon app.js`
[code]
Is there any fix for this issue?

[2020-03-09 15:55] #143 closed

[2020-03-15 02:23] escit opened #146 "https://ipapi.co/json/"
https://ipapi.co/json/ error

[2020-03-15 02:25] escit commented on #146
http://ip-api.com/json/

[2020-03-16 05:09] sureshbabu1995 commented on #146
Hi, @escit

May I know where you facing this Issue?

[2020-03-16 10:04] socioboard commented on #140
Hello!
Hope your issue is fixed.
As their is no further queries we are closing this issue.

[2020-03-16 10:04] #140 closed

[2020-03-16 10:04] #133 closed

[2020-03-16 10:06] socioboard commented on #101
Hello!
Hope your issue is fixed.
As their is no further queries we are closing this issue.

[2020-03-16 10:06] #101 closed

[2020-03-16 10:11] #139 closed

[2020-03-16 10:18] socioboard commented on #146
Could you please elaborate  your issue.

[2020-03-16 13:51] TechnologyClassroom opened #149 "Missing LICENSE file"
This git does not mention the license from the official webpage except for another issue https://github.com/socioboard/Socioboard-4.0/issues/46. The default is copyright.

The https://socioboard.org/license/ page says, "The GPLv3 (or later) from the Free Software Foundation is the license that the Socioboard software is under its text follows."

I made a pull request to get the process started.  h

[2020-04-02 05:02] yogesh23021995 opened #151 "While executing localhost:3000 i am getting access forbidden error"
While executing localhost:3000 i am getting access forbidden error

[2020-04-02 14:11] danieladi050 opened #152 "Mongodb API developement and default"
hello guys i  have some question here
i already read the documentation but got confused in this part

1. where we can see our username password and other aspect of mongodb ? i install the mongodb and start the sevice from cmd like this

C:\WINDOWS\system32>net start mongodb
The requested service has already been started.

and suddenly i need to input username password etc in delopment default so i

[2020-04-03 07:19] danieladi050 opened #153 "error when starting microservice nodemon"
this is the log i get. can anyone help me ?

{ error:
   TypeError: Cannot read property 'use_env_variable' of undefined
       at Object.<anonymous> (C:\xampp\htdocs\socioboard\Socioboard-4.0-master\socioboard-api\library\sequelize-cli\models\index.js:12:12)
       at Module._compile (internal/modules/cjs/loader.js:776:30)
       at Object.Module._extensions..js (internal/modules/cjs/loader.js:78

[2020-04-03 13:01] danieladi050 commented on #142
can you explain in more detail how and where you add the "base_path" etc ? @JonathanDeBelg @sureshbabu1995

[2020-04-03 16:25] danieladi050 commented on #153
SORRY GUYS, SUCH A NOOB MISTAKE

[2020-04-03 16:25] #153 closed

[2020-04-03 16:53] danieladi050 commented on #143
how do you solve this @JonathanDeBelg

[2020-04-03 17:05] JonathanDeBelg commented on #143
i think the config/development.json wasn't setup properly. Make sure the mongodb is set up.

[2020-04-03 18:21] danieladi050 opened #154 "cannot parse config file"
it only happen in the microservice of notification. the rest microservice doesnt have any problem. the error directing to default and config not development. im pretty sure i have config my mongodb rightfully, any idea ? @socioboard @swetasb
btw this is my log
{ error:
Error: Cannot parse config file: 'C:\xampp\htdocs\socioboard\Socioboard-4.0-master\socioboard-api\notification\config\default.json

[2020-04-04 04:33] sureshbabu1995 commented on #151
Hi, @yogesh23021995,

Can you please elaborate the question, in which scenario you got this problem and where you got it

[2020-04-04 04:46] sureshbabu1995 commented on #154
This is Json Validation error , if you want, you can just open any online json parser and test that the file data is proper or not..

[2020-04-04 05:04] sureshbabu1995 commented on #152
Hi, @danieladi050

Answers:
1. [https://prnt.sc/rsqczv](URL) where you can see the credentials of MongoDB, you can replace it.

2. This is related to social integration, If you want to use Facebook services then you should be a developer in the Facebook and then you should create an application through which you'll request the data from Facebook, ( ** this is just an example of Facebook ** ) you c

[2020-04-04 05:22] yogesh23021995 commented on #154
Yes there }, in the notification/config.js replace with }.

[2020-04-04 06:31] danieladi050 commented on #152
thank you for answering, it clear all my doubts. great respect

[2020-04-04 06:31] #152 closed

[2020-04-04 06:42] danieladi050 commented on #154
oh yeah, i dont work with json file too much so that confused me. thank you very much. for anyone who got this error, your default.json file ( or error file ) to this link https://jsonformatter.org/json-parser or other online json parser. it immediately show you the error. thanks for you time and care @sureshbabu1995 @yogesh23021995

[2020-04-04 06:42] #154 closed

[2020-04-04 06:51] yogesh23021995 commented on #151
HI @sureshbabu1995 ,
I was able to resolve forbidden access issue, it however I am not able to hit api successfully,
Error Message : "code":401,"status":"failed","message":"Accesstoken is missing or invalid!"}
Attached screenshot below :
![image](https://user-images.githubusercontent.com/50060627/78420671-c877dc80-766e-11ea-85b5-f5a087b32f7d.png)

[2020-04-04 09:55] sureshbabu1995 commented on #151
Hi, @yogesh23021995

If you don't mind who gave that URL ??

**Use** [http://localhost:3000/explorer](URL) it will open ( swagger ) a page where you can see all the API's

if any API is having locked symbol means you can't access without Access Token.

[2020-04-04 10:10] danieladi050 opened #155 "app port"
i try to follow the document for building the program. this is my code
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:jERgqId1DFELd9HvcMjqnLjoGstTdKgbI3pgM5u9axo=
APP_DEBUG=false
APP_URL=https://localhost.socioboard.com/
API_URL=http://127.0.0.1:3000/
API_URL_PUBLISH=http://127.0.0.1:3001/
API_URL_FEEDs=http://127.0.0.1:3002/
API_URL_NOTIFY=http://127.0.0.1:3003/
but when i try to go to https://loc

[2020-04-04 10:44] yogesh23021995 commented on #151
So, I won't able to call APIs individually using postman,

If you don't mind can we have a quick screen share call

[2020-04-04 16:53] danieladi050 commented on #155
I FOUND THE CULPRIT. IT WAS MY AVAST ALL ALONG, EVERYTIME I START THE SERVER IT DELETE THE SERVER.PHP THATS WHY I CANT REACH IT. BEWARE OF YOUR ANTIVIRUS GUYS THANKS

[2020-04-04 16:53] #155 closed

[2020-04-05 08:13] danieladi050 opened #156 "web login facebook account kit app secret instagram"
hello,
1. i try to do the document and when i try opening the https://localhost.socioboard.com/, it show that i cant reach the site. but when i try using cmd "php artisan serve" i can go to login page ( localhost : 8000). is this normal ?
ps: this is the continuation from this issue ( https://github.com/socioboard/Socioboard-4.0/issues/155 ) and im still quite confused why theres no command to sta

[2020-04-06 05:12] sureshbabu1995 commented on #151
**We can use but you should know which API needs Access Token and how to use it,**

No problem with screen share call but I'll be available from 10:30 am to 7:00 pm (IST ).

[2020-04-06 05:18] yogesh23021995 commented on #151
Yes ,I will send a screenshare link shortly

On Mon, Apr 6, 2020, 10:42 AM G. Suresh Babu <notifications@github.com>
wrote:

[2020-04-06 07:38] yogesh23021995 commented on #151
To join the video meeting, click this link: https://meet.google.com/mbh-vxkb-ski
Otherwise, to join by phone, dial +1 260-305-0061 and enter this PIN: 746 263 158#
To view more phone numbers, click this link: https://tel.meet/mbh-vxkb-ski?hs=5

[2020-04-06 07:55] yogesh23021995 commented on #151
Let me know when can we start my Direct calling number  9096367225

[2020-04-08 06:26] yogesh23021995 opened #159 "Unable to Login into SocioBoard"
Hi Team,

When I am trying to login, I am getting below error.

![IMG-20200406-WA0009](https://user-images.githubusercontent.com/50060627/78751493-fa02e780-798f-11ea-9024-2a725012a236.jpg)

[2020-04-08 06:27] #151 closed

[2020-04-10 07:48] sureshbabu1995 commented on #159
Hi, @yogesh23021995

I hope the interactive demo cleared this issue ...

[2020-04-13 07:43] KarthiPnsmy opened #160 "Unable to see twitter feed"
After integrating twitter successfully with socioboard  I cannot see the twitter feed. Refer the screenshot below

https://www.dropbox.com/s/g8lt2ykchmir7jh/Screenshot%202020-04-13%20at%203.36.20%20PM.jpg?dl=0

When I check the log under feeds/public/log, I found this
`{
  message: 'service listening on http://localhost:3002 with undefined Environment!',
  level: 'info',
  timestamp: '2020-04-13T0

[2020-04-13 18:41] yogesh23021995 commented on #159
Yes, Thank you so much for resolving the issue, but still I am not able to add any facebook, can you please help me resolve the issue, I am getting URL blocked error even after adding the account.

[2020-04-14 05:09] sureshbabu1995 commented on #160
Hi, @KarthiPnsmy

[2020-04-14 06:10] KarthiPnsmy commented on #160
@sureshbabu1995 I have tried as you said like `set node_env=development `

However, it doesn't help. Please check my screenshot below

![Screenshot 2020-04-14 at 2 05 30 PM](https://user-images.githubusercontent.com/795107/79191657-a72aa380-7e59-11ea-8c97-f04feab53f86.jpg)

Btw,  I cant see the twitter feed upon successful integration is because of the undefined environment?

[2020-04-14 12:40] cseeger-epages commented on #112
please provide a proper installation instruction (no video) or a put the installation into a bash script compatible with ubuntu or debian for easier installation. Also a docker(-compose) setup would be very handy. The biggest issue of this open source project is the lack of installation instructions since its pretty poor documented.

[2020-04-14 14:03] TechnologyClassroom commented on #112
@cseeger-epages They did upload a doc including more instructions for Windows users.  https://github.com/socioboard/Socioboard-4.0/blob/master/Socioboard%20Developer's%20Document.docx

It would still need some work to get it working with a bash script.

We should convert the doc file to markdown as it is not efficient with version control systems.

[2020-04-15 06:30] cseeger-epages commented on #112
@TechnologyClassroom thanks i will try to get it working for linux when i have some time.

[2020-04-16 15:19] kimbo9674 opened #161 "Login page buttons error and can't access dashboard"
I have followed the given documentation and have all 4 of the API services running on nodemon and can view them in swagger. The MongoDB and SQL databases are successfully connected too.

When using php artisan serve the login page is hosted but has no functionality.

![2020-04-16](https://user-images.githubusercontent.com/63161834/79467599-d8d87180-7ff5-11ea-9126-1f95c275cad3.png)

When clicking l

[2020-04-17 05:15] sureshbabu1995 commented on #161
Hi, @kimbo9674

This login buttons Fully Depends on the Node code is that is running perfectly then these all buttons will work properly

[2020-04-17 05:53] sureshbabu1995 commented on #160
Hi, @KarthiPnsmy

Sorry to say but you're running in Mac,

In Mac or Linux based OS, you need to use Export `export NODE_ENV=development`

[2020-04-17 06:04] sureshbabu1995 commented on #149
Hi, @TechnologyClassroom

Sorry for the inconvenience, Shortly we'll update the files with the license.

[2020-04-17 06:26] sureshbabu1995 commented on #156
Hi, @danieladi050

The Answers are
1. we use the host files to run the PHP code using xampp instead of direct command for the naming of a website instead of using localhost

2. check the object once properly for email
![image](https://user-images.githubusercontent.com/55544386/79537822-b2234500-80a0-11ea-8259-cece649d10fc.png)  and moreover **please check the PHP env and follow tho virtual host pr

[2020-04-17 06:42] sureshbabu1995 commented on #159
Hi, @yogesh23021995
Please check the Redirect URL which you've added in the Facebook application.

[2020-04-17 07:29] KarthiPnsmy commented on #160
@sureshbabu1995 after i run with `export NODE_ENV=development ` those errors are cleared.
However, my twitter feed is still empty and without any error in `public/log `

[2020-04-17 14:13] TechnologyClassroom commented on #149
This PR is the start of it: https://github.com/socioboard/Socioboard-4.0/pull/105

[2020-04-17 17:40] kimbo9674 commented on #161
Hi @sureshbabu1995,

I went back through node setup and reran the steps and checked that the .env file contained the API URLs.

I've also had a look at the node setup through swagger. The user api 'login' when executed comes up with the error "TypeError: NetworkError when attempting to fetch resource.". I've tried inspecting the network error on firefox using the developer network tools and come a

[2020-04-17 23:38] lombmartgh opened #163 "Error running node app.js at user microservice"
Hello,

I'm trying to run "node app.js" in socioboard-api\user microservice folder. Fallowing the documentation, for Socioboard4.0 in development mode.

But I'm getting this error that don't allow me to continue with the installation.

{ message:
   'The "path" argument must be one of type string, Buffer, or URL. Received type object',
  level: 'error',
  timestamp: '2020-04-17T23:31:59.680Z' }

I

[2020-04-18 05:06] sureshbabu1995 commented on #161
Hi, @kimbo9674

This is of 2 conditions

1. Check the node setup and try using swagger to do all the things like register and login

and then check in the PHP side , if still a problem try tocheck the env of PHP API_url

and if still have problem

[2020-04-18 05:27] sureshbabu1995 commented on #163
Hi, @lombmartgh

As of code, there's no variable called path .. but if you using VsCode for editing node code, please search for a path variable in user microservices and if you found it it might contain in mostly an environmental JSON file please follow the standard of it ( keeping the key and values in double-quotes )...

I hope this will solve your issue.

and your system config is proper, you

[2020-04-18 05:40] sureshbabu1995 commented on #160
Hi, @KarthiPnsmy
Can you please check the MongoDB where you'll see a collection name called` 'twitterposts' `check that collection that the data is there or not,
If not try to remove the account and add it once.

[2020-04-20 11:05] kimbo9674 commented on #161
Hi @sureshbabu1995 ,

How would you like me to share my screen?
Thanks for your help.

[2020-04-21 04:53] KarthiPnsmy commented on #160
@sureshbabu1995 as you suggested i removed my twitter account and then add the same but still feed is not showing up.

When I check `db.twitterposts.find()` in the terminal, it doesn't print anything. Seems the collection is empty.

Also, I'm using the following twitter configuration,

**feeds/config/development.json**
[code]

**notification/config/development.json**

[code]

**publish/config/deve

[2020-04-21 13:31] easaw commented on #112
That PHP setup just says "setup node". That's not helpful...

[2020-04-21 13:41] easaw commented on #112
It's possible socioboard want you to buy into their SAAS option (socioboard.com) rather than offer a solution here.

Ideally they would put up a server script, but for now I'm very hesitant to use this, even the SAAS version, and it's the only FOSS social media software I've come across but seems unstable :(

Such a shame.

[2020-04-21 16:53] yogesh23021995 opened #164 "Unable to add facebook account"
Can anybody please help to this issue while adding account to Facebook.

![Screenshot_3](https://user-images.githubusercontent.com/50060627/79891467-a6c47680-841e-11ea-9c1e-76cbdfe65184.png)

[2020-04-23 05:10] sureshbabu1995 commented on #161
Hi, @kimbo9674

We can use **TeamViewer** or **anydesk** To share the screen

[2020-04-23 06:04] sureshbabu1995 commented on #164
Hi, @yogesh23021995
in facebook API config
add
`"page_scopes": "email,user_posts,user_birthday,publish_pages,manage_pages,publish_to_groups",` under the scopes line.

[2020-04-23 07:46] sureshbabu1995 commented on #160
Hi, @KarthiPnsmy

Thanks for sharing the information about the configuration.

Once Just go and check with the Node side (SWAGGER APIs)

and in feeds setup the MongoDB creds

For this issue, I made a fresh setup with the code, I made setup in user config and feeds config with DB credentials and I tested everything is loaded,
But, ** PHP side you can't able to see because that route is broken so I'

[2020-04-23 10:15] kimbo9674 commented on #161
Hi @sureshbabu1995,

TeamViewer would be preferred, how do I share the ID and password with you?

[2020-04-23 10:17] sureshbabu1995 commented on #161
Hi, @kimbo9674

sureshbabu@globussoft.in is my email you can send here ..

[2020-04-23 17:38] danieladi050 commented on #156
okay thank you very much for your help and time appreciate it @sureshbabu1995

[2020-04-23 17:38] #156 closed

[2020-04-27 09:36] vaaiibhav opened #165 "nodemon stuck in users"
this is my users log file.
I am installing on windows 10 soicoboard-4.0 and node- v = 12.13.1

{
  message: 'Cron setup intialized for monthly user stats...',
  level: 'info',
  timestamp: '2020-04-27T09:29:36.744Z'
}
{
  message: 'Mongo Database has been connected.',
  level: 'info',
  timestamp: '2020-04-27T09:29:38.863Z'
}
{
  message: 'Sequelize Database has been connected.',
  level: 'info',

[2020-04-27 09:37] vaaiibhav commented on #163
i have different error at same location

{
  message: 'Cron setup intialized for monthly user stats...',
  level: 'info',
  timestamp: '2020-04-27T09:29:36.744Z'
}
{
  message: 'Mongo Database has been connected.',
  level: 'info',
  timestamp: '2020-04-27T09:29:38.863Z'
}
{
  message: 'Sequelize Database has been connected.',
  level: 'info',
  timestamp: '2020-04-27T09:29:38.960Z'
}
{
  message:

[2020-04-28 06:22] sureshbabu1995 commented on #165
Hi, @vaaiibhav

Please add these 3 lines in the `development.json` file

![image](https://user-images.githubusercontent.com/55544386/80453868-b7a54880-8946-11ea-8078-34ec95960517.png)

[2020-04-28 06:27] sureshbabu1995 commented on #163
Hi, @vaaiibhav  I've cleared your error in your Bug Please check it ...

[2020-05-01 16:01] gpellejero commented on #165
Hi all,
I am installing on Ubuntu 18.04 and node -v 10.20.1

I am having the same issue with "users", but couldn't solve it adding the 3 lines.The message is still appearing.

On the other part, I obtain the following answer when executing _nodemon app.js_ in every microservice:

[nodemon] 1.19.4
[nodemon] to restart at any time, enter `rs`
[nodemon] watching dir(s): *.*
[nodemon] watching extensi

[2020-05-01 17:56] gpellejero commented on #165
Hi again,
I re-installed everything from the beginning.
When I execute "nodemon" in "users" folder there is no error, but I get "[nodemon] clean exit - waiting for changes before restart" in every folder.
Please, give me advise.
Thanks in advance

[2020-05-05 10:23] #161 closed

[2020-05-19 18:01] r0bbie commented on #149
A bit concerning there's still no license specified. To confirm, this is GPLv3 licensed software then? Would be helpful to add licenses to your repositories which are GPL licensed or otherwise.

[2020-05-19 18:10] TechnologyClassroom commented on #149
@r0bbie I am not sure how the licensing of this works in this case.  It seems kind of ambiguous.  The website lists GPL-3.0-or-later, but the repo does not.  I made a PR to get it started back on Aug 8, 2019.  I did not hear back so I made this issue.

[2020-05-22 20:54] jay4rrrr opened #167 "There is a installation guide to install in cPanel?"
Hello Guys.
There's a guide to install Socioboard on cPanel/ per account using centOS7?

Thank you in advance

[2020-05-24 15:58] rodenp opened #168 "mysql2 Error on installing Socioboard4 on Ubuntu 18.04.3"
When i follow the installation instructions i get errors when i try to:

1. Run the sequelize command(s)
2. PHP installation, composer global require laravel/installer

When i run the command: sequelize db:migrate

I get the following results:

Sequelize CLI [Node: 8.10.0, CLI: 5.5.1, ORM: 5.21.10]

Loaded configuration file "config/config.json".
Using environment "development".

ERROR: Please ins

[2020-05-28 05:43] sureshbabu1995 commented on #168
Hi, @rodenp
For

you can try to install it using `npm install mysql2 -g` or you can try to use it like `npx sequelize db:migrate` command for direct installation.

2. PHP installation:
![image](https://user-images.githubusercontent.com/55544386/83103170-d167b600-a0d3-11ea-9357-8a20a556a971.png)
you can try something like this ...

I hope these 2 things can help you to set up the Code.

[2020-05-28 06:32] sureshbabu1995 commented on #165
Hi,

In this scenario, you'll get some logs in the log file if you provide the log details I can help with that.

[2020-05-30 10:57] suren-7 opened #169 "Unable to create user id"
Installed socioboard 4.0 as per document but now unable to create user id. not getting any error.

[2020-05-31 02:07] dmbomer commented on #112
I'm stuck

When I run the following command
C:\Users\david\Socioboard-4.0-master\socioboard-api\user>**nodemon app.js**
[nodemon] 2.0.4
[nodemon] to restart at any time, enter `rs`
[nodemon] watching path(s): *.*
[nodemon] watching extensions: js,mjs,json
[nodemon] starting `node app.js`
(node:8300) [SEQUELIZE0004] DeprecationWarning: A boolean value was passed to options.operatorsAliases. This is

[2020-06-05 04:47] sureshbabu1995 commented on #169
Hi, @suren-7

If you can give some elaborated description where the issue you facing I can help you with that.

So, please mention some description of the error , that what you trying and where you getting an error, because you can create the user by 2 ways directly from node side or using Web-interface ( PHP )

[2020-06-05 04:58] sureshbabu1995 commented on #167
Hi, @jay4rrrr

Present we don't have any detailed installation guide for the cPanel ( as it's paid services we haven't tried to use it ),

But my suggestion is if you're little aware of node setup, you can create 4 sub hosts and keep the node codes in the 4 subdomains ( each microservice is a host ) and try to find out a way for it, and for PHP you can create a PHP platform integration and deploy

[2020-06-06 22:50] dmbomer commented on #112
Now I am stuck here

C:\Users\david\Socioboard-4.0-master\socioboard-api\library\sequelize-cli\seeders>sequelize db:seed --seed 20190213051930-initialize_application_info.js

Sequelize CLI [Node: 12.17.0, CLI: 5.5.1, ORM: 5.21.12]

Loaded configuration file "config\config.json".
Using environment "development".
(node:9568) [SEQUELIZE0004] DeprecationWarning: A boolean value was passed to options.o

[2020-06-11 19:38] JoshuaMunoz opened #171 "Can you submit a pull request to selfhosted_templates?"
https://github.com/SelfhostedPro/selfhosted_templates

These guys have created an amazing, one-click deployment for a number of tools that run in Docker. I would love for Socioboard (open source) to be added, but they're asking for you to submit a pull request to it.

Please let me know. Thank you.

[2020-06-12 09:30] Ponomikola opened #172 "Create User error"
I have set up the Socioboard according to the documentation provided on my local windows system. But in order to use it, I tried to create user using email ID from front end and it gave me error like
"Validation error: profile_picture is not in valid url.".

Also if I try to create user with FB or Google it gave error as:

Object not found!
The requested URL was not found on this server. The link

[2020-06-25 21:44] zulfkarali003 commented on #140
Hello Alex,

This helped me only thing required is password in the "". Thank you all.

[2020-07-16 12:33] Xlomi commented on #172
The problem is with "api\library\node_modules\validator\lib\isURL.js" look for the line "if (!(0, _isIP.default)(host) && !(0, _isFQDN.default)(host, options) && (!ipv6 || !(0, _isIP.default)(ipv6, 6))) {" (line 134 me)
when debugging the code, I noticed that all of these are "true" so the return value is false.
I haven't dug too deep into this - for the time being I commented out the "if '' state

[2020-08-02 11:57] rishabh001995 commented on #161
Hello, @sureshbabu1995 i am having the similar problem as @kimbo9674 mentioned it. Node API is working fine i checked it with swagger but the PHP front-end is not working at all. I can't login or signup or anything in the front end. Any thing clicked leads to a error "Something went wrong". The log file shows 2 error

local.INFO: Sign up Exception 201 => cURL error 3:  (see https://curl.haxx.se/li

[2020-08-06 03:01] mtcaddy commented on #102
any update on docker? Happy to help.

[2020-08-06 03:24] TechnologyClassroom commented on #102
The first step to making a docker compose script would be to make a bash script to install.  No one has published one yet.

[2020-08-13 23:21] rsmithlal commented on #119
I was thinking the same thing! I just discovered this platform and I'd like to try and get it running on my dokku server. Would the maintainers be interested if I were to contribute a docker and docker-compose setup?

[2020-08-13 23:22] rsmithlal commented on #107
Awesome! Mastodon is a great federated platform. I'm also building a federated community engine and I would be interested in learning more about how you are thinking of doing these kinds of integrations?

[2020-08-13 23:23] rsmithlal commented on #102
I will take a look at what's required to get this running in docker and script the install process. This seems like an interesting and useful platform and if it can help us with our social media workload I would be happy to work with you to contribute this

[2020-08-14 12:40] cypherinc opened #182 "SyntaxError: Unexpected token 'export'"
[code]

I am getting above error while trying to migrate the database (running` sequelize db:migrate`)

NOTE: My node version is 12.18.3

[2020-08-14 12:59] mtcaddy commented on #102
I'm happy to set it up with you.

[2020-08-14 13:01] rsmithlal commented on #102
@mtcaddy sorry, I commented after just discovering the software and not trying it out. I signed up to the free plan of the commercial version and it had so many bugs that it was unusable. Lots of CORS issues in the front end. I would like this software to be worth my time, but right now it isn't.

[2020-08-14 15:09] TechnologyClassroom commented on #102
@rsmithlal Can you share your scripts?

[2020-08-14 16:09] rsmithlal commented on #102
@TechnologyClassroom I didn't end up writing more than just the initial couple of empty files because realized that I hadn't tried the software yet and had no idea what it was like or if it was worth investing time in. The bugs that I encountered were with the commercial production software and not the open source edition, and they don't have a clear way of reporting issues with that software as f

[2020-08-14 16:53] TechnologyClassroom commented on #102
@rsmithlal I see.  I think this is also the bug tracker for that.

[2020-08-22 18:02] lmahendra opened #183 "Microservices are not running properly"
Hi,
I installed socioboard using link https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04
Everything works fine except when I try to register an user, I am facing below error
`[2020-08-22 17:53:56] local.INFO: Sign up Exception 200 => cURL error 7: Failed to connect to localhost port 3000: Connection refused (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)
[2020-08-22 17:53

[2020-08-24 17:03] lmahendra commented on #183
figured it out..
when checked logs In user folder under socioboard-api, turned out there was an issue with mongodb password which  apparently contained "@"
created new mongo user (with password that doesn't contain "@") and it worked!

[2020-08-25 15:46] bhuvnesht26 commented on #165
**Facing the same issue and here is a snapshot of the log.**
@sureshbabu1995

![image](https://user-images.githubusercontent.com/4116233/91196762-6f2e4980-e6f2-11ea-9f24-195f11a7126c.png)

[2020-08-25 17:36] bhuvnesht26 commented on #164
Can you please tell the location of file where this change has to be made?

[2020-08-25 18:17] lmahendra opened #184 "Not able to add any social media account"
Hi,
I have configured facebook app_id & secret_key in all of the user, feeds, notification, publish folder's `config/development.json` file

I am struggling to setup the socioboard properly. When logged in & tried to "Add Accounts" it just display a popup `OOPS Currently not able to add your account`
Logs in socioboard-web-php shows following info

`[2020-08-25 17:56:11] local.INFO: Exception :: /

[2020-08-28 17:06] lmahendra commented on #164
Facing same issue, I tried adding it in `user/config/development.json` next to scopes under facebook_api config but no success.
Did you have any luck configuring it?

[2020-09-29 00:05] hcortez-bit opened #195 "Not Running Microservices, nodemon is not working"
i have installed socioboard 4.0 on cloud vps, the microservices are running but its not working on port 3000, then i can't log in on my socioboard.
i run this manually > nodemon app.js
i get this >
[nodemon] 2.0.4
[nodemon] to restart at any time, enter `rs`
[nodemon] watching path(s): *.*
[nodemon] watching extensions: js,mjs,json
[nodemon] starting `node app.js`
[nodemon] clean exit - waiting fo

[2020-09-29 00:42] hcortez-bit commented on #183
hi, @lmahendra  i had the same issue, i checked my mongodb user and changed it, but its not working yet the microservices

[2020-09-29 21:35] #195 closed

[2020-09-29 21:35] hcortez-bit commented on #195
I fix them
running ok

[2020-09-29 21:38] hcortez-bit commented on #165
before putting the 3 lines after the penultimate key it has ","

[2020-09-30 20:42] hcortez-bit opened #196 "Error 400: redirect_uri_mismatch"
Hi
when i try to login with google accounts i get this issue

The redirect URI in the request, http://localhost:3000/v1/auth/google/callback, does not match the ones authorized for the OAuth client. To update the authorized redirect URIs, visit: https://console.developers.google.com/apis/credentials/oauthclient/${your_client_id}?project=${your_project_number}

[2020-09-30 23:10] #196 closed

[2020-09-30 23:56] hcortez-bit opened #197 "Error Redirecting OAuth With Google"
Hi
i try to login in socioboard with google account, but the redirects fail, if i edit redirec_url on user config development and edit URI redirect on console apis at the same url, it works but not redirect to my dashboard.
i checked the log files but nothing is wrong

[2020-10-01 01:04] hcortez-bit commented on #184
Hi
i wanted to see if you found a solution to socioboard 4 with regards to the microservices and social logins.
any help would be appreciated

[2020-10-01 01:08] hcortez-bit commented on #159
Hi @yogesh23021995
i wanted to see if you found a solution to socioboard 4 with regards to the microservices and social logins.
any help would be appreciated

[2020-10-02 16:03] #197 closed

[2020-10-09 13:55] LGACode opened #198 "Linux Support"
Please make a Linux-compatible version of Socioboard.

[2020-10-11 16:24] TechnologyClassroom commented on #198
See https://github.com/socioboard/Socioboard-4.0/issues/112

[2020-11-24 23:59] stvhanna commented on #102
@rsmithlal Did you find an alternative since Socioboard appears to have bugs and not worth dockerizing right now?

[2020-11-25 03:01] rsmithlal commented on #102
Unfortunately not! I didn't need the features bad enough to keep looking extensively. It's something that I will be building into my open source community engine, though. It's not released yet, but you can find it in my profile if you're interested in something like this and would like to keep up to date and/or help build it!  ---- On Tue, 24 Nov 2020 20:29:38 -0330  notifications@github.com  wrot

[2020-12-01 21:25] q2dg opened #201 "http://www.socioboard.org points to nowhere and https://www.socioboard.org gives a certificate warning..."
...and if I add an exception in my browser I get redirected to https://dev.empmonitor.com (!!?)

Thanks!

[2020-12-13 10:13] jtiebel commented on #184
have the same problem. Can anybody assist?

[2020-12-21 17:20] fairhopeweb commented on #169
@suren-7 I'm having the same issue on the PHP install. It will not accept my new user, social logins don't work. I can't tell from documentation if there is a basic root or pre-installed user?

[2020-12-22 10:07] AishwaryaMurali commented on #169
Hi, have you updated the .env file of php with all the node services link ?
And, is all nodejs setup done?

[2021-01-04 13:22] sureshbabu1995 commented on #201
This is Fixed, Please check the link [https://socioboard.org/](url)

[2021-01-04 13:29] sureshbabu1995 commented on #182
Hi,

[2021-01-04 13:34] sureshbabu1995 commented on #171
Hi, That's a valid request, but we need to make our services for Docker, soon we will update the code for docker support, then we'll make it much easier as you suggest.

[2021-01-10 19:36] Csurlee commented on #172
Hello, something new?
I have the same problem ...

Thanks

[2021-01-12 13:45] manashgarg opened #205 "Installation of socioboard4 php. unbuntu 20. not able to add account"
Hi,
due to limited tutorial its very tough to understand  how to add the social account.
as when i click on facebook it redirects and says invalid app id.
now im not sure what to do, where to add the app id. Can anyone help please.
with twitter it says access denied.

not able to understand what i need to do.

[2021-01-12 15:48] TechnologyClassroom commented on #205
Can you share the commands you used to that point?

[2021-01-12 16:03] manashgarg commented on #205
Hi,
I used this link to install socio board on a fresh installation.
https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04
this link did not have option on how to setup smtp details hence I followed the option of directly enabling from DB.
now when I try to add account I end up with this error.
Note: I have not added any app ID in any configuration files as this was not mentioned in

[2021-01-12 16:17] TechnologyClassroom commented on #112
@manashgarg [found a guide](https://github.com/socioboard/Socioboard-4.0/issues/205#issuecomment-758757804) at https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04

Now this guide needs to be turned into a bash and docker script.

[2021-01-12 16:18] TechnologyClassroom commented on #198
@manashgarg [found a guide](https://github.com/socioboard/Socioboard-4.0/issues/205#issuecomment-758757804) at https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04

Now this guide needs to be turned into a bash and docker script.

[2021-01-12 18:23] manashgarg commented on #205
Any help here?

[2021-01-12 18:28] manashgarg commented on #205
Updating in adding accounts:
youtube: Authorization Error
Error 401: invalid_client
The OAuth client was not found.
Facebook and insta: Invalid app ID
The provided app ID does not look like a valid app ID.
twitter:  Oops...
Access denied. You can not add account to this team
if someone could guide me in which file i need to make changes it will be of great help

[2021-02-03 08:00] dustbro opened #210 "Unable to create new account"
Running Ubuntu 20.04
I'm able to access the Socioboard web interface, but clicking on "create an account now" doesn't do anything. After checking the error logs in /var/www/socioboard/socioboard-web-php/storage/logs/ I'm seeing:
`[2021-02-03 07:26:22] local.INFO: Sign up Exception 201 => cURL error 3:  (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)
[2021-02-03 07:26:22] local.ERROR: Unde

[2021-02-27 21:09] BloodyIron commented on #172
Actually commenting the line out didn't work for me, so I set the result from "false" to "true".

For me, because I'm doing this as a demo, I think it's failing because I'm not using a FQDN, and/or HTTPS.

The experience with this tool is very horrible and the quality of programming here is amateur AT BEST. Here's hoping the tool is worth the pain it takes to get going.

[2021-02-27 21:22] BloodyIron commented on #205
Hey look yet another ask for help issue on this repo that goes nowhere. I too just set this up and am getting "Access Denied" when trying to add a Twitter account.

This tool and the devs are a joke.

[2021-02-27 21:32] BloodyIron commented on #205
I think what the matter is that you need to apply for an API key for what account you want to make, in my case, twitter. The info at the time of writing I think is here : https://developer.twitter.com/en/docs/twitter-api/getting-started/guide

I think I need to stuff the API keys into the file located at ../socioboard-api/feeds/config/development.json but the other apis might need them too.

At th

[2021-03-16 02:27] liangjsbfy commented on #184
I get the same problem as you - -!

[2021-03-18 16:34] luckisoff commented on #210
![image](https://user-images.githubusercontent.com/8510066/111662216-d7cc4780-8837-11eb-9477-99bd03d2c9ac.png)
In app/Modules/User/Controllers/UserController.php in signup method catch
change :
`return $result to return $res`

[2021-03-29 16:48] semiPlanet commented on #165
do not use nodemon use npm
npm install -g pm2@latest
npm start

[2021-04-05 00:45] HowardCrane opened #215 "Ubuntu installation: Cannot find..... config.json. Have you run "sequelize init"?"
Hello,
I've been following the instructions here on [LinuxBabe](https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04) without any issues up until "Step 5: Set up MariaDB Database".
The config file exists and the data in it is accurate. I was told that it cannot be found when I attempted to run the following command:

`NODE_ENV=development sequelize db:seed --seed 20190213051930-init

[2021-04-06 06:04] HowardCrane commented on #215
Well, I tried the obvious and ran the command
`sequelize init`
without knowing what it does and, whatever happened, it was successful.

[2021-04-06 06:04] #215 closed

[2021-04-06 06:17] HowardCrane opened #216 "Installation: Composer: Your requirements could not be resolved to an installable set of packages."
Hi,
I'm following instructions to install socioboard on Ubuntu 20 from [linuxbabe](https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04). A source of my problem _might_ be that I'm running Ubuntu 18, but I don't see why.

On **Step 10: Set Up Socioboard-web-php** I run into a problem when running `composer update` - it can't seem to find any of its requirements. See the wall of text

[2021-05-17 02:21] zombozo12 commented on #216
Please check your `php.ini` file and find `extension=mbstring` and delete the `;` in front of the line. After that, save the file and re-run `composer update`. This should solve your problem

[2021-05-22 18:28] mtwilson opened #229 "Microservices not working on Ubuntu 20 install"
I am trying to activate the socioboard micro services on a Ubuntu 20 server I have set up and it does not appear to be working.

When I use the server user name and run systemctl status socioboard-notification, restart the server, I get this error...

● socioboard-notification.service - SocioBoard Notification Microservice
     Loaded: loaded (/etc/systemd/system/socioboard-notification.service; d

[2021-05-22 18:36] TechnologyClassroom commented on #229
Can you post the commands you used to get to this point?  So far no one has published their work on the Ubuntu workflow.

[2021-05-22 19:37] mtwilson commented on #229
I was loosely following this tutorial – https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04

Although I found some of what is there is not always correct. I set up node and apache on my server first then pretty much what you see there. Stuck at Step 9: Run Socioboard Microservices

[2021-05-22 19:39] mtwilson commented on #229
Not sure why the public/logs aren't being created. I am sure I would be able to get closer to a solution if I could review logs.

[2021-05-24 04:39] sureshbabu1995 commented on #229
@mtwilson

Hi, I would be helping you with the issue, please contact on this mail - Mail ID: @sureshbabu@globussoft.in,

I'll be giving you the proper solution to you problem, and we can sort it with continuity in support.

[2021-05-31 14:35] mav3rick177 opened #232 "Linkedin account integration"
How to enable Linkedin account integration
![Capture](https://user-images.githubusercontent.com/32111679/120208853-de0e7500-c225-11eb-8e7f-019ed4deeb46.PNG)

[2021-06-05 10:07] kchizi commented on #172
Have you set up the correct  "APP_URL=" in socioboard-web-php ?

Ensure the correct APP_URL= is set in the laravel environment file

[2021-06-17 20:49] abodsakah opened #233 "Cant load website"
When ever i try to open the website i just get a 404 error even tho i tried with Apache and nginx and then i cant seem to get the laravel app_key becuase everytime i run `php artisan key:generate ` i get `Could not open input file: artisan` even tho i did the update and all that.

[2021-06-18 06:48] sureshbabu1995 commented on #233
Hi, @abodsakah

I hope some of the below instructions will fix you to an extend please follow the below steps one

Goto -> PHP folder
`composer install`

[2021-06-18 07:58] abodsakah commented on #233
Still dosn't work, you can see my steps here
https://asciinema.org/a/tFyO846rHuXBJ5TeauyJYQvu3

[2021-06-18 11:52] sureshbabu1995 commented on #233
Hi .. Check the clone once

Your directory files  - http://url1318.globussoft.in/ls/click?upn=pCZsBLi5VdPF-2B0-2FpXEX-2Fu7JlxiIiQfc72dxdIeC2jOprSgH40PKqZZVQEgJhZ9mXCk8w_U31jt5HgHBh7k3Grc5s4l7SADnTuOVNpASOYFQ6rL64GJZFNRKJb2O-2BxVgXL1TDiiXdXSOjeOA9i3-2FMvJcfwTK1738Lt4ClrqUAzzdIwxiZSksyRAoQ-2FNYe52lIC2-2F1yc9aAK7SKSptt-2Br2JDfz1NqkpgNaO9T-2FQRSGx-2BaepJ6B5ILe-2Frrb6ApTOvBElzl6lMr3om7sAqNh552NVRzyLKEk

[2021-06-18 12:56] abodsakah commented on #233
I created artisan file and pasted the code from github but now when i run it i get
[code]

[2021-06-18 12:56] abodsakah commented on #233
I created artisan file and pasted the code from github but now when i run it i get
[code]

[2021-06-24 20:06] #233 closed

[2021-07-11 07:11] pavel874 opened #235 "downgrade account"
when I registered for socioboard it automatically set up es the most expensive Platinum subscription.
I came to use this as a free option. so I want to downgrade to free but when I try doing that it kicks me out with an endless loop of waiting to log back in.

how can I delete my socioboard account.  this is not what I signed up for

[2021-07-13 21:26] EngBadr opened #239 "Laravel docker container"
Hello,
I tried to install Laravel container and everything was fine
used version : bitnami/laravel
Socioboard version : Socioboard-5.0
deployment approach :
1. download "docker-compose.yml"
2. copy "docker-compose.yml"  under Socioboard-5.0\socioboard-web-php
3. `docker-compose up`
4. inside the container I access the bash in my \socioboard-web-php  container
5. `docker -it socioboard-web-php_cont

[2021-07-15 15:28] EngBadr commented on #112
Hi ,
I'am using the Socioboard-5.0 , all steps event in above video are explain the version 4.

I try to follow some of these stesp until I reach the 4th steps in many atricles they say
under this directory

/var/www/Socioboard-5.0/socioboard-api

there is no library and word document explain that library hold Common files and services

in version 5 I got to

/var/www/Socioboard-5.0/socioboard-api

[2021-07-17 07:06] shreyas2199 opened #240 "library directory is missing from the socioboard-api directory"
library directory is missing from the socioboard-api directory. If it is renamed as Common please update in readme as well.

[2021-07-19 07:47] sureshbabu1995 commented on #240
Hi @shreyas2199

Yes, we'll be updating the Readme files soon, and this time we'll be adding Granular documentation to make it easy for all possible ways.

[2021-07-19 07:49] sureshbabu1995 commented on #235
Please check with the Current updated code. I've pushed the latest version and new updates to the bugs.

[2021-07-19 07:53] sureshbabu1995 commented on #239
Hi @EngBadr

I'll be adding the more detailed setup ( ReadMe ) soon for the latest updated code, for now

you need to run the node services (API part)

APP_URL =localhost:1000/ - node user will run in 1000 port
API_URL_FEEDS=localhost:1001/
API_URL_PUBLISH=localhost:1002/
API_URL_UPDATE=localhost:1003/ etc, if you change ports then change values over here as well.

[2021-07-20 19:08] Yao228 opened #242 "AWS EC2 UBUNTU SOCIOBOARD ERROR"
Hi, I installed Socioboard on aws ec2 ubuntu and I am getting this error when I inspect the page.

Failed to load resource: net::ERR_CONNECTION_REFUSED
localhost:3003/socket.io/?EIO=3&transport=polling&t=Nh5Eh4P:1 Failed to load resource: net::ERR_CONNECTION_REFUSED
localhost:3003/socket.io/?EIO=3&transport=polling&t=Nh5EjhD:1 Failed to load resource: net::ERR_CONNECTION_REFUSED
localhost:3003/soc

[2021-07-23 13:24] socioboard commented on #149
Hi, I hope you look into the Latest 5.0 version, and we're giving weekly update as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:24] #149 closed

[2021-07-23 13:25] socioboard commented on #88
Hi, I hope you look into the Latest 5.0 version, and we're giving weekly update as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:25] #88 closed

[2021-07-23 13:26] socioboard commented on #89
Hi, I hope you look into the Latest 5.0 version, and we're giving weekly update as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:26] #89 closed

[2021-07-23 13:26] socioboard commented on #90
Hi, I hope you look into the Latest 5.0 version, and we're giving weekly update as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:26] #90 closed

[2021-07-23 13:26] socioboard commented on #91
Hi, I hope you look into the Latest 5.0 version, and we're giving weekly update as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:26] #91 closed

[2021-07-23 13:27] socioboard commented on #92
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:27] #92 closed

[2021-07-23 13:28] socioboard commented on #93
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:28] #93 closed

[2021-07-23 13:28] socioboard commented on #94
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:28] #94 closed

[2021-07-23 13:29] socioboard commented on #95
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:29] #95 closed

[2021-07-23 13:30] socioboard commented on #96
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:30] #96 closed

[2021-07-23 13:31] socioboard commented on #97
Hi we've made **a Major update**, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:31] #97 closed

[2021-07-23 13:32] socioboard commented on #98
Hi we made **a Major Update**, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:32] #98 closed

[2021-07-23 13:34] socioboard commented on #99
Hi @YosuCadilla

Don't worry about tech or non-tech,

Please let us know what's your query.

[2021-07-23 13:36] socioboard commented on #100
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:36] #100 closed

[2021-07-23 13:39] socioboard commented on #210
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:39] #210 closed

[2021-07-23 13:40] socioboard commented on #201
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:40] #201 closed

[2021-07-23 13:42] socioboard commented on #168
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:42] #168 closed

[2021-07-23 13:42] #182 closed

[2021-07-23 13:42] #183 closed

[2021-07-23 13:43] socioboard commented on #164
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:43] #164 closed

[2021-07-23 13:44] socioboard commented on #165
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:44] #165 closed

[2021-07-23 13:45] socioboard commented on #169
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:45] #169 closed

[2021-07-23 13:49] socioboard commented on #172
Hi we've done **a Major Update**, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:49] #172 closed

[2021-07-23 13:50] socioboard commented on #146
Hi, I hope you **look into the Latest 5.0 version**, and **we're giving weekly update** as well and this won't be considerable issue in that latest code, If you've any issue, feel free to open a bug and we'll be helping you..

[2021-07-23 13:50] #146 closed

[2021-07-23 14:02] TechnologyClassroom commented on #149
[I searched the code for license and this issue has not been resolved.](https://github.com/socioboard/Socioboard-5.0/search?p=1&q=license)  Reopen.

[2021-07-23 14:09] TechnologyClassroom commented on #149
PR https://github.com/socioboard/Socioboard-5.0/pull/105 associated with this issue was also closed.

I am not touching this code base again until the licensing issue is clarified.