[2021-07-23 14:15] TechnologyClassroom opened #243 "Recently closed issues"
I count 23 issues closed recently promoting Socioboard 5.  I am sure some issues would be resolved with a new major version.  My issue https://github.com/socioboard/Socioboard-5.0/issues/149 was not resolved.  Were these other issues also unresolved by the new version?

Will my issue be reopened or do I need to make a new duplicate issue since the issue was not resolved?

[2021-08-01 03:15] YosuCadilla commented on #99
I would like to connect Mautic with Socioboard, can you help me find the best way to do so?

[2021-08-02 05:17] sureshbabu1995 commented on #243
Hi, @TechnologyClassroom

Sorry for the inconvenience, it was a missed checklist category.  Now we've added the LICENSE file Please check it once.

[2021-08-02 13:48] TechnologyClassroom commented on #243
Excellent!  Thank you!

[2021-08-02 13:48] #243 closed

[2021-08-02 13:51] TechnologyClassroom commented on #149
This issue was resolved in https://github.com/socioboard/Socioboard-5.0/pull/245/

Thank you!

[2021-08-02 14:36] TechnologyClassroom opened #247 "Missing GPL-3.0-or-later license headers"
I see the GPLv3 LICENSE file was added in https://github.com/socioboard/Socioboard-5.0/pull/245 and there is a bit more to do with this issue.  The https://socioboard.org/license/ page says, "The GPLv3 (or later) from the Free Software Foundation is the license that the Socioboard software is under its text follows."  The `-or-later` part of `GPL-3.0-or-later` is not specified in the git repo of t

[2021-08-02 14:41] TechnologyClassroom opened #248 "Developer file is in docx instead of markdown"
`.docx` files are not well suited for a version control system such as a git repository. If someone have a pull request to improve the doc, they basically need to delete the file and upload a new file. The git history gets bloated very fast in this way. This is why plain text files such as markdown are commonly used for `README.md` and `INSTALL` files.

Would you like help converting the file to m

[2021-08-02 14:41] TechnologyClassroom commented on #248
Referencing https://github.com/socioboard/Socioboard-5.0/pull/147

[2021-08-04 12:24] sureshbabu1995 commented on #247
Hi, sorry for the inconvenience of your old PR closing, we closed all as a part to recreate new flow,

now  we're a little busy setting up the servers and some other works,

Please check with it, if you would like to help us here we always welcome you, we'll be reviewing your PR and we'll merge it if everything is fine.

[2021-08-04 12:28] sureshbabu1995 commented on #248
Hi, sorry for the inconvenience

That was a simple description in that file about how it would be at the end of setup, but if you can make something similar to it in the readme file - It will help us only,

You can share your PR; we'll be reviewing your PR and we'll merge it if everything is fine.

[2021-08-08 14:09] Yao228 opened #249 "undefined error when creating account"
Hi how can provoque this issue : undefined, when I create account after installation.?

[2021-08-09 05:39] sureshbabu1995 commented on #249
HI @Yao228

Can you give a little more information about your issue, so that it would be easy to assist you ...

[2021-08-09 21:04] talheim-it opened #250 "Installation Issue - Bash Script not working"
I tried to install Socioboard on CentOS8.

I stumble over a few issues and I want to talk about and discuss them:

First of all, the directory structure:
[root@dev01 socioboard]# tree -L 2
.
├── Installatin.sh
├── INSTALLATION.md
├── LICENSE
├── package-lock.json
├── README.md
├── Socioboard-5.0
│   ├── Installatin.sh
│   ├── INSTALLATION.md
│   ├── LICENSE
│   ├── README.md
│   ├── SocioBoard5.0.

[2021-08-09 21:17] talheim-it commented on #250
There is also an issue with composer 2.1.5

I tried to run /usr/local/bin/composer update but it tells me the syntax is wrong.

The option "type": "Project" didn't work. After I removed it, I was able to compose the file.

[2021-08-13 15:20] talheim-it commented on #198
@TechnologyClassroom why not ansible too? A playbook and shoot :)

I will write it in the next days and look if it works.

[2021-08-16 08:47] asbachb commented on #250
I suspect that main development is done on Windows which is case insensitive. Since most linux file systems are case sensitive this issue occur.

I think the project should decide if it want's to use uppercase and if not fix these filename.

[2021-08-16 17:38] asbachb opened #251 "socioboard-api documentation reference non existing module `library`"
see https://github.com/socioboard/Socioboard-5.0/blame/master/socioboard-api/README.md#L22

[2021-08-17 14:02] socioboard commented on #247
Hi @TechnologyClassroom
Please Check now, If need any modification please Give the Updates or Give a PR with the updates, I'll be reviewing and update you

[2021-08-17 14:21] TechnologyClassroom commented on #248
Beat me to it.

https://github.com/socioboard/Socioboard-5.0/blob/master/SocioBoard5.0-doc.md

[2021-08-17 14:21] #248 closed

[2021-08-17 14:28] TechnologyClassroom opened #256 "LICENSE file is incorrectly formatted"
These two commits messed up the license file:

https://github.com/socioboard/Socioboard-5.0/commit/2f644155972e3721026ea72af1ae3b42292bacfd

https://github.com/socioboard/Socioboard-5.0/commit/356849edbcf177ab10d4c8c79e88599856fe72d0

When the license file is standardized, the license clearly appears in the `About` section on the first pageview.  Currently GitHub cannot parse the changes and it sa

[2021-08-17 14:30] TechnologyClassroom commented on #247
That is not what I said to do at all.  I made a different issue as that is completely different.

[2021-08-17 23:59] ibrainRodriguez commented on #112
@EngBadr ey bro!! do y can install socioboard 5.0?

I have tried but I can't get past the migrations

[2021-08-20 01:49] starchild opened #257 "how to set up for multiple users?"
Is it possible to have multiple instances running for different users?

[2021-08-21 17:25] Yao228 commented on #249
HI @sureshbabu1995
This is my laravel .env configuration. I dont know if its correct but when I want to signup I get undefined error.

APP_NAME="EASY SOCIALBOARD"
APP_ENV=local
APP_KEY=base64:VcvhmmqMm7fcBd/5D/JjUHqp1oy6TZBvmDUu4b4XsSA=
APP_DEBUG=true

# All these should end with /
APP_URL=https://easysocialboard.com
WEBSITE_TITLE="EASY SOCIALBOARD"
API_URL=http://3.143.218.195:3001
API_URL_FEEDS=

[2021-08-27 04:45] dineshrggit opened #258 "pm2 start user.service.js Says [PM2][ERROR] Script not found:"
I have followed all the steps till starting the node services.

when I try to start the node service using **pm2 start user.service.js** it gives error: **[PM2][ERROR] Script not found: /Social_board/Socioboard-5-2.0-master/socioboard-api/User/user.service.js**

This error comes for all node services Feeds, Publish, Notification, Update.

Any help will be appreciated. TIA

[2021-08-30 08:54] dineshrggit opened #259 "Getting error on running user service."
On running user service by npm run dev, it shows shows success in terminal
`ip-192-168-225-153:User dinesh$ npm run dev

Swagger-autogen:  Success ✔
[nodemon] 2.0.12
[nodemon] to restart at any time, enter `rs`
[nodemon] watching path(s): *.*
[nodemon] watching extensions: js,mjs,json
[nodemon] starting `node user.server.js`
[nodemon] clean exit - waiting for changes before restart`
but getting th

[2021-08-31 13:21] sureshbabu1995 commented on #259
Hi, @dineshrggit

Yeah, there's a config object missing from user service, I'll be updating the config files very soon

or you can find that object in other services, please copy-paste it in the user config folder as well.

[2021-08-31 19:50] asbachb commented on #251
@sureshbabu1995 the library folder does not exist at all.

[2021-09-04 17:16] ShareBtech commented on #112
I have tried following the instructions in linuxbabe website (which are usually amazing), however as recent comments library is missing and i assumed Common and many other things just dont add up.
Directory names have changed with capitalization at the begining.  I have tried updated service files and running the services however keep getting the service is not running.
● socioboard-user.service -

[2021-09-08 13:38] aurora10 commented on #112
Same here. Also cannot find errors file.

[2021-09-12 17:40] aurora10 opened #261 "Cannot get OTP number"
Any number entered in OTP field is invalid.

Entering any random number returns: Undefined

So, no way to create a user account.

[2021-09-16 05:26] sureshbabu1995 commented on #261
Hi @aurora10

Have you added your Twilio creds? and have you got OTP?

[2021-09-16 05:27] sureshbabu1995 commented on #258
Hi, @dineshrggit

I've updated the config files please check it and try to run it

Yeah, there's a config object missing from user service, I'll be updating the config files very soon

or you can find that object in other services, please copy-paste it in the user config folder as well.

[2021-09-16 13:03] aurora10 commented on #261
I was following this tutorial:

https://www.linuxbabe.com/ubuntu/install-socioboard-on-ubuntu-20-04

It said nothing about twilio having to be set up. I don't even need it, yet I get this OTP field where must put my phone number..

[2021-09-16 13:48] FlorentPoinsaut opened #262 "[ERR_MODULE_NOT_FOUND]: Cannot find module '/opt/socioboard-api/User/core/unauthorized/unauthorized.routes.js'"
Hello!

User service from Socioboard-5.1.0 branch doesn't start with this error:
[code]

Code searches for `~/User/core/unauthorized/unauthorized.routes.js` instead of `~/User/core/unAuthorized/unAuthorized.routes.js`

A one-liner to fix this:
`  grep -r '/unauthorized' ~/User/core ~/User/resources | grep import | cut -d ':' -f 1 | xargs sed -i 's:/unauthorized:/unAuthorized:g'`

Regards,

[2021-09-16 14:22] hazarvolga commented on #251
yes ı cant find it

[2021-09-16 14:39] FlorentPoinsaut opened #263 "Error: ENOENT: no such file or directory, mkdir 'resources/Log/ResponseLog'"
Hello!

Feeds and Update services from Socioboard-5.1.0 branch don't start with this error:
[code]

A one-liner workaround:
ln -s ~/Feeds/resources/log ~/Feeds/resources/Log && ln -s ~/Update/resources/log ~/Update/resources/Log

Regards,

[2021-09-16 14:49] FlorentPoinsaut opened #264 "Error: ENOENT: no such file or directory, open './resources/views/swagger-api-view.json'"
Hello !

User, Publish, Feeds and Update services from Socioboard-5.1.0 branch don't start with this error:

[code]

One-liner workaround:
` cp Notification/resources/views/swagger-api-view.json Feeds/resources/views/  &&  cp Notification/resources/views/swagger-api-view.json User/resources/views/  &&  cp Notification/resources/views/swagger-api-view.json Publish/resources/views/  &&  cp Notificat

[2021-09-16 15:00] FlorentPoinsaut opened #265 "Error: accountSid must start with AC"
Hello !

User service from Socioboard-5.1.0 branch doesn't start with this error:

[code]

To fix this error, you need to start the JSON node `twilio.account_sid` by `AC` in `User/config/development.json` file.

Regards,

[2021-09-16 15:28] FlorentPoinsaut opened #266 ""./composer.json" does not match the expected JSON schema: - type : Does not match the regex pattern ^[a-z0-9-]+$"
In php frontend from Socioboard-5.1.0 composer report this error:

[code]

One-liner workaround:
`sed -i -e 's/    "type": "Project",/    "type": "project",/g' composer.json`

Regards

[2021-09-19 19:40] Jawn78 commented on #266
Did you resolve this. I am running into it as well.

[2021-09-20 01:24] TechnologyClassroom commented on #266
@Jawn78 The `P` in `Project` should be lowercase.

[2021-09-20 06:36] sureshbabu1995 commented on #265
Hi @FlorentPoinsaut

Great To hear a fix in a bug list, Hope it will be useful for other users till we update the document.

Thank you to mention the fix.

[2021-09-20 06:37] sureshbabu1995 commented on #264
Hi @FlorentPoinsaut

Great To hear a fix in a bug list, Hope it will be useful for other users till we update the document.

Thank you to mention the fix.

[2021-09-20 06:38] sureshbabu1995 commented on #263
Hi @FlorentPoinsaut

Great To hear a fix in a bug list, Hope it will be useful for other users till we update the document.

Thank you to mention the fix.

[2021-09-20 06:39] sureshbabu1995 commented on #262
Hi @FlorentPoinsaut

Great To hear a fix in a bug list, Hope it will be useful for other users till we update the document.

Thank you to mention the fix.

[2021-09-29 02:39] mgAdler opened #269 "How to deactivate OTP verification?"
As first I don't want to use twilio (or similar).

So I don't need OTP verifaction. How can I turn off or bypass this?

Also there is a error in processing OTP verification (I tried to test with twilio trial subscription):

Chrome devtools:
Uncaught TypeError: phoneno.focus is not a function
    sendOTP https://MYURL/register:476
    onclick https://MYURL/register:1

(/socioboard-web-php/Modules/U

[2021-09-29 04:39] sureshbabu1995 commented on #269
Hi,

We'll update the code for bypassing the OTP by using config check.

For now if you want then you need to change in FE and BE as well.

On 9/29/2021 8:09 AM, mgAdler wrote:

--
Thanking You

Best Regards,
Gogula Suresh Babu
Senior Software Engineer(TL)
*
*Bhilai Office:*          First Floor, CHPL Dream Home Apartment,
                               Near Dena Bank, Apollo Hospital Road,
Junwan

[2021-09-29 04:49] socioboard commented on #266
Hi,

I hope this got fixed, and we've updated the code as well.

[2021-09-29 04:49] #266 closed

[2021-09-29 05:04] socioboard commented on #184
Hi, Please check with Latest 5.0 releases, If you've any issues please feel free to raise issue or come in discussions,

 Thank you

[2021-09-29 05:05] #184 closed

[2021-09-29 06:45] #171 closed

[2021-09-29 06:46] socioboard commented on #232
Hi, we've enabled LinkedIn in latest code please check it.

[2021-09-29 06:46] #232 closed

[2021-09-29 06:51] socioboard commented on #216
Hi, Please check the latest requirements and installation of new code

PHP8.0^
Laravel 8.0^
Composer 2.0^

These are required and then you can install composer without any errors in latest code.

[2021-09-29 06:51] #216 closed

[2021-09-29 06:55] #163 closed

[2021-09-29 06:56] #235 closed

[2021-10-01 14:44] abachtold opened #272 "Erro starting service"
When I'm trying to star the service Im geting errors.
Using  nodemon user.server.js
[nodemon] 2.0.13
[nodemon] to restart at any time, enter `rs`
[nodemon] watching path(s): *.*
[nodemon] watching extensions: js,mjs,json
[nodemon] starting `node user.server.js`
[nodemon] clean exit - waiting for changes before restart

It stops here.

I tried the method on https://www.linuxbabe.com/ubuntu/install-

[2021-10-02 08:34] cmdntd opened #273 "Why do you keep 4.0 version?"
Sorry. I do not understand.
Why should I use 4.0 when you had 5.0 release? Why do you not merge them?

[2021-10-04 13:03] sureshbabu1995 commented on #272
Hi @abachtold

That's disappointing news, I've updated the installation file, can you please check it, If not sure

My Mail ID: sureshbabu@globussoft.in

Mail me we can schedule a call to fix all your issues and I help further.

[2021-10-04 13:09] #273 closed

[2021-10-04 16:06] abachtold commented on #272
I'm using the installation file.
Somethings arent right in there still. Like the files for the nodemon is note "user.service.js" anymore, is "user.server.js" this "service" to "server" goes for the other folders too, but that is an easy change to see.
I'll send you an e-mail.

[2021-10-04 16:11] TechnologyClassroom commented on #272
@abachtold If you found typos in the installation file, I would suggest making a PR to fix it.

[2021-10-05 05:40] socioboard commented on #272
Hi @abachtold

I've updated the installation file. Check it once.

[2021-10-05 05:41] sureshbabu1995 commented on #272
Hi @abachtold

I've updated the installation file. Check it once.

[2021-10-16 20:35] mgAdler commented on #269
@sureshbabu1995 are you still there?

[2021-11-01 06:18] danielpbrewer opened #280 "desperately seeking help"
Hello all, it has taken me a month to get socioboard 4 installed and then a day to work out the user registration work around and now its saying the following:

Exception 210 => Function Name =>  => code =>0 => message =>  cURL error 7: Failed to connect to localhost port 3000: Connection refused (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for http://localhost:3000/v1/login

I can see

[2021-11-04 13:49] FlorentPoinsaut opened #286 "Error [ERR_MODULE_NOT_FOUND]: Cannot find module '~/Common/Demo/medium/medium-demo.routes.js' imported from ~/User/resources/routes/public.routes.js"
Hello!

User service from Socioboard-5.3.1 branch don't start with this error:

[code]

This import doesn't exist:
https://github.com/socioboard/Socioboard-5.0/blob/fc03145b17531c23893ac0a2279c7224b2e3c3e6/socioboard-api/User/resources/routes/public.routes.js#L14-L15

WorkAround: comment these lines

Regards,

[2021-11-04 14:05] FlorentPoinsaut opened #287 "Error [ERR_MODULE_NOT_FOUND]: Cannot find module '~/Common/Shared/config.shared.js' imported from ~/Common/Constants/bitly.constants.js"
Hello!

User service from Socioboard-5.3.1 branch don't start with this error:

[code]

The file `~/Common/Shared/config.shared.js` doesn't exist at all...

Regards,

[2021-11-17 02:32] mgAdler commented on #269
Any updates on this @sureshbabu1995?

[2021-11-18 17:44] hamza4522 opened #290 "Lots of Issues when try to run nodemon "microservices""
Please update your rep completely. I am facing lots of file missing errors. The web app runs fine but is unable to run any microservice especially user.js. it gives lots of file missing error, config.shared.js file is missing, Dailymotion files are missing

[2021-11-19 07:10] socioboard commented on #290
Hi @hamza4522

Sorry for the inconvenience Let me update the files..

[2021-11-21 13:14] hamza4522 opened #293 "Demo Video for socioboard installation"
Can you make a demo video for socioboard installation and first-time login because we all are facing lots of issues. It will be very helpful for us

[2021-11-21 13:35] hamza4522 commented on #290
Thankx for updating the files

[2021-11-22 00:22] dustbro commented on #293
that would be great

[2021-11-26 04:33] sureshbabu1995 commented on #280
Hi, @danielpbrewer

Give me some time, let me create a video of the Initial setup, signup, and Dashboard view. which will clarify all the queries.

[2021-11-26 04:41] sureshbabu1995 commented on #286
Hi, @FlorentPoinsaut

Let me updated the missing files.

[2021-11-26 04:42] sureshbabu1995 commented on #287
Hi, @FlorentPoinsaut  Let me update the missing file.

[2021-11-26 05:30] danielpbrewer commented on #280
thank you so much!!

[2021-11-29 10:44] #286 closed

[2021-11-29 10:44] #287 closed

[2021-12-03 09:17] arrianda opened #300 "Publish microservice error (on schedule function)"
Publish microservice always error everyday when schedule crons running due to code at socioboard-api/Publish/core/schedule/schedule-base.js on line 43, where there it call a function "remove3DaysBeforeScheduleInfo", but this function is not declared (on console I got this.remove3DaysBeforeScheduleInfo is not a function).

How do I fix it?
Screenshot below

Thanks

![image](https://user-images.gith

[2021-12-03 11:37] sureshbabu1995 commented on #300
Hi @arrianda

[2021-12-03 16:56] arrianda commented on #300
Hello @sureshbabu1995 , and thanks for the reply. I already done that tutorial and able to run at least user and publish safely. The problem is like I said before, the publish microservice terminated each day because of cron task. Is there any spesific that must I do or I check to fix it?

[2021-12-06 05:46] danielpbrewer opened #301 "Has anyone been able to successfully install version 4 or 5?"
I have never experienced such a frustrating tool...

[2021-12-06 07:43] sureshbabu1995 commented on #301
Hi @danielpbrewer

Please check this Video once - https://screencast-o-matic.com/watch/crlnitVIWd5

Installation Video, we going to give better Installation with proper instructions this is a sample of it

[2021-12-09 08:57] arrianda opened #303 "Some task take very long time to finish"
I have problem where some task take really long time to finish, which is
1. Unbind social url /v1/socialaccount/delete-social-profile
2. Bind twitter using url /v1/socialaccount/add-social-profile

Some of log that I got
DELETE /v1/socialaccount/delete-social-profile?teamId=2&AccId=40 200 75 300842.371 ms
DELETE /v1/socialaccount/delete-social-profile?teamId=1&AccId=2 200 75 301694.563 ms

[2021-12-09 09:02] arrianda opened #304 "Error upload video on Publish microservice"
I tried to upload a video using Publish microservice /v1/upload/media and won't get uploaded (I still able to upload image there). My video only 2 secs and it a valid video (.mp4)
I check some log and got this:

`{
  killed: false,
  code: 127,
  signal: null,
  cmd: 'ffmpeg -i ../../media/videos/1639040383.mp4 -r 3 -s 0x0 -aspect NaN:NaN -vframes 1 -filter_complex "scale=iw*sar:ih, pad=max(iw\\,i

[2021-12-09 10:37] sureshbabu1995 commented on #304
Hi @arrianda

It requires FFMPEG for video uploads and thumbnail creation.

[2021-12-09 10:38] sureshbabu1995 commented on #303
Hi @arrianda

Let me check with it, we'll use event emitters if it's really taking time.

[2021-12-13 16:49] hamza4522 opened #306 "Successfully deployed"
Finally, I have deployed socioboard. Thank you for updating the repository

[2021-12-13 17:12] TechnologyClassroom commented on #306
@hamza4522 Did you follow the documentation verbatim?  Did you run into any hiccups?  What operating system did you use?

[2021-12-14 06:01] sureshbabu1995 commented on #306
Thank you @hamza4522 for the positive feedback

Hope you can use the upcoming updates as well in easy steps.

[2021-12-14 06:01] #306 closed

[2021-12-14 06:03] sureshbabu1995 commented on #301
Hi @danielpbrewer

In this community itself, we got one Feedback of success of installation in our threads

The user is @hamza4522  #306

[2021-12-17 13:01] hamza4522 opened #307 "Demo video for app_url configuration"
kindly share Demo video for app_url configuration

[2021-12-20 09:26] #307 closed

[2021-12-20 09:26] hamza4522 commented on #307
m

[2021-12-20 09:55] arrianda commented on #303
hello, any update?

[2021-12-23 07:43] sureshbabu1995 commented on #304
Hi @arrianda

I hope your issue got fixed, if not feel free to re-open this.

Have a good time with SocioBoard.

[2021-12-23 07:43] #304 closed

[2021-12-23 07:52] sureshbabu1995 commented on #301
Hi @danielpbrewer

I hope the installation videos helped you or the other way.

Video Links:
[http://somup.com/crlii70AE7](http://somup.com/crlii70AE7) Node part-1 -> Till DB configuration.
[http://somup.com/crlijY0Amp](http://somup.com/crlijY0Amp) Node part-2 -> Till Service start
[http://somup.com/crlijm0AJU](http://somup.com/crlijm0AJU) Node part-3 -> Executed with PM2 as well

If you still hav

[2021-12-23 07:52] #301 closed

[2021-12-23 07:55] sureshbabu1995 commented on #265
Hi @FlorentPoinsaut

 in the User config update like this, it will fix the issue

![image](https://user-images.githubusercontent.com/55544386/147207431-afc6983d-cbba-468a-99fe-f48af22061e9.png)

[2021-12-23 07:55] #265 closed

[2021-12-26 07:11] kundan1301 opened #310 "wrong imports throwing error"
https://github.com/socioboard/Socioboard-5.0/blob/d357f8acb76578ac95c91cb6c6fd4cea95ecfa55/socioboard-api/User/resources/routes/public.routes.js#L6

`import unauthorized from '../../core/unauthorized/unauthorized.routes.js';`
should be
`import unauthorized from '../../core/unAuthorized/unAuthorized.routes.js';`

[2021-12-27 01:00] danielpbrewer commented on #301
thank you very much

On Thu, Dec 23, 2021 at 6:52 PM G. Suresh Babu ***@***.***>
wrote:

--
Daniel Brewer
Mobile: 0431922618

[2021-12-28 10:14] hamza4522 opened #311 "Tasks take very long time to finish"
Tasks take a very long time to finish and microservices e.g publish, users stop automatically after sometimes.. kindly fix it

[2021-12-28 13:52] sureshbabu1995 commented on #311
Hi, please share the config of the server and if you can share the time taken, I'll update ASAP.

I'll update user microservice ,

[2022-01-07 07:02] dustbro opened #315 "Linux case on unAuthorized folders"
Looks like there's still a few instances of camel case errors on the folder unAuthorized.

[2022-01-07 07:09] dustbro opened #316 "service listening on http://localhost:3000 with undefined Environment"
I just followed the install videos (which where very helpful!) but run into issues when installing on Ubuntu 20.04.
I hit an error when running nodemon user.server.js about NODE_ENV in /socioboard-api/Common/Sequelize-cli/models/index.js
I used export NODE_ENV=development whenever needed throughout the install, but NODE_ENV was set to production.
`const env = process.env.NODE_ENV || 'production';`

[2022-01-07 07:36] socioboard commented on #315
HI @dustbro

Let me check with it, But most of the cases it got updated with latest code, if you've any logs it would be better or else I'll check with Linux server and update it ASAP.

[2022-01-07 07:38] sureshbabu1995 commented on #316
Hi @dustbro

if you're using Linux OS - export NODE_ENV=development and then run it.

[2022-01-07 19:54] dustbro commented on #316
Thanks for the reply! I'm using this already before I run it, but still get undefined Environment.
And I don't see anything helpful in the user log.
Where else can I check the environment variable?

`user07-01-2022.log
{
  message: 'Cron started for updating all linkedIn account access token',
  level: 'info',
  timestamp: '2022-01-07T19:52:59.367Z'
}
{
  message: 'Mongo Database has been connecte

[2022-01-08 20:58] justinshaw commented on #315
Looks like it's in `/opt/socioboard-api/User/core/unauthorized/unauthorized.routes.js`

[code]

[2022-01-10 07:24] arrianda opened #318 "Google My Business Integration"
Hello, do you plan on integrate Google My Business on socioboard?
Thanks

[2022-01-10 12:23] dustbro commented on #315
I wish I took note. It was in 5 or 6 different files.

[2022-01-10 12:46] dustbro commented on #316
I had to start nodemon server as root for the environment to change.

[2022-01-10 12:57] dustbro commented on #316
I'm able to get the proper environment running
`service listening on http://localhost:3000 with development Environment!`

but the Swagger webpage is empty. Do I need to change localhost in socioboard config to IP address instead?
![swagger empty](https://user-images.githubusercontent.com/9417887/148769469-41f597f5-1504-45c1-a842-c9a3456887ba.png)

[2022-01-10 13:39] sureshbabu1995 commented on #316
Hi @dustbro

[2022-01-10 13:41] sureshbabu1995 commented on #318
Hi @arrianda

Yes, we already started implementation, we've to test with different GMB accounts to finalize.

[2022-01-11 08:22] arrianda commented on #318
Thanks, that really great. Hope you can finish it

[2022-01-11 08:22] #318 closed

[2022-01-14 09:36] dustbro commented on #316
I get the same result after restarting the service.

[2022-01-21 04:38] sureshbabu1995 commented on #316
Hi,

Can you show me the output of `npm run swagger` command

[2022-01-21 04:41] sureshbabu1995 commented on #310
Hi @kundan1301

Thanks for the update, please check now we've updated the code. & if you still think it's having the same error, then please raise the ticket.

[2022-01-21 04:41] #310 closed

[2022-01-21 10:30] arrianda commented on #303
Hello, I found the cause. Because my setting for notification (especially notification url config on user microservice is wrong). After fix it, it work fast

[2022-01-21 10:30] #303 closed

[2022-01-21 10:34] arrianda opened #323 "Schedule post for pinterest"
Hello, is Pinterest post cannot be scheduled? Or do you have future implementation for it?

Thanks

[2022-01-22 15:56] dustbro commented on #316
Swagger-autogen:  Success ✔
npm notice
npm notice New patch version of npm available! 8.3.0 -> 8.3.2
npm notice Changelog: https://github.com/npm/cli/releases/tag/v8.3.2
npm notice Run npm install -g npm@8.3.2 to update!
npm notice

Swagger-autogen:  Success ✔

Swagger-autogen:  Success ✔

Swagger-autogen:  Success ✔

Swagger-autogen:  Success ✔

[2022-01-27 05:34] sureshbabu1995 commented on #323
Hi @arrianda

Currently, we support Direct posts, in the future, we'll be updating them for publishing as well.

[2022-01-27 05:34] #323 closed

[2022-01-27 05:39] sureshbabu1995 commented on #316
Hi @dustbro

Please ping me to my mail `sureshbabu@socioboard.com`, We'll schedule a call to fix it in a single shot.

[2022-01-27 05:43] sureshbabu1995 commented on #315
Hi @dustbro

Yes, it was in multiple files before, as I was doing with windows env.

But I replaced this code with our server code which is ubuntu, it should have been fixed in all files by now.

If not please feel free to re-open it, I'll recheck it once more time with a different OS.

[2022-01-27 05:43] sureshbabu1995 commented on #315
Hi @dustbro

Yes, it was in multiple files before, as I was doing with windows env.

But I replaced this code with our server code which is ubuntu, it should have been fixed in all files by now.

If not please feel free to re-open it, I'll recheck it once more time with a different OS.

[2022-01-27 05:43] #315 closed

[2022-01-27 05:46] sureshbabu1995 commented on #311
Hi @hamza4522

I hope this is not an issue now, after making too many deployments (Updates) to code.

If you still think it is, then feel free to re-open it.

[2022-01-27 05:46] #311 closed

[2022-01-27 05:48] sureshbabu1995 commented on #300
Hi, @arrianda

Please check the new code, we've updated the crons and the functionality.

If you still have a problem, please re-open it, we can have a call and fix it directly at your server.

[2022-01-27 05:48] #300 closed

[2022-01-28 07:23] arrianda commented on #300
Hello, thanks for the news. Somehow it didn't fix.
May I know where function "remove3DaysBeforeScheduleInfo" comes from? Is it from library or socioboard api? Because I can't found any reference to that function.

[2022-01-28 07:26] arrianda opened #326 "remove3DaysBeforeScheduleInfo function not found"
#300
May I know where function "remove3DaysBeforeScheduleInfo" comes from? Is it from library or socioboard api? Because I can't found any reference to that function.
Even though I updated with new version, I still can't fix it yet

[2022-01-29 10:43] sifat18 opened #327 "Unable to create new users and sign up with other methods giving " Sorry some Error occurred , Please reload the page ""
While trying to log with google sign up, It displays "Sorry some Error occurred , Please reload the page " this error. In the console it is displaying this.
`Uncaught ReferenceError: SBAppSettings is not defined
    <anonymous> http://smm.grit0.com/js/main.js:328
    mightThrow http://smm.grit0.com/plugins/global/plugins.bundle.js:3557
    process http://smm.grit0.com/plugins/global/plugins.bundle

[2022-01-30 14:52] adambicknell commented on #327
What is your OS?

I had this same error, but mine was for different reasons.

Are you setting the Node Env when starting the servers?

`For windows environment`
[code]

`For linux || mac environment`
[code]

[2022-01-30 16:27] sifat18 commented on #327
@adambicknell  Thanks for the response.  I migrated to version 5 and now the 2nd error is gone. But still getting the first error. Did you get any error for google sign up? also I am still unable to register a new user. When I try to register after filling up it is giving me a undefined notification and getting this error
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the

[2022-01-30 16:48] adambicknell commented on #327
I got that error when I was accessing the site from 127.0.0.1:8000 and trying to access localhost:3000.

If you're doing something similar, You just need to use localhost:8000 in your browser so you don't get the CORS error.

However, I'm getting an issue with authorisation. It is creating the users, but still failing on the front end!

[2022-01-30 16:54] adambicknell opened #328 "Authorisation issue when registering and logging in / aMember error"
![Screenshot 2022-01-30 at 16 48 40](https://user-images.githubusercontent.com/92177441/151708908-7a526a34-8137-4dc3-bd19-71dc84b2b1d8.png)

Using the default data in Swagger, as well as when I try on the front end, I get the above error.

The users are created in the database, however, I am unable to log in with them:

![Screenshot 2022-01-30 at 16 49 39](https://user-images.githubusercontent.com

[2022-02-03 13:02] adambicknell commented on #327
Also, I didn't try the Google login. Did you get any further with it?

I think the issue I'm having atm is to do with Mail setup... it fails just before

`const mailDetails = await unauthorizedLibs.sendMail(
          responseData,
          planDetails.plan_name
        );` on line 141 of `socioboard-api/User/core/unAuthorized/unauthorized.service.js`

Will update you if I get it working and let

[2022-02-03 15:24] adambicknell commented on #328
Turns out i just needed to configure mail settings in a few development.json config files.

[code]

I used Gmail for mine... and set the default mail option (`defaultMailOption`) as `gmailServices`, given that's what it is in the JSON below it.

Turns out it's only expecting `gmail` and not `gmailServices` in there, as in /socioboard-api/Common/Services/mail-base.services.js on line 3713 there is

[2022-02-03 15:24] #328 closed

[2022-02-04 15:10] fpejril commented on #326
@arrianda If I had to guess, I think this is a typo in schedule-base.js. The function is referenced as `this.remove3DaysBeforeScheduleInfo`, so I believe it should be a function defined in the class; however it is not defined.

_However_, there is a function [remove7DaysBeforeScheduleInfo()](https://github.com/socioboard/Socioboard-5.0/blob/48f28e86df3f29bf88942798b36965c801ee5cf6/socioboard-api/P

[2022-02-05 12:12] arrianda commented on #326
Hello, thanks for the reply
I tried to change the function to remove7DaysBeforeScheduleInfo. But, I got error when the cron running. Details on attached image
![image](https://user-images.githubusercontent.com/17354390/152641518-ad16c8af-85cb-4200-b1e5-8ebdc66b1b3a.png)
Any help?

[2022-02-05 12:14] arrianda commented on #326
@fpejril
Hello , thanks for the reply
I tried to change the function to remove7DaysBeforeScheduleInfo. But, I got error when the cron running. Details on attached image
![image](https://user-images.githubusercontent.com/17354390/152641518-ad16c8af-85cb-4200-b1e5-8ebdc66b1b3a.png)
Any help?

[2022-02-06 13:09] arrianda opened #330 "No data for published post with video (especially big one) attached"
Somehow there is no record at published post when I post video content to media socials (for my example, I post at facebook page and group). But I still got record if my content only text or image.

When I checked the log, I found this
![image](https://user-images.githubusercontent.com/17354390/152682269-432e141e-94aa-4a8e-bd58-48174158b734.png)

Is there any fix?

[2022-02-16 21:31] hafsazulf17 opened #332 "Only one microserivce Notification is running successfully rest are not"
I have been following this procedure : https://www.atlantic.net/vps-hosting/how-to-install-socioboard-on-ubuntu-20-04/

In the above link It is for Socioboard version 4 but We are installing version 5.0
so for that : https://github.com/socioboard/Socioboard-5.0/blob/master/SocioBoard5.0-doc.md
After running
nodemon user.server.js
It don't respond and stop
but when I run nodemon.notify.js
It starts

[2022-02-18 19:25] oadelokiki opened #333 "Composer and Artisan Issue"
I get this error when trying to run composer install & php artisan key:generate:

PHP Warning:  Module "exif" is already loaded in Unknown on line 0
PHP Warning:  Module "mbstring" is already loaded in Unknown on line 0

   Illuminate\Contracts\Container\BindingResolutionException

  Target class [CommandMakeCommand] does not exist.

  at vendor/laravel/framework/src/Illuminate/Container/Container

[2022-02-19 16:29] oadelokiki commented on #333
I actually had to update the commands array in socioboard-web-php/config/modules.php.
Added the following lines to the the file:

`use Nwidart\Modules\Commands`

Replaced the list 'commands' under package commands with the following:
`'commands' => [
    Commands\CommandMakeCommand::class,
    Commands\ComponentClassMakeCommand::class,
    Commands\ComponentViewMakeCommand::class,
    Commands\Con

[2022-02-19 16:29] #333 closed

[2022-02-21 11:42] hafsazulf17 opened #334 "nodemon user.server is not running successfully and is diplaying following error."
Error [ERR_MODULE_NOT_FOUND]: Cannot find module '/var/www/socioboard/socioboard-api/User/core/unauthorized/unauthorized.routes.js' imported from /var/www/socioboard/socioboard-api/User/resources/routes/public.routes.js
    at new NodeError (internal/errors.js:322:7)
    at finalizeResolution (internal/modules/esm/resolve.js:318:11)
    at moduleResolve (internal/modules/esm/resolve.js:776:10)

[2022-02-23 06:32] BlackBlood22 commented on #334
Yes this was one of the error i faced.the mistake is directory structure,in mycase it was of log folder which was ther as Log, but the code was looking for log  so it gave the error, i created a folder named log and that worked,not only user,but i had this problem in  3 diffrent modules,but no use after solving this issues when i tried to login when it comes to dashboard it crashes and i then just

[2022-02-26 18:31] hafsazulf17 commented on #334
internal/process/esm_loader.js:74
    internalBinding('errors').triggerUncaughtException(
                              ^

Error [ERR_MODULE_NOT_FOUND]: Cannot find module '/var/www/socioboard/socioboard-api/Common/Models/unauthorized.model.js' imported from /var/www/socioboard/socioboard-api/User/core/unauthorized/unauthorized.service.js
    at new NodeError (internal/errors.js:322:7)
    at fina

[2022-03-01 03:06] arrianda commented on #334
#262
You can follow step on that link and do the same with other uppercase error

[2022-03-06 00:15] arrianda opened #335 "Duplicate schedule post"
My scheduled post got posted two times when scheduled after more than 1 day. When I check on log, the cron log have two identitcal log for each command so I assume somehow Socioboard running two crons. How to fix it?

[2022-03-06 00:27] arrianda commented on #330
I got this error because on facebook post method at publish model, somehow fb return different format with other post type (other post type have two section of message split with underscore, while video post don't have message split). Instagram also have same of problem too.

[2022-03-06 00:27] #330 closed

[2022-03-06 01:53] arrianda commented on #335
Somehow calendar-view.service.js and schedule.service.js running both ScheduleModel which it's constructor create the schedule cron setup. So, both of them run the constructor and somehow make schedule double post

[2022-03-06 01:53] #335 closed

[2022-03-10 21:04] TechnologyClassroom opened #337 "Typo in filename"
In the `Installatin.sh`filename `Installation` is misspelled, but typically you would abbreviate the name as `install.sh` instead.

[2022-03-11 06:19] arrianda commented on #334
Maybe you have some config not written correctly? Do you find any log on Feeds/resources/Log?

[2022-03-11 06:31] BlackBlood22 commented on #334
@hafsazulf17  3 of the 5 services were having issue i solved it all manually and started the services but after that .I did the registration for a user.when i logged in the service just crashed adn stucked in dashboard no contents to view but tab is showing dashboard and the bar just keeps loading.

[2022-03-11 06:34] arrianda commented on #334
Do you using socioboard web? Maybe you can try each function on swagger first, since dashboard on socioboard web maybe need all of the microservice to run smoothly

[2022-03-19 15:19] hafsazulf17 commented on #334
When I try to login after updating the database tables fields :
[code]

`update user_activations set user_plan = 7;`

It goes to infinite loading and don't proceed further..

[2022-03-21 14:14] sersart opened #341 "Need Help"
Hi,
I am trying to contact to your customer support, but nobody is answering to me.
Please let me know do you support this project?
Thanks

[2022-03-21 20:09] smokinjo commented on #341
Hello,

This is one of the issues that we'd likely to be looking into once our installation is running.   So far, there is only a simple create an account and use the account.  We have not seen an admin role helping to manage the accounts.

[2022-03-22 03:59] sureshbabu1995 commented on #341
Hi, @sersart

You can email me at @sureshbabu@socioboard.com to have a discussion and based on your queries I or my team can help you out.

[2022-03-22 04:04] sureshbabu1995 commented on #341
Hi ...

For this time, we are using aMember as the Admin panel for managing
users access, payments, and other activities.

Please follow the link to know about aMember Pro and if you're
interested to use it, I can help you to configure this and have admin
Dashboard for you.

aMember Pro Link: http://url1318.globussoft.in/ls/click?upn=wVOYq0Yhcm6rutzZVQWOeLziLhT-2FNulI2p6AeTzkGbMNjyGuG4-2FmnR9sqUZV

[2022-03-22 04:12] sureshbabu1995 commented on #341
Hi,

You can have discussion over here,

What you want to talk with support team, Please mention all the details,
I can help you with it.

On 3/21/2022 7:45 PM, Sergey Tulyaganov wrote:

--
Thanking You

Best Regards,
Gogula Suresh Babu
Senior Software Engineer(TL)
*
*Bhilai Office:*          First Floor, CHPL Dream Home Apartment,
                               Near Dena Bank, Apollo Hospital Roa

[2022-03-22 04:21] sureshbabu1995 commented on #337
Hi @TechnologyClassroom

Thanks for the update, Let me update and push it.

[2022-03-22 04:21] #337 closed

[2022-03-22 04:25] sureshbabu1995 commented on #332
Hi @hafsazulf17

If logs are not showing or an error is not displaying in the console, you can check that error in Log folders, it will have a proper log to find the issue and easy to fix it by seeing the log.

If you're still unable to fix it, then you can share the log here, I can help you with it.

[2022-03-22 11:28] sersart commented on #341
Hi,
thank you for your response. Let me check aMember.
I will contact with you by email.

[2022-03-22 12:26] hafsazulf17 commented on #332
@sureshbabu1995

My user Log file is showing the following error:
`
error: TypeError: Cannot read property 'use_env_variable' of undefined       at file:///var/www/socioboard/socioboard-api/Common/Sequelize-cli/models/index.js`

If I run `nodemon user.server.js` It is stuck and not proceeding with success message Log file is created show the above error but If I run : `systemctl status socioboard-

[2022-03-22 12:36] hafsazulf17 commented on #334
@sureshbabu1995

I have folowing error in User Log file :
`error: TypeError: Cannot read property 'use_env_variable' of undefined       at file:///var/www/socioboard/socioboard-api/Common/Sequelize-cli/models/index.js`

If I run nodemon user.server.js It is stuck and not proceeding with success message Log file is created show the above error but If I run : systemctl status socioboard-user
It does

[2022-03-22 13:12] smokinjo commented on #341
@sureshbabu1995  Thanks for the details about this amember software.

We are just using socioboard internally for our own team.

The main thing that I want to be able to do it make sure that all member of my teams(we will have two sepearate teams) have access to the same information.   I do not want each person to be in a silo.

Can Socioboard do this?

[2022-03-22 14:31] hafsazulf17 commented on #332
to login to dashboard.. but errors when trying to add the social media accounts?

[](https://user-images.githubusercontent.com/93780275/159505329-34ba0e69-657e-4b99-9c5d-e46aed5019c7.JPG)

[](https://user-images.githubusercontent.com/93780275/159505370-27a58521-f623-4fc4-bf98-e73b90ff38c5.JPG)I am able to login to dashboard.. but errors when trying to add the social media accounts?
linkedin
facebo

[2022-03-25 08:55] arrianda commented on #334
Do you already have valid and running social developer account? like Facebook Developer and it's API

[2022-03-26 20:35] smokinjo commented on #341
I  want to follow up with this issue of user management.

If I understand correctly, the socioboard has no user management built in?  I hope I am wrong.

We are a small group and want our teams to work together.   aMember is overkill for our simple needs.

What other options are available to allow is to manage users and teams on Socioboard?

Joseph

[2022-03-26 20:39] smokinjo commented on #334
Do we not just use our Facebook/LInkedIN/Instagram account?  When testing Socioboard paid version(free acccount), I just added my instagram account.   These are the accounts that we want to management.

[2022-03-26 23:02] arrianda commented on #334
No, you need your own Developer Account for each social account you want to use if you want to use Socioboard on your own server/local. After that, you need to put correct setting for each Developer Account and config at each microservice /config/development.json. After that, you can freely connect any social media account to your deployed Socioboard

On paid version, it already use their own Soci

[2022-03-28 07:37] sureshbabu1995 commented on #341
We've Admin API section to see the details, If you need in-depth or
Postman collection for them, we'll try to give you.

On 3/27/2022 2:05 AM, smokinjo wrote:

--
Thanking You

Best Regards,
Gogula Suresh Babu
Senior Software Engineer(TL)
*
*Bhilai Office:*          First Floor, CHPL Dream Home Apartment,
                               Near Dena Bank, Apollo Hospital Road,
Junwani,

[2022-03-29 10:02] sureshbabu1995 commented on #327
HI @sifat18 I think you got the answer, if not please check with the latest Updated code.

I even updated g-mail config in recent, Please check it again.

If you still have a problem, feel free to re-open it.

[2022-03-29 10:02] #327 closed

[2022-03-29 10:04] sureshbabu1995 commented on #290
Hi @hamza4522 ,

 I've updated the files Please pull the latest code and try to run it.

If you still have a problem feel free to re-open or send a mail to `sureshbabu@socioboard.com`

[2022-03-29 10:04] #290 closed

[2022-03-29 11:51] arrianda opened #355 "Twitter Video Chunk Upload"
Hello, can you help me or update socioboard to upload video post using chunked upload? Socioboard's current function don't use chunk and no "media_category" parameter set when intialize video upload, which make uploadable video size limit only 30sec, when if using "media_category" parameter and chunked upload, we can extend it to 2 minutes.

I can't do it myself since I'm not proficient in node.js

[2022-03-30 08:11] hafsazulf17 commented on #341
@sureshbabu1995

Kindly share more details about Admin API ?? Do we have to do development by ourselves by using the API ?

[2022-03-30 08:14] hafsazulf17 commented on #334
@arrianda  @sureshbabu1995
I see these two link for Instagram and Facebook developer accounts?
https://developers.facebook.com/async/registration/
https://www.instagram.com/accounts/login/?next=/developer/

Please mention more details about after creating account and generating API do we have to copy that API to each microservice config  file..

[2022-04-03 13:39] sersart commented on #355
Hi [arrianda](https://github.com/arrianda)

I am trying to install a socioboard on my local mac for development.
Do you working with app in local computer? I have a problem with php. I can not start web-php
Can you help me?
Thanks

[2022-04-03 13:52] arrianda commented on #355
I never try on mac though. Only at local Windows and server Linux. Try to follow installation guide. Then you can post your problem and I will try to help of I can

[2022-04-03 16:21] sersart commented on #355
I already fixed and it fine now.
Thank you

[2022-04-04 11:25] sureshbabu1995 commented on #355
Hi @sersart

I think you got it. Now I'm closing this ticket.

If you've any queries regarding this feel free to re-open it, if you have any other queries feel free to open a new ticket.

[2022-04-04 11:25] #355 closed

[2022-04-04 11:27] sureshbabu1995 commented on #334
HI @hafsazulf17

I think you got it. Now I'm closing this ticket.

If you've any queries regarding this feel free to re-open it, if you have any other queries feel free to open a new ticket.

[2022-04-04 11:27] #334 closed

[2022-04-04 11:31] smokinjo commented on #341
@sureshbabu1995  I want to follow up about the Admin API that  @hafsazulf17  brought up.   Even the admin api section you brought up.   We need to develop some type fo admin interface to manage users for our small team.

Can you shed any more light on this please?

Thanks

[2022-04-04 13:51] Jagadeesha-R commented on #332
Hi @hafsazulf17,

[2022-04-04 15:46] Jagadeesha-R commented on #264
Hi @FlorentPoinsaut,

             This swagger file generation issue, to address this please run the swagger  before staring the microservice by the following commands:

  1)          set node_env=development
               npm run swagger
               npm run start

                  (or)

  2)       set node_env=development
            npm run dev

[2022-04-04 19:55] sersart commented on #341
Hi @sureshbabu1995,
which folder we have to install amember pro ?
Thanks

[2022-04-05 04:46] sureshbabu1995 commented on #240
Hi @shreyas2199

I think you got the latest updates.

I'm closing this ticket for now, if you've any queries feel free to open it or open a new ticket.

[2022-04-05 04:46] #240 closed

[2022-04-05 04:49] sureshbabu1995 commented on #258
Hi @dineshrggit

I hope the new config is fixed your issue.

I'm closing it for now, if you've queries related to this feel free to re-open it. If you have other queries then open a new ticket.

[2022-04-05 04:49] #258 closed

[2022-04-05 04:55] sureshbabu1995 commented on #259
Hi @dineshrggit

I hope the new config is fixed your issue.

I'm closing it for now, if you've queries related to this feel free to re-open it. If you have other queries then open a new ticket.

[2022-04-05 04:55] #259 closed

[2022-04-05 04:57] sureshbabu1995 commented on #269
Hi @mgAdler

OTP is disabled, but the Twilio config has to fill up with dummy details

Hope this will fix your requirement, And I'm closing it, for now, if you've queries related to this feel free to re-open it. If you have other queries then open a new ticket.

[2022-04-05 04:57] #269 closed

[2022-04-05 05:01] sureshbabu1995 commented on #272
Hi @abachtold

I hope the new update fixed your issue.

I'm closing it for now, if you've queries related to this feel free to re-open it. If you have other queries then open a new ticket.

[2022-04-05 05:01] #272 closed

[2022-04-05 05:03] sureshbabu1995 commented on #264
Hi @FlorentPoinsaut

I hope your issue is fixed by the latest updates.

I'm closing it for now, if you've queries related to this feel free to re-open it. If you have other queries then open a new ticket.

[2022-04-05 05:03] #264 closed

[2022-04-06 12:01] kenjibailly commented on #102
Would love to see docker support :)

[2022-04-07 13:03] kenjibailly opened #359 "Can't seem to create account because of OTP issue - Phone Number Invalid or too long due to regex (Belgium)"
https://github.com/socioboard/Socioboard-5.0/blob/96f90cb521273081f4615b6ae001452fbd3208ec/socioboard-web-php/Modules/User/Resources/views/login.blade.php#L479

This regex makes it that I need to write in this format:

475 123 456 7

This is too long and so does the system say:

![image](https://user-images.githubusercontent.com/9883910/162204705-b35b08c0-4c4d-4f6e-82ba-2e9b5363b4eb.png)

---

Whi

[2022-04-07 14:26] sersart commented on #327
Hi,
I got that error too. How to fix it?
Do i have to use a public domain in .env file for  API_URL= http://localhost:3000/ and redirect it to http://localhost:3000/  apache config?
Thanks

[2022-04-08 12:21] tiritibambix commented on #102
Oh yes please, we need this ;)

[2022-04-11 05:37] sureshbabu1995 commented on #337
Hi @TechnologyClassroom

I've Updated the installation shell file and fixed the spelling mistake of the File name

[2022-04-18 18:07] hafsazulf17 commented on #332
on login to dashboard It says :
Please upgrade your account
How can we fix it from the backend currently the values are setup as:
`update user_activations set user_plan = 7;`

[2022-04-18 18:09] hafsazulf17 opened #361 "Upgrade your plan"
On login to dashboard It says :
Please upgrade your account
How can we fix it from the backend currently the values are setup as:
`update user_activations set user_plan = 7;`

created at : 2022-03-19 15:05:55
account_expire_date : 2022-04-02 15:05:55

[2022-04-18 18:10] hafsazulf17 commented on #334
@arrianda  @sureshbabu1995 @BlackBlood22

On login to dashboard It says :
Please upgrade your account
How can we fix it from the backend currently the values are setup as:
`update user_activations set user_plan = 7;`

created at : 2022-03-19 15:05:55
account_expire_date : 2022-04-02 15:05:55

[2022-04-19 12:56] sersart commented on #361
Hi
you have two way:
1-Install amember and add all products, add amember settings info to development.json file
2-Comment or remove amember connection from User microservice

[2022-04-19 19:42] smokinjo commented on #341
I am following up once again to see about the admin section to see how we can add the admin capabilities to SocioBoard.

Can you please share with us your ideas that will allow admin functions to SocioBoard?

Thanks

Joseph

[2022-04-19 19:49] smokinjo commented on #361
So, amember is bascically an integral part of SocioBoard.  It is written into SocioBoard.

Are there plans to add othr non-amember options to SocioBoard?

amember seems to be a solution geared towards those wanting to recreate a sociobpard to sell to others.

But, the way it is presented, it is for people and teams trying to use socioboard for their own campaigns an dsmall teams.

But, so far, the

[2022-04-19 23:26] sersart commented on #361
You have to remove all hard coded amember connections from app.

[2022-04-21 03:42] agrecasens opened #362 "ERROR Generating swagger files in Micro-Services"
Hello! I am having trouble running npm run swagger.

npm ERR! Missingscript:
npm ERR! npm run

They are some of the errors, how can I solve them?

[2022-04-21 07:43] Jagadeesha-R commented on #362
Hello **@agrecasens**

To generate a swagger file please run the following commands:

set node_env= development
npm run dev

[2022-04-21 09:35] ovizii commented on #102
sadly not going to happens since it has been "requested" for about 3 years already

[2022-04-21 11:58] hafsazulf17 commented on #361
@sersart  where to remove all hard coded amember connections from app , there is guide file in repository?? Is amember a seperate 3rd party software integrated with API or what is it? Please help me to understand it?

[2022-04-21 12:11] sersart commented on #361
Hi,
1- Check async register(req, res, next)  function in file
Socioboard-5.0/socioboard-api/User/core/unauthorized/unauthorized.service.js
this function adding member to amember

2- async login(req, res, next) function in same file

Let me know if you need help

[2022-04-21 12:40] hafsazulf17 commented on #361
how can we install amember ?  You have mentioned : 1-Install amember and add all products, add amember settings info to development.json file

[2022-04-21 14:00] sersart commented on #361
https://docs.amember.com/Installation/Installation/

and add info to  Socioboard-5.0/socioboard-api/User/config/development.json
  "aMember": {
    "key": "<< aMember Key >>",
    "domain": "https://<< DOMAIN >>/amember/api"
  },

[2022-04-22 14:08] kingprawn22 commented on #112
I've just spent a couple of hours desperately trying to install Socioboard 5, but as the others here it didn't work. Does anybody have a guide that works? Tried the one on LinuxBabe and Atlantic.net, but no luck.

[2022-04-22 14:21] TechnologyClassroom commented on #112
@kingprawn22 Those guides are for version 4.  The new version install scripts are [here](https://github.com/socioboard/Socioboard-5.0/blob/master/Installation.sh) with doc [here](https://github.com/socioboard/Socioboard-5.0/blob/master/Linux-Installation.md), but they probably need work.  If you try them, report back on your progress and submit fixes back to mainline.  Many have tried, but few hav

[2022-04-22 15:53] kingprawn22 commented on #112
@TechnologyClassroom these documents leave a lot to the imagination. Which one do I use? Do I need all requirements installed before running the commands in 'Linux-Installation.md' or the script 'Installation.sh'? Do I also need both the mongodb and mariadb databases setup before? Once I've ran these commands, then what? Do I still need to create and enable the systemd files and configure my webse

[2022-04-22 16:03] TechnologyClassroom commented on #112
@kingprawn22 They still need work like I said.  I have not tried since Socioboard 4 when all of the documentation was Windows-centric.  The script IMO should get a functional local instance configured including database configuration with sane defaults, but as you pointed out this is not the case.  If any APIs or passwords are needed they should be asked for or called as variables and handled by t

[2022-04-22 16:09] TechnologyClassroom commented on #112
This issue is as good as any to discuss the topic.

[2022-04-22 17:55] sersart opened #363 "ANALYTICS_API_URL Problem"
Hi,
Add Competitor function does not work and .env file does not have record about ANALYTICS_API_URL
Please upload final code.

[2022-04-23 19:12] sersart commented on #326
Hi @arrianda ,
did you check Competitor Analysis? Looks like project does not have all codes.
Thanks

[2022-04-24 09:13] sersart commented on #326
did you fixed?

[2022-04-24 10:20] arrianda commented on #326
Yeah this project is not completed yet, so maybe you can wait until the developers add it or you can make it yourself

[2022-04-24 10:22] arrianda commented on #326
I simply remove the functon after I check none of the code on that function is needed

[2022-04-24 10:22] #326 closed

[2022-04-24 10:27] arrianda commented on #361
Can you edit the database directly to edit column "account_expire_date" far more in the future?
Or you can edit default.json config at user microservice and set value for "user_base_plan_expiry_days" for longer days. This only works for new user.

[2022-04-24 10:29] arrianda commented on #359
- I think you can remove entirely OTP function and change the register to bypass it (directly call register API).
- Use swagger function of User microservice to directly register a member

[2022-04-24 12:47] sersart commented on #326
Hi,
I changed to
  remove7DaysBeforeScheduleInfo() {
    const scheduleDate = new Date();
    return scheduledInformations.destroy({
      where: {schedule_datetime: scheduleDate},
    });
  }

[2022-04-24 12:54] sersart commented on #326
Now I have problem with laravel redirect. When URL is to big it does not redirecting.
for example Facebook URL does not redirecting.
           redirectUrl = `https://www.facebook.com/v13.0/dialog/oauth?response_type=code&redirect_uri=${encodeURIComponent(
              config.get('profile_add_redirect_url')
            )}&client_id=${config.get(
              'facebook_api.app_id'
              )

[2022-04-24 13:13] sersart commented on #361
Check this file
/socioboard-api/Common/Mappings/amember.users.js
function:
  getUserPlanDetail(userId = 0, userName = '') {

            // Add subscription to the user.
            this.setPlanDetailsToUser(userId, planId, expiryDate)
              .then(response => {
                resolve(response);
              })
              .catch(error => {
                logger.error(

[2022-04-24 14:03] arrianda commented on #326
I think I don't change any redirect setting. Are you sure it's because laravel redirect?

[2022-04-24 15:30] sersart commented on #326
Fixed, it was NGINX settings problem

On Sun, Apr 24, 2022 at 10:03 AM Arrianda ***@***.***> wrote:

--
Sergey Tulyaganov
SerSart LLC
***@***.***
www.sersart.com

_______________________________________________________________________________________________________

Information contained in this transmission may be privileged and
confidential and protected from disclosure by applicable laws of th

[2022-04-25 05:54] jon4short commented on #280
This project needs a new lead. Honestly the Documentation is absolutely lacking. Is this project still active?

[2022-04-25 09:08] jon4short commented on #112
I would love to hear back about this. I managed to get the API's / Microservices running a couple days ago.. But after updating all my NPM Packages, It seemed to have broken Update, Feeds, Nofications & Publish. The Micro-Services don't start up anymore except for User

[2022-04-25 11:56] jon4short opened #364 "Error While Loading Microservices Update, Feed, Notification & Publish"
Below is the error code I get when trying to run the microservice in nodemon.. eg. nodemon update.server.js

`{

  error: TypeError: Cannot read properties of undefined (reading 'use_env_variable')

      at file:///var/www/html/socioboard/socioboard-api/Common/Sequelize-cli/models/index.js:21:12

      at ModuleJob.run (node:internal/modules/esm/module_job:198:25)

      at async Promise.all (ind

[2022-04-25 16:57] kingprawn22 commented on #112
OK here's what I have so far. I've started right from the beginning of spinning up a VPS with Ubuntu 20.04. The guide is a mashup of the 3rd party installation guides and the docs from the repo and has been edited for v5.0. It's not complete, since the services are having some kind of issue as you'll see at the bottom, so it's probably best to tacking each issue as we come to it. I also saw an err

[2022-04-25 18:31] alexanderadam commented on #112
As mentioned before a compose setup would probably be very handy. This would not only solve this issue here but also #239, #102 and #119.
These four issues are obviously related.
New container images [could be automatically build and tagged with GitHub Actions](https://docs.github.com/en/actions/publishing-packages/publishing-docker-images).

It seems that @FlorentPoinsaut [was successfull](https:

[2022-04-26 05:25] jon4short commented on #250
From the Root of the Socioboard Directory Run these :

**To install all Packages -**

cd socioboard-api/User && npm install && cd ../Feeds && npm install && cd ../Common && npm install && cd ../Update && npm install && cd ../Publish && npm install && cd ../Notification && npm install && cd ../../

**To Start Micro-Services -**

npm i pm2 -g && export NODE_ENV=development && cd socioboard-api/User

[2022-04-26 14:46] TechnologyClassroom commented on #250
@jon4short Can you make a pull request to fix the missing pieces in [Installation.sh](https://github.com/socioboard/Socioboard-5.0/blob/master/Installation.sh) ?

[2022-04-27 06:35] jon4short commented on #250
@TechnologyClassroom Just created a pull request with an updated script.

[2022-04-27 09:49] jon4short commented on #112
Issues when running npm install in Common Directory

`root@ubuntuserver-p7:/var/www/html/socioboard/socioboard-api/Common# npm install

up to date, audited 763 packages in 3s

79 packages are looking for funding

  run `npm fund` for details

9 vulnerabilities (8 moderate, 1 critical)

To address all issues (including breaking changes), run:

  npm audit fix --force

Run `npm audit` for details.

[2022-04-27 10:44] jon4short commented on #112
And I think because of these vulnerabilities the update server does not run

![image](https://user-images.githubusercontent.com/12092594/165501275-087f2566-1c78-4450-b101-7d0736d7f72b.png)

[2022-04-27 13:14] TechnologyClassroom commented on #112
@kingprawn22 I believe you need to replace the `sudo bash ./Installation.sh` piece with what @jon4short commented [here](https://github.com/socioboard/Socioboard-5.0/issues/250#issuecomment-1109358339) until their patch is merged.  Once merged, the majority of your commands should go into a patch in the same script.

Looks like we are closer yet to having a working install and and installation bas

[2022-04-28 15:33] LaurentCligny commented on #112
@jon4short On my side I also had issue with the Update micro service not listening on port 3003. Seeing your error message (I didn't have any message in logs on my part) I added a test_url section on Update development.json, like this:

[code]

After that Update micro service was able to serve on port 3003, and guess what....

I finally been able to login on Socioboard 5 !

![Socioboard 5 dashboar

[2022-04-28 15:45] LaurentCligny commented on #112
Hello @kingprawn22

Did you do `npm install`under each micro service folders under socioboard-api path like mentionned [here](https://github.com/socioboard/Socioboard-5.0/blob/master/INSTALLATION.md#3-installing-node-packages-in-all-folders) (do it one by one as the mentionned command chain is broken).

You will also have to run `npm run swagger` under the same micro service folders.

[2022-04-28 16:43] jon4short commented on #112
That should fix one of my problems 😃

The second issue now is setting up socioboard-web-php. When running "composer install && php artisan key:generate". I get an error about some permissions. Have run it in Super User.

Could you help me with a setup guide for the php side of things?

[2022-04-28 16:48] jon4short commented on #112
I submitted a pull request with a new installer script. Hopefully it would be a bit of help in your endeavor.

[2022-04-29 05:06] jon4short commented on #112
Thank you so much @LaurentCligny. That worked brilliantly... All Microservices are running now via PM2.

![image](https://user-images.githubusercontent.com/12092594/165887792-ec19ec13-5634-4dd0-abd6-eaf797c7c7f3.png)

![image](https://user-images.githubusercontent.com/12092594/165887811-6f3482d1-4e07-4ebb-bd42-4d8c3759a89f.png)

![image](https://user-images.githubusercontent.com/12092594/165887856

[2022-04-29 18:57] TechnologyClassroom commented on #112
Sounds like success!  Can someone compile all of these changes into a pull request?

[2022-04-29 19:12] agrecasens commented on #112
Hello! Is there a way to start with init? Why doesn't it allow me to use sudo systemctl

[2022-04-29 19:18] TechnologyClassroom commented on #112
@agrecasens Which init system or OS are you using?  You would have to convert the `socioboard-user.service`, `socioboard-publish.service`, `socioboard-feeds.service`, and `socioboard-notification.service` files to another init system.

[2022-04-29 19:29] agrecasens commented on #112
@TechnologyClassroom Thanks for watching. I am using SysV, how do you modify those files? or how to pass to systemd?

[2022-04-29 19:46] TechnologyClassroom commented on #112
@agrecasens I would say this discussion is probably out-of-scope for this discussion.  Everyone I have every met that still uses SysV does so because they don't want to change the way they are writing configs.  Most of the general documentation to learn about this is for converting SysV to systemd so I would start by heading up on those discussions. [This converter](https://github.com/akhilvij/sys

[2022-05-03 09:20] kingprawn22 commented on #112
I'm just catching up with what has been said. So I've retried the install but as reported by @jon4short above, I am seeing errors when running 'npm install' in the Common directory. Running 'npm audit fix --force' seems to fix some of them but leaves 6 (3 moderare, 2 high, 1 critical). Does this need resolved before I progress with the rest of the install? If so, how?

[2022-05-03 09:34] jon4short commented on #112
@kingprawn22 The Microservices still run even with those errors. I'm now stuck with the PHP Setup. Since I wasted a week at work trying to get things working. I'm taking some time off from it. Hope to have something up and running by next week, to justify the hours spent on it. Will definitely post an updated guide.

[2022-05-03 09:45] kingprawn22 commented on #112
Thanks for your efforts either way @jon4short. I am also quite busy right now and don't have the time to troubleshoot this. I'll leave it for now and can come back after some time to see if there's a working install script. How anybody has installed this is beyond me...

[2022-05-04 09:13] Jagadeesha-R commented on #364
Hi @jon4short ,
     Please check the logs for respective service , for example user service logs will be  located at **\BackEnd\User\resources\Log\ResponseLog**

  Look like missing config please update it

[2022-05-04 09:23] Jagadeesha-R commented on #362
Hello **@agrecasens**
 Look like few steps missed while set-upping the project,Please check the installation procedure here : https://github.com/socioboard/Socioboard-5.0/blob/master/INSTALLATION.md

[2022-05-05 11:44] sureshbabu1995 commented on #363
Hi @sersart

This is a completely different process,

we're using Python scripts for the Analysis; I'm preparing the document of how-to setup and then I'll update you.

[2022-05-06 14:13] opensourcelib commented on #364
I was getting a similar error while starting user service but my issue was caused because I didn't run the following command `export NODE_ENV=development`
Hope it helps someone.

[2022-05-13 06:44] zicameau commented on #112
Hey, so I got to the point where I have all the microservices

Alright so I got all the microservices running, but how did you get to this page? Do I need to setup and install the php portion? Thanks, this issue thread has helped a lot in my progress on getting things up and running!

[2022-05-13 18:39] hafsazulf17 commented on #361
@sersart
Is a member free and can we download it by signing up also which folder do we have to install a member ?
Thanks

[2022-06-02 03:37] jon4short commented on #112
@LaurentCligny How did you get the PHP side running?

[2022-06-13 10:15] arrianda opened #372 "TikTok - Upload video error"
Hello, I tried to upload video from feeds microservice.
![screenshot-tiktok](https://user-images.githubusercontent.com/17354390/173332148-58053d3d-1682-43a9-b2a5-03ca89f49945.png) Somehow it returned error like what you look at the screenshot. I already use valid access_token (recently generated) and valid video URL. Is there any fix?

[2022-06-14 09:04] axe312ger commented on #102
How about you people create your own container setup and publish it?

Open Source is about collaboration :)

[2022-06-14 09:09] ovizii commented on #102
Very true, but my guess is people who could create their own container setup wouldn't be asking for one here :-)

[2022-06-14 09:11] tiritibambix commented on #102
Very true. If I had the knowledge or the time to learn it, I wouldn't be asking here :p

[2022-07-01 13:26] vaughngx4 commented on #102
Uhh my bad, I have located developer docs. <3

[2022-07-01 14:09] vaughngx4 opened #374 "Session name & keys not loaded from config"
In socioboard-api/User/user.server.js:
[code]
Correct me if I'm wrong but does this not load the keys and name as the actual quoted text?

[2022-07-01 15:29] vaughngx4 commented on #102
@TechnologyClassroom Thanks! I am separating to avoid running all services in a single container, I won't separate the api from the frontend to avoid any unexpected errors. So far I have 3 containers being `socioboard`, `socioboard-mysql` and `socioboard-mongo`. Using alpine as the base image for the main container. Question: Is it necessary to set social media api details in the configs or can th

[2022-07-01 15:39] TechnologyClassroom commented on #102
I think that is all handled in the configs, but I have not actually seen the web interface yet other than screenshots others have posted.

[2022-07-01 18:42] vaughngx4 commented on #102
I faffed around with containerizing it on stream the other day if anyone is interested. Keep in mind I hadn't found all the docs and stuff at that point xD - https://www.twitch.tv/videos/1517387240

[2022-07-02 03:38] jon4short commented on #102
The developers have mentioned in one of the setup videos that it has to be done in the configs in the backend. Not sure why as it does have a frontend for it.

[2022-07-02 08:28] vaughngx4 commented on #102
@jon4short I see, thank you. In the video above I was using `sed` but I've switched to editing with `jq` since the placeholders in the config files are not uniform. I've added Docker env vars for each entry in the config that needs to be changed. All `local.socioboard.com` and `localhost` entries will be replaced with the domain specified in Docker env. So there will be options to set all configs

[2022-07-02 08:34] vaughngx4 commented on #102
@TechnologyClassroom Are these 3 lines of config still necessary?
[code]

[2022-07-02 11:07] vaughngx4 commented on #102
I get the following during composer install:
[code]

Am I missing php modules or configs or what?
Here are my dependancies:
[code]

[2022-07-02 13:10] TechnologyClassroom commented on #102
¯\\_(ツ)_/¯

[2022-07-03 06:23] vaughngx4 commented on #102
So, it's almost ready. However the frontend listens on `127.0.0.1:8000` by default and is therefore not accessable outside the container. I'm not familiar with Laravel or the LAMP stack, I will look into it later but if anyone knows how to change the bind address just drop a comment, thanks.

[2022-07-03 07:35] vaughngx4 commented on #102
Fixed by running frontend using `php8 artisan serve --host=0.0.0.0 --port=8000`

[2022-07-03 15:32] vaughngx4 commented on #102
YO! It's done, seems to be working fine. However I don't know how to create a user(tried signing up and activating the account manually in the database using `update user_activations set activation_status = 1;` but I get 'undefined' error on signup and nothing in the database). If anyone knows how to or can get it working, please add to the docs in `Docker.README.md` (and let me know xD). Will ope

[2022-07-03 15:51] vaughngx4 commented on #102
![Screenshot_8](https://user-images.githubusercontent.com/72740493/177047304-fa3362bd-a0b9-41cb-94dc-73e3a63c02f8.png)

[2022-07-03 16:01] vaughngx4 commented on #249
I am facing the same issue, here are the 3 errors:
![Screenshot_8](https://user-images.githubusercontent.com/72740493/177047652-28a3a23e-dad7-4cc9-a631-4291b070e344.png)
.

[2022-07-03 16:17] vaughngx4 opened #376 "Signup Password Confirmation Error"
When signing up, even though passwords match, I receive 'undefined' error.
Here is the response to the post request
![Screenshot_9](https://user-images.githubusercontent.com/72740493/177048228-4e90d8dc-a194-437c-94a5-25e6f0bf699d.png)
:

EDIT: After checking the request sent, it is sending `passwordConfirmation` blank. The issue is in the frontend.

[2022-07-03 16:24] #376 closed

[2022-07-03 16:33] vaughngx4 commented on #198
I have added docker files (PR pending) with comprehensive scripts if someone wants to turn those into a Linux install or playbook.

[2022-07-04 13:46] vaughngx4 commented on #341
May I get assistance regarding users and administration?

[2022-07-04 17:06] vaughngx4 commented on #341
@smokinjo Yes I am working on it, I've found the relevant code and am working on an aMember disabled alternative. Something that would involve signing up from the frontend and activating the user manually(or via email if you have that set up). I'm trying to keep aMember functionality as well as to not disturb the existing project too much.

Right now something basic would be to have a script that

[2022-07-04 17:10] vaughngx4 commented on #102
Hi all! Apologies for the spam. It seems the developers are not very active. If anyone would like to discuss the project or other dev please join me on Discord: https://discord.gg/TSnvnjE6zP I will be available soon.

[2022-07-04 18:17] ovizii commented on #102
@vaughngx4 no need to apologize, you've done what we all asked for. As soon as I have a moment, I'll give your fork a try.

[2022-07-05 07:23] vaughngx4 commented on #102
I've figured out administration. Will add to the Docker docs soon and update the other docs after.

[2022-07-05 08:23] axe312ger commented on #102
Ohh wow, something happening here! Amazing folks, especially @vaughngx4 :)

[2022-07-05 09:37] sureshbabu1995 commented on #372
Hi @arrianda

Let me check with the code, I'll share you the changes and updated code.

[2022-07-05 11:15] vaughngx4 commented on #102
I think this issue can be close after the latest merge? Unless we want to wait until I get it running as non-root, with it's current vulnerabilities I don't like it running as root.

[2022-07-05 13:01] C0pywriting opened #378 "http to https in html"
Where did I make a wrong turn that in the code of the website http is deposited. can mann change that?

![image](https://user-images.githubusercontent.com/61686211/177333205-dfe23457-3116-4a62-bf86-13594fc26bc1.png)

![image](https://user-images.githubusercontent.com/61686211/177333363-235c08ef-62f5-400d-b596-48eea7f197b8.png)

![image](https://user-images.githubusercontent.com/61686211/177333554-

[2022-07-06 03:40] vaughngx4 commented on #378
Have you tried changing the URL scheme in `socioboard-web-php/.env`?

[2022-07-06 03:46] vaughngx4 commented on #361
Yes you can. Run this command in mysql: `update user_activations set expiry_date = "2999-12-30";`

[2022-07-06 14:12] C0pywriting commented on #378
root@xx:~# cd /var/www/socioboard/socioboard-web-php/
root@xx:/var/www/socioboard/socioboard-web-php# cat .env
APP_NAME=SocioBoard
APP_ENV=production
APP_KEY=base64:xxx
APP_DEBUG=true

# All these should end with /
APP_URL=https://socio.xxxxx.de/
WEBSITE_TITLE="xxx"
#API_URL=<<USER NODE SERIVE>>
#API_URL_FEEDS=<<FEEDS NODE SERIVE>>
#API_URL_PUBLISH=<<PUBLISH NODE SERVICE>>
#API_URL_UPDATE=<<UPDATE

[2022-07-06 16:07] vaughngx4 commented on #378
@C0pywriting  I see you have the api on localhost, is that intentional? Also, what reverse proxy are you using?

[2022-07-06 16:15] C0pywriting commented on #378
@vaughngx4

I use ha Proxy api and everything else works only the http unfortunately does not let the page load from external

is there anything else that needs to be done for the .env to take effect?

composer update and apache restart are done

[2022-07-07 07:49] vaughngx4 commented on #374
I've since fixed this. Will open a PR soon.

[2022-07-07 13:16] TechnologyClassroom commented on #99
@YosuCadilla I would suggest renaming this issue to `Mautic integration` using the edit button so that the issue is easy to identify.

Mautic links:

* [Website](https://www.mautic.org/)
* [Source](https://github.com/mautic/mautic)

[2022-07-07 16:30] vaughngx4 commented on #374
I opened a PR, closing as fixed.

[2022-07-07 16:30] #374 closed

[2022-07-07 17:57] tiritibambix commented on #102
That was fast ! Thank you so much !!

I still have to understand how to make it work though 😂

[2022-07-07 18:01] TechnologyClassroom commented on #102
@tiritibambix https://github.com/socioboard/Socioboard-5.0/blob/master/Docker.README.md

[2022-07-07 18:09] tiritibambix commented on #102
Great ressource. Thank you. But there's more. Like, I need to understand how it literally works x)
Like where do I get `FACEBOOK_API_APP_ID`, `FACEBOOK_API_APP_SECRET`, `TWITTER_API_KEY`, `TWITTER_API_SECRET`, `TWITTER_API_APP_NAME`, etc...

And if ports 8000, 3000, 3001... are already in use, if I can change that.

I really got to study here :p

[2022-07-07 18:30] vaughngx4 commented on #102
Regarding the API details, this gives the application functionality. The API details are used by the applications to perform functions like logging in, posting etc. These should not be linked to your personal accounts(you log in with those on the frontend).

[2022-07-07 18:33] TechnologyClassroom commented on #102
This project should not duplicate the effort of rewriting documentation to get the API keys, but linking to the appropriate documentation for the various sites would be helpful to jump start people in the right direction.

[2022-07-07 18:35] vaughngx4 commented on #102
@TechnologyClassroom I agree. I've been focused on the Docker version thus far but will write more documentation as I make progress with the application.

[2022-07-07 18:36] TechnologyClassroom commented on #102
At this rate, @vaughngx4 will squash all of the issue by next week.  lol

[2022-07-07 18:38] vaughngx4 commented on #102
Haha! Issues? What issues? :P

[2022-07-07 18:39] vaughngx4 commented on #102
@tiritibambix You're welcome :)

[2022-07-07 19:40] kenjibailly commented on #102
@vaughngx4 Thanks for making this happen.

I installed Socioboard and got access to the web interface.
Although I seem to stumble upon a few problems.
1. How do I login (which credentials) / Create an account? (doesn't seem to be working)
2. Portforwarding using nginx isn't working as expected:
[code]

3. Would be nice for a documentation about the .env as well, but I see you're already working on

[2022-07-08 05:17] vaughngx4 commented on #102
@kenjibailly I'm actually just fixing it as I try it out. There seems to be an issue with oroxying currently, I'll check it out soon.

See Docker.README.md about creating an account(my fork, waiting for PR to merge).

[2022-07-08 08:36] krishnakanthpps opened #381 "Docker Setup fails"
I am getting this error  and MySQL is not starting.

Running on Amazon Linux EC2 instance.

Waiting for MySQL database to be ready
PHP Warning:  mysqli_connect(): (HY000/2002): Connection refused in /sql-ping.php on line 2
Waiting for MySQL database to be ready
PHP Warning:  mysqli_connect(): php_network_getaddresses: getaddrinfo failed: Name does not resolve in /sql-ping.php on line 2
PHP Warning

[2022-07-08 13:00] vaughngx4 commented on #381
@krishnakanthpps in the .env file yes. Root password and all other database details are required. Is this error after setting root password in .env?

[2022-07-08 14:48] krishnakanthpps commented on #381
The .env files has the root password. But I don't see it being utilized anywhere in the other files. I am kind of new to Docker so didnt change much tweaking.

The error does come despite the root password existing in the .env file.

SQL_DB_NAME="scbsql"
SQL_DB_USER="scbadmin"
SQL_DB_PASS="sqlpass"
SQL_DB_ROOT_PASS="sqlrootpass"

[2022-07-08 15:26] vaughngx4 commented on #381
@krishnakanthpps The root password is required for the database(root user is required). However the socioboard container does not need to connect using this password, it connects using the user specified. By any chance did you try to set it up with no root password at first? Try deleting the db volumes( should be `default_scb-mysql` and `default_scb-mongo` and setting up from scratch.

[2022-07-08 15:29] vaughngx4 commented on #381
@krishnakanthpps Also, if your password contains a `$` try adding another `$` to make `$$`. the $ could need to be escaped.

[2022-07-09 13:00] 0spinboson commented on #364
having same issue trying to run sb 5.0 on ubuntu focal. opensourcelib's suggestion doesn't solve it.

[2022-07-09 13:53] vaughngx4 commented on #378
@C0pywriting I've found the issue. The frontend is basically built to write paths the way it is given. So when using a proxy it gives the URI we gave to the proxy as an upstream. It's an easy fix but I can't test right now. I've added nginx to the docker stack, will update later to make proxying easier.

Example: In nginx I proxied the frontend(https://socioboard.mydomain.example) to the container

[2022-07-09 13:57] hamza4522 opened #382 "Gettin this error when running " composer install & php artisan key:generate " command in `socioboard-web-php`"
79 package suggestions were added by new dependencies, use `composer suggest` to see details.
Package swiftmailer/swiftmailer is abandoned, you should avoid using it. Use symfony/mailer instead.
Generating optimized autoload files

   Illuminate\Contracts\Container\BindingResolutionException

  Target class [CommandMakeCommand] does not exist.

  at vendor/laravel/framework/src/Illuminate/Containe

[2022-07-10 07:33] vaughngx4 commented on #378
@C0pywriting Here is a sample for haproxy:
[code]

[2022-07-10 15:52] splitatom44 opened #383 "ECONNREFUSED 127.0.0.1:27017"
When starting nodemon user.server.js I get the follwing error:

[code]

development.json file looks like this:

I have tries changing this to localhost but the same error.

Can you please help?

[2022-07-11 06:18] vaughngx4 commented on #383
Have you set up mongodb to accept those credentials? See `docker/socioboard/init-mongo.js` if you're not sure how.

[2022-07-11 06:19] vaughngx4 commented on #382
Hi, are you using composer version 2 or newer?

[2022-07-11 09:13] splitatom44 commented on #383
Yes, mongo creds are good. Is there a docker version of socioboardV5?
Is the docker version easier to get up and running than on baremetal?

[2022-07-11 09:22] hamza4522 commented on #382
i am using composer latest version 2.3.9

[2022-07-12 17:46] vaughngx4 commented on #102
@kenjibailly See my latest PR. You can modify the nginx config if you'd like or simply put another nginx in front of the stack.

[2022-07-12 19:11] vaughngx4 commented on #383
@splitatom44 Yes, see my fork for the latest Docker stuff but it should be merged soon.

[2022-07-12 19:17] vaughngx4 commented on #382
Strange, seems there was a related issue with the module though. https://github.com/nWidart/laravel-modules/issues/1355

[2022-07-12 19:19] vaughngx4 commented on #382
Although I am using php8 in the Docker container.

[2022-07-13 15:29] kenjibailly commented on #102
I started with a clean install using the git clone today.
I added the Twilio info to the .env, sendgrid info added to env, changed domain name in env. I didn't change the rest.
Unfortunately I can't seem to make an account.
I don't get the desired notification, but rather get this one and takes forever to show up:
![image](https://user-images.githubusercontent.com/9883910/178770858-0a225a36-b405-4

[2022-07-13 16:56] kenjibailly commented on #102
So that means I can comment out the last 5 lines, correct?
It seems to connect with the desired containers, so I think that part is good.

So about the error logs, I couldn't find any that were triggered from the registration submit button.
I could however find these logs, but they are triggered when accessing the adminbro web page.
[code]

I get a bunch of things info logs as well (green) that se

[2022-07-13 23:56] githubber opened #385 "npm run swagger fails"
Hello! Cool app!
I've followed all the instructions, everything seems ok EXCEPT ```npm run swagger``` fails in teh four microservice directories. Here is the the terminal output, and the log (they seem to say teh same thing). Can anyone tell me what's wrong?? Thank you.

[code]

---
[code]

[2022-07-14 05:54] vaughngx4 commented on #102
@kenjibailly Even though I added IPs they are not relevant, I'll look into changing how the network works but I'm not sure it will work without the last 5 lines. Try running the docker network create command from the build see script and uncommenting the 5 lines. The undefined error means the frontend can't reach the API. Are you using my fork with the latest updates? There were some domain issues

[2022-07-15 15:45] pmgendron opened #386 "Gateway timeout when registering new user"
Hi,

I'm trying to register a new user from the web UI and I keep getting a 504 gateway timeout. The error occurs when I press the register button.

Any help would be greatly appreciated as i'm stomped on this at the moment.

here's a few outputs from files I thought could be relevant. Let me know if you need more.

Happy to jump on a call / move this to email if it works better for you.

thank yo

[2022-07-16 08:19] #382 closed

[2022-07-22 20:07] TheBitcoinBay commented on #249
I am having the same issues as Yao228, the .env file has the trailing / at the end. Socioboard-5.0 on self-hosted ubuntu server.
did anyone come up with a solution for this?

[2022-07-23 07:18] vaughngx4 commented on #249
@TheBitcoinBay make sure everything can resolve correctly. Undefined error means the api could not be reached from your browser and/ord the application.

[2022-07-23 07:21] vaughngx4 commented on #386
@pmgendron Can you access `http://10.16.14.46:3000` from your browser?

[2022-07-23 12:09] pmgendron commented on #386
Yes I can. Resolves to a blank white page on http://10.16.14.46:3000/explorer

[2022-07-23 12:15] vaughngx4 commented on #386
Not sure if this is expected without swag, but with swag you should get a UI.

[2022-07-23 12:19] pmgendron commented on #386
npm run swagger Was ran successfully.

Happy to share my screen if you want to see

[2022-07-23 13:58] vaughngx4 opened #387 "Docker - Database Doesn't Initialize"
Hey all! Just putting this here until I add a fix. In the update where I changed the container away from root user it caused an unforeseen bug that doesn't allow the database to initialize. I am working on the fix and will push changes soon.

[2022-07-23 14:04] vaughngx4 commented on #386
@pmgendron Are you using a reverse proxy? Or my Docker setup?

[2022-07-23 14:07] pmgendron commented on #386
Not docker and I tried with and without reverse proxy.

[2022-07-23 14:09] vaughngx4 commented on #386
Not quite sure then friend, hopefully someone else will be able to help.

[2022-07-23 14:20] pmgendron commented on #386
Thx for your help. Do you mind sharing a screenshot of what I should see on the :3000 site?

Sent from my iPad

[2022-07-23 16:09] vaughngx4 commented on #386
![image](https://user-images.githubusercontent.com/72740493/180613241-c9c44bf9-899a-40fd-a2ac-9f506715854a.png)

[2022-07-23 16:10] vaughngx4 commented on #386
![Screenshot_6](https://user-images.githubusercontent.com/72740493/180613299-5e2df2ff-9111-4ab6-a0fc-71969cefc239.png)

[2022-07-23 16:12] vaughngx4 commented on #386
You can view the live version at https://notifyv5.socioboard.com/explorer/

[2022-07-23 16:41] vaughngx4 commented on #387
Fixes are in my latest PR, awaiting merge.

[2022-07-23 16:44] #387 closed

[2022-07-23 16:49] vaughngx4 commented on #361
@hafsazulf17 @sersart I've added an admin panel and an option to disable aMember. See the `Docker.README.md` and `Configuration.README.md`. Use my fork until PR #384 is merged.

[2022-07-23 16:55] vaughngx4 commented on #242
Those URLs need to be reachable from the public net if you want to run this on aws. Something like:
API_URL=http://socio-api.myec2instance.com:3000/

and you will have to expose those ports on the instance. I haven't used aws so I can't help much beyond that.

[2022-07-24 19:14] vaughngx4 commented on #102
`mixed content` errors fixed. Thanks @kenjibailly for finding the fix!

[2022-07-25 13:11] kenjibailly opened #388 "Can't add any social account except YouTube (Google) but cannot publish"
# Intro

I cannot seem to add any social accounts, they all have their individual problem. I will therefore create this issue with all the details listed. I will also add my workflow as I couldn't find any tutorials on how to add the API keys to socioboard so I tried to figure it out myself. However I could made some errors as it's not connecting.

---

# Facebook

## Profile

Redirects to /add-ac

[2022-07-25 13:35] kenjibailly commented on #359
Got it fixed now using the new Docker Setup.

[2022-07-25 13:35] #359 closed

[2022-07-25 15:22] vaughngx4 commented on #388
@kenjibailly I too have run into some of these issues xD I'll meet you on Discord one of the days and we can try figure it out.

[2022-07-25 16:02] kenjibailly commented on #388
Alright epic, can't wait to get started!

[2022-07-27 15:28] TheBitcoinBay commented on #249
@vaughngx4 , I have checked and it looks like I am not able to get the micro-services or npm run swagger running.
swagger err -> Swagger-autogen:  Failed
nodemon err:

node:internal/errors:465
    ErrorCaptureStackTrace(err);
    ^

Error [ERR_MODULE_NOT_FOUND]: Cannot find module '/var/www/socioboard/socioboard-api/User/core/unauthorized/unauthorized.routes.js' imported from /var/www/socioboard/s

[2022-07-27 15:56] vaughngx4 commented on #249
@TheBitcoinBay it seems you are either missing some source code or some permissions are messed up in `/var/www`.

The error above states it cannot find the file `/var/www/socioboard/socioboard-api/User/core/unauthorized/unauthorized.routes.js`

If it is a permissions error I'd suggest creating a socioboard user and group and `chown -R` the /var/www/socioboard directory.

[2022-07-27 20:59] TheBitcoinBay commented on #249
@vaughngx4 thx... i will try that

[2022-07-28 08:37] krishnakanthpps commented on #381
This got fixed.

[2022-07-28 08:37] #381 closed

[2022-07-28 08:40] krishnakanthpps opened #389 "APP_DEBUG is set to true while APP_ENV is not local"
While trying to login with a new user I am getting this error.

Initially it says there was an issue and please reload. When I do a refresh of the page while trying access /dashboard URL I get this error.

[2022-07-28 08:51] vaughngx4 commented on #389
`APP_DEBUG is set to true while APP_ENV is not local` is expected, if you would like to disable debug use `docker exec -it socioboard bash` and edit `./socioboard-web-php/.env` using vi(!! THIS DISABLES THE LOG FILE BELOW !!).

When you get the error telling you to refresh the page, you should check logs using `docker exec -it socioboard bash -c "cat /usr/socioboard/app/socioboard-web-php/storage/

[2022-07-28 09:07] krishnakanthpps commented on #389
Logs seems to be empty.

[2022-07-28 10:02] net-studio commented on #388
Encounting the same issues. Then i'm stuck...
If someone has a clue, i'll take it.
Regards

[2022-07-28 10:06] vaughngx4 commented on #389
What about the pm2 logs?

[2022-07-28 10:35] krishnakanthpps commented on #389
bash-5.1# cat pm2.log
2022-07-28T10:33:10: PM2 log: ===============================================================================
2022-07-28T10:33:10: PM2 log: --- New PM2 Daemon started ----------------------------------------------------
2022-07-28T10:33:10: PM2 log: Time                 : Thu Jul 28 2022 10:33:10 GMT+0000 (Coordinated Universal Time)
2022-07-28T10:33:10: PM2 log: PM2 version

[2022-07-28 10:37] vaughngx4 commented on #389
`docker exec -it socioboard su-exec socioboard pm2 logs`

[2022-07-28 10:40] krishnakanthpps commented on #389
yep. same.

[2022-07-28 10:42] vaughngx4 commented on #389
Did you use npm to start the api services? pm2 shows nothing is running...

[2022-07-28 10:45] vaughngx4 commented on #389
That's not right, there are meant to be services running. Keep in mind you can't make too many changes once the container has been created. It was designed to set everything on first run. If you need to make changes, kill the containers(databases are stored in volumes so login etc. won't be affected) and redeploy. See `Docker.README.md` on uninstalling.

[2022-07-28 10:49] krishnakanthpps commented on #389
Sure. At one of the places I saw an error stating that sequelize did not run. I will try to see if that error comes again and will share in this thread.

[2022-07-28 11:57] krishnakanthpps commented on #389
bash-5.1# ls -lrt
total 36
-rw-r--r--    1 socioboa socioboa         0 Jul 28 11:50 publish.server-out.log
-rw-r--r--    1 socioboa socioboa         0 Jul 28 11:50 feeds.server-error.log
-rw-r--r--    1 socioboa socioboa         0 Jul 28 11:50 notify.server-error.log
-rw-r--r--    1 socioboa socioboa         0 Jul 28 11:50 update.server-error.log
-rw-r--r--    1 socioboa socioboa      5218 Jul 28

[2022-07-28 11:59] krishnakanthpps commented on #389
A complete error for pm2 logs

[2022-07-28 13:54] vaughngx4 commented on #389
Yes this makes me think it is a database error. You'd be best off deleting everything, volumes, containers and data folder. Clone my fork and start over.

[2022-07-28 14:04] krishnakanthpps commented on #389
I  was picking it from the socioboard. Let me head over to your fork and try again.

[2022-07-28 14:06] vaughngx4 commented on #389
Ah that explains it. I've pushed fixes that haven't been merged yet.

[2022-07-28 17:44] krishnakanthpps commented on #389
The error continues. this time the site doesnt even come up for some weird reason.  for both 8000 and 8080 I find "This site can’t be reached" error.

[2022-07-28 19:01] vaughngx4 commented on #389
See `Docker.README.md` on uninstalling. Your mongo volume may still exist from a previous attempt.

[2022-07-29 07:31] RevRebel commented on #364
I'm getting the same error and looking through the logs it doesn't say any ENV is missing

node# cat user29-07-2022.log
{
  error: TypeError: Cannot read properties of undefined (reading 'use_env_variable')
      at file:///home/nodejs/web/socioboard.revrebel.app/public_html/socioboard-api/Common/Sequelize-cli/models/index.js:21:12
      at ModuleJob.run (node:internal/modules/esm/module_job:185:2

[2022-07-29 07:44] vaughngx4 commented on #364
Have you set MySQL details in `socioboard-api/Common/Sequelize-cli/config/config.json`?

[2022-07-29 16:01] RevRebel commented on #364
Yes, all of that checks out. I ended up copying back in the original deployement.json and then changing all the variables again; however, now it won't let me past the Twitter API config. If I take the block or leave it in, or all dummy values I get the same error. Twitter denied my API access request, so I won't actually be able to connect to that channel. Anyway, around moving past the API not be

[2022-07-29 18:14] vaughngx4 commented on #364
@RevRebel I actually haven't gotten any of the apis working properly yet, still testing(don't have a whole lot of time or a pc to run it at a decent speed). Myself and a few others are working on testing and writing docs. If you have any luck with any of the API's let us know please.

[2022-07-31 07:18] krishnakanthpps commented on #389
I still have not been able to get running with docker. The manual installation seems to be a huge pain.

I created a new AWS EC2 Amazon Linux instance and restarted the whole process.  I am able to see the  nginx home page but not able to view :8000/login or :8080/admin pages.

Any suggestion on where the logs are located to view whats going wrong? I have tried searching in /var/www/log or /var/ng

[2022-07-31 08:19] vaughngx4 commented on #389
@krishnakanthpps When using Docker use my fork as fixes have not been merged yet. Please read `Docker.README.md` carefully regarding endpoints. When using Docker only ports 80 and 443 are used.

[2022-07-31 10:08] krishnakanthpps commented on #389
If only 80 and 443 are used than which end points lead to the login and admin screens? I have used your fork. The last one which was updated yesterday I believe.

[2022-07-31 10:14] krishnakanthpps commented on #389
Can you help me on what settings do I need to update so that I can see the installation's login and admin screens?

I did not change the BASE_DOMAIN="mydomain.example".

I am kind of lost here now.

[2022-07-31 12:47] vaughngx4 commented on #389
@krishnakanthpps I added NGINX as a reverse proxy so you can only reach the login from `https://socio.mydomain.example` and `https://socio.mydomain.example/admin`.

You need some sort of DNS resolver to point those addresses to the IP of the machine your SocioBoard is running on. See `docker/nginx/ssl/SSL.README.md` for a list of subdomains.

[2022-08-04 06:50] NareshRdyC opened #390 "Unable to login when configured with Apache2 HTTP Server"
When I run web PHP application using Apache2 HTTP server then its not able to communicate to login service. But same thing is working when I use php artisan serve. Is there any specific configuration I need to do and any extension libs I need to add to work. I am using Windows Server 2019.

[2022-08-04 06:55] vaughngx4 commented on #390
@NareshRdyC I would strongly suggest sticking to php artisan serve. I have yet to dig into the frontend and we have little to no support from developers. If you're convinced you want to use apache I'd look into converting a Laravel application into a LAMP application, but this would require some development/config.

Look into using Hyper-V to spin up a linux machine and run it in there. If you're

[2022-08-04 07:47] NareshRdyC commented on #390
@vaughngx4 : Thank you for quick reply. I have noted what you mentioned. I have read in multiple posts that Artisan server is not recommended for production/live. What server (Opensource) I need to use in production, which I can configure to access using https. Thank you.

[2022-08-04 08:03] vaughngx4 commented on #390
@NareshRdyC I see your point. Give me some time, I'll see what I can do.

[2022-08-05 14:13] CountOlaf87 commented on #102
I'm trying to run this behind my Traefik reverse proxy with letsencrypt ssl certs, everything starts up fine, but I'm getting some mixed content errors when loading css. How can I fix this?

[2022-08-05 14:15] vaughngx4 commented on #102
@CountOlaf87 You have to force https. If the browser attempts to connect via http first, you will get mixed content errors. In nginx we managed to get it working using `add_header 'Content-Security-Policy' 'upgrade-insecure-requests';`

[2022-08-05 14:21] CountOlaf87 commented on #102
Did I mention I run it in docker? Could you guide me how to solve it?

[2022-08-05 14:26] vaughngx4 commented on #102
@CountOlaf87 I think this should work in Traefik:
[code]

[2022-08-05 14:42] CountOlaf87 commented on #102
Thanks, but that doesn't seem to work, I'll have a look later to see if I can pass it on in the traefik config

[2022-08-07 20:52] vaughngx4 commented on #390
@NareshRdyC I've pushed changes to my fork. All in production env now :)

[2022-08-07 20:53] vaughngx4 commented on #390
Using nginx and php-fpm instead of apache. If all is well you can mark the issue as solved.

[2022-08-08 06:41] NareshRdyC commented on #390
@vaughngx4 I will check it and update status here. Thank you.

[2022-08-08 10:49] CountOlaf87 commented on #102
Thanks @vaughngx4, Your comment did do the trick!

[2022-08-22 07:12] NareshRdyC commented on #390
When I try above getting error 404 Not Found. But other sample PHP files it was working. Is there a way to run Artisan using valid https certificates. Thank you.

[2022-08-22 08:12] vaughngx4 commented on #390
@NareshRdyC The root folder should be `socioboard-web-php/public`. The `server.php` file is only for artisan. See my fork in `docker/socioboard-web` there is a full setup with nginx as the web server.

[2022-08-22 09:41] timoklein79 commented on #388
Dear Community,

did anyone figure out what are reasons for these issues with the social accounts ?
Thanks in advance.

Timo

[2022-08-22 12:09] NareshRdyC commented on #390
@vaughngx4 Will these changes what was suggested in docker/socioboard-web works in windows server also without using docker. Thank you.

[2022-08-22 13:08] vaughngx4 commented on #390
Yes. If you can set up NGINX with php-fpm you can use my nginx.conf files to serve the frontend in production environment. How are you setting it up? Natively on Windows or using Hyper-V and a VM? If you're using a VM simply install a linux distro and search the internet for how to get nginx and php-fpm installed and working. You could probably use Apache but I haven't myself so I won't be able to

[2022-08-22 13:12] vaughngx4 commented on #388
I've been working on it in my spare time. Still no progress on the socials because I still need to read up on the various APIs first. If you'd like updates on development you can join my discord(in my profile) or keep an eye on my fork. There is also a development branch on my fork with unconfirmed changes for testing.

[2022-08-23 08:03] timoklein79 commented on #388
Dear @vaughngx4 , thanks man. I really appreciate what your doing. If I would be a better programmer, than a salesman, I would love to help much more. At least I will share any findings (if there are any) in order to help to solve these issues. And, for sure, I am already using your fork :-D

What I am wondering, if you could kindly enlighten me - I even don't know where to check for logs in the d

[2022-08-23 08:10] vaughngx4 commented on #388
@timoklein79 No problem :) So for checking logs there are a few different logs you can look at, most of them are documented in `Docker.README.md`. To see startup logs for the API you can use `docker logs socioboard`. To see the last 15 lines of logs for each API service use `docker exec -it socioboard su-exec node pm2 logs`. To view access logs for the frontend use `docker logs socioboard-web` or

[2022-08-23 09:18] timoklein79 commented on #388
Great, thanks!!! At least I can dig a little deeper .... but laravel.log is not existing (at least it doesn't show anything). But with regards, to twitter problem, on my installation I can ony see kind of "error outside [object Object]" - but this could also refer to the sendgrid stuff / I recently also joined the discord server.

[2022-08-26 11:15] dev-trusteeze opened #398 "setup"
Is there a simpler wy to set thsi up - There's way too many configurations to setup..

[2022-08-26 12:41] NareshRdyC commented on #390
This suggestion helped me to solve configuration issue. Thank you quick suggestions.

[2022-08-26 12:41] #390 closed

[2022-08-26 14:53] vaughngx4 commented on #398
You can try the Docker setup on my fork(unmerged PR). You don't need all the API keys, just Twilio and whatever socials you're using. However, nobody has socials working yet...

[2022-08-26 15:27] dev-trusteeze commented on #398
I've not tried docker - what do mean "However, nobody has socials working yet..." - Does this mean it does not work?

[2022-08-27 04:26] vaughngx4 commented on #398
Unfortunately yes. The various API calls fail at different stages. Most can't even log in. I'm working on an alternative and will post updates in my Discord(link in my bio).

[2022-08-29 16:50] vaughngx4 opened #399 "I'm abandoning the project"
Due to lack of contact and the fact that nothing works, I've decided it would be too much effort to comb through the code and fix what's broken.

Instead, OpenSMM was born. It's about as useful as SocioBoard right now but what is there, works.

https://github.com/vaughngx4/OpenSMM

I will leave my fork of SocioBoard up in case anyone wants the updated code.

[2022-08-30 05:36] vaughngx4 commented on #399
My SocioBoard fork is still up. OpenSMM is a completely new project.

[2022-09-01 09:50] NareshRdyC opened #400 "Facing issue related to Facebook API"
I am getting 502 Bad Gateway when I configure Facebook API in given configuration file. No error log is written.
I am using NGINX server with PHP FPM in windows server environment to run applications. I have configured app_id, serceret_key and page_socpes and other in development.json file. And added App Domain in Facebook basic setting. Kindly suggest me to resolve above issue.
Thank you.

[2022-09-02 12:28] NareshRdyC commented on #400
I did some workaround and now getting error on screen while adding a Facebook profile.
WHERE parameter &quot;social_id&quot; has invalid &quot;undefined&quot; value

[2022-09-02 13:40] moblesmarti commented on #400
@NareshRdyC I have been following this project for some time and its maintainers have abandoned it without giving answers to the questions raised.
As a result of these circumstances this new project has arisen.
https://github.com/vaughngx4/OpenSMM

[2022-09-04 13:21] NareshRdyC commented on #400
@moblesmarti : Well noted and thanks for replying.

[2022-10-02 20:19] lmoellendorf commented on #102
I read this thread, especially https://github.com/socioboard/Socioboard-5.0/issues/102#issuecomment-1184424973. So I tried with vaughngx4 fork repo. I added the URLs mentioned in https://github.com/vaughngx4/Socioboard-5.0/blob/development/docker/nginx/ssl/SSL.README.md with my base domain to my routers DNS server and confirmed that they all point to the docker host.

I try to sign up at https://s

[2022-10-03 09:03] vaughngx4 commented on #102
This is probably a result of missing API info (Twilio is required).

However, I've since abandoned the project to lack of response from the developers and nothing working. See #399 .

[2022-10-03 20:16] lmoellendorf commented on #102
Thank you. I added Twilio account information, but maybe not the expected IDs and Key. However, as you are the second one here who says that Socioboard does not work, I should better save my time and look for another solution - maybe [yours](https://github.com/vaughngx4/OpenSMM/tree/development).

[2022-10-04 09:11] vaughngx4 commented on #102
@lmoellendorf OpenSMM is a work in progress. However you can use the version on the main branch to post to Twitter. :)

[2022-10-19 16:11] iamwinner422 opened #402 "Connection refused error"
I am getting net::ERR_CONNECTION_REFUSED when I try to register a new user. I can't find the origin of the problem

`http://localhost:3000/v1/check-username-availability?username=User`

[2022-10-19 16:18] iamwinner422 opened #403 "PM2 Popup non-stop"
When starting micro-sevices with pm2 using this command
`set NODE_ENV=development & cd ./socioboard-api/User & pm2 start user.server.js & cd ../Feeds & pm2 start feeds.server.js & cd ../Publish & pm2 start publish.server.js & cd ../Notification & pm2 start notify.server.js & cd ../Update & pm2 start update.server.js & pm2 status`,  Terminals open and close automatically non-stop.

Is it a pm2 prob

[2022-10-19 16:45] moblesmarti commented on #402
https://github.com/socioboard/Socioboard-5.0/issues/399

[2022-10-19 17:27] iamwinner422 commented on #402
I don't get it 😕

[2022-10-24 14:59] Tobjoern opened #404 "Cannot read properties of null (reading 'account_count')"
Hello,
I followed the steps in the docker setup (Docker.README.md) exactly, but when I try to log-in, I get the error

When I start the compose file for the first time, I get the following log:
[code]

I suspect it has something to do with am error in the db initialization. Can anyone help me with that?

[2022-11-27 08:53] mahavirvataliya commented on #404
There are multiple issue that seen that I have tried to fixed.
The above issue is due to seed is not being executed due to sequelize cli sh: sequelize: Permission denied,

From logs i identified that Plans are not being seeded in table due to created and updated timestamps are not null and required some values,

some of the other issues i had faced is

1. Sequelize cli permission denined
2. Log di

[2022-11-27 11:17] xdubx commented on #378
Hi i add to my reverse proxy the setting X-Forwarded-For.
And add the following lines to app/socioboard-web-php/server.php
[code]
And the error is gone.